<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteCond %{HTTPS} off
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
  </IfModule>
#%PHP_START%#
# Make no changes between _START and _END tag, generated automatically.
AddHandler application/x-lsphp72 .php
#%PHP_END%#

