@use "../functions"as *;

/* -----------------------
  C_contact_btn
----------------------- */
.btn_wrap{
  position: relative;
  @include pc{
    overflow: hidden;
  }
}
.C_contact_btn{
  @include imgCover("contact_btn.jpg");
  display: block;
  text-align: center;
  color: $F-333333;
  transition: 1s;
  @include pc{
    width: p(1201);
    padding: p(125) 0;
    border-radius: p(200);
    background-position: 10% 65%;
    background-size: 110%;
  }
  @include sp{
    width: s(485);
    padding: s(30) 0;
    border-radius:s(150); 
    margin: 0 auto;
    background-position: 0% 98%;
  }
  .TL{
    @include fw700;
    @include pc{
      font-size: p(32);
      letter-spacing: p(4.7);
    }
    @include sp{
      font-size: s(24);
      letter-spacing: s(3.6);
      line-height: 150%;
    }
    span{
      color: $F-EDA571;
    }
  }
  .TX{
    @include fw600;
    line-height: 175%;
    @include pc{
      font-size: pm(16,13);
      letter-spacing: p(2.4);
      margin-top: p(30);
    }
    @include sp{
      font-size: s(16);
      letter-spacing: s(2.4);
      margin-top: s(22);
    }
  }
  &:hover{
    @include pc{
      background-size: 125%;
      transition: 1s;  
    }
  }
}