@use "../functions" as *;

/* -----------------------
  C_nav
----------------------- */

.C_nav {

  @include pc {
    width: p(853);
    margin: 0 auto;
  }

  @include sp {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
  }

  &--inner {

    @include pc {
      display: contents;
    }

    @include sp {
      padding: s(55) 0 s(50);
      background: linear-gradient(180deg, #FFFFFF 57.5%, #C9C9C9 100%);
    }
  }

  &--title {

    .TX {
      @include syn;
      @include fw400;
      font-size: s(36);
      line-height: 113.7%;
      text-align: center;
      letter-spacing: 0.3em;
    }
  }

  &--list {
    display: flex;
    justify-content: space-between;

    @include pc {
      width: 100%;
    }

    @include sp {
      width: s(240);
      margin: s(50) auto 0;
      flex-wrap: wrap;
      gap: s(40);
    }

    li {

      @include sp {
        width: s(100);
      }

      a {
        display: block;
        width: fit-content;
        text-align: center;

        @include pc {
          @include column(p(10));
        }

        @include sp {
          @include column(s(10));
          margin: 0 auto;
        }

        &:hover {
          .icon {
            animation: bounce 0.8s ease-out;

            @keyframes bounce {
              0% {
                transform: translate(0, 0);
              }

              16.6% {
                transform: translate(0, -20px);
                animation-timing-function: ease-in;
              }

              33.3% {
                transform: translate(0, 0);
              }

              49.8% {
                transform: translate(0, -14px);
                animation-timing-function: ease-in;
              }

              66.4% {
                transform: translate(0, 0);
              }

              83% {
                transform: translate(0, -4px);
                animation-timing-function: ease-in;
              }

              100% {
                transform: translate(0, 0);
              }
            }
          }

          .TX {
            &.EN {
              color: $F-EDA571;
            }

          }
        }

        .icon {
          aspect-ratio: 50/45;

          @include pc {
            width: p(50);
            margin: 0 auto;
          }

          @include sp {
            width: s(50);
            margin: 0 auto;
          }

          &.icon--1 {
            @include imgContain("nav_icon01.svg");
          }

          &.icon--2 {
            @include imgContain("nav_icon02.svg");
          }

          &.icon--3 {
            @include imgContain("nav_icon03.svg");
          }

          &.icon--4 {
            @include imgContain("nav_icon04.svg");
          }
        }

        .TX {
          @include fw700;
          line-height: 1;
          letter-spacing: 0.15em;
          transition: all 0.3s;

          &.EN {
            color: $F-333333;

            @include pc {
              font-size: pm(16, 13);
            }

            @include sp {
              font-size: s(16);
            }
          }

          &.JP {
            color: $F-6B6B6B;

            @include pc {
              font-size: pm(13, 10);
            }

            @include sp {
              font-size: s(13);
            }
          }
        }
      }
    }
  }

  &--close {
    position: relative;
    aspect-ratio: 1/1;
    width: s(98);
    border-radius: 50%;
    border: solid p(1) #000000;
    margin: s(64) auto 0;
    cursor: pointer;

    &:hover {
      animation: bounce 0.8s ease-out;
    }

    .TX {
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      @include fw600;
      font-size: s(16);
      line-height: 1;
      letter-spacing: 0.15em;
      color: #000000;
      white-space: nowrap;
    }
  }
}