@use "../functions" as *;

/* -----------------------
  C_nav
----------------------- */

.C_title{
  text-align: center;
  .TL{
    @include syn;
    @include pc{
      font-size: p(55);
      letter-spacing: p(16.5);
    }
  }
  .TL_under{
    color: $F-9D9D9D;
    @include pc{
      font-size: p(20);
      margin-top: p(13);
      letter-spacing: p(6);
    }
  }
}