/*
  accent-color
*/
$accentColorBlue: #DDEBF0;
$accentColorPurple: #4F1454;


/*
  font-color
*/
$CTitleBlack: #000000;
$CTitleGray: #5F5F5F;
$FontColor: #000000;
$maniFontColor: #1E1E1E;
$subFontColor: #838383;
$FontColorBlue: #01BFD5;
$FontColorPurple: #4F1454;

/*
  deco-color
*/
$decoColorBlue: #01BFD5;
$decoColorGray: #031E2A1A;