@use "../functions" as *;

/* -----------------------
  front
----------------------- */

.front{

  &__support {
  
    @include pc{
      margin-bottom: 130px;
    }
    
    @include sp{
      margin-bottom: 82px;
    }
  }
  
  &__set {
  
    @include pc{
      margin-bottom: 200px;
    }
    
    @include sp{
      margin-bottom: 100px;
    }
  
    &--content{
      margin-top: 60px;
  
      @include pc{
        @include column(100px);
      }
      
      @include sp{
        @include column(60px);
      }
    }
  }
  
  &__single {
  
    &--content{
      margin-top: 30px;
    }
  }
}
