@use "../../functions"as *;
@use "../J_functions"as *;

/* -----------------------
  C_recommend_content
----------------------- */

.C_recommend_content {
  background-color: #FFF;

  &--item {
    text-align: center;
    position: relative;

    .icon-wrap {
      display: flex;
      align-items: center;
      @include pc{
        gap: 13px;
      }
      @include sp{
        gap: s(10);
      }

      .icon {
        border-radius: 50%;
        background: linear-gradient(180deg, #5169E2 0%, #51AAE2 100%);
        aspect-ratio: 1/1;
        color: #FFF;
        position: relative;
        margin: 0 auto;
        @include center;
        flex-direction: column;

        @include pc {
          min-width: 110px;
        }

        @include sp {
          min-width: s(160);
        }

        .point {
          @include pc {
            font-size: 18px;
          }

          @include sp {
            font-size: s(28);
          }
        }

        .number {
          @include wt800;

          @include pc {
            font-size: 49px;
            margin-top: 8px;
          }

          @include sp {
            font-size: s(72);
            margin-top: s(5);
          }
        }

      }

      &::before,
      &::after {
        content: "";
        top: 50%;
        transform: translateY(-50%);
        display: block;

        @include pc {
          width: 100%;
          border-top: 4px dotted #51ace2;
        }

        @include sp {
          width: s(230);
          border-top: s(4) dotted #51ace2;
        }
      }


    }

    .TL-wrap {
      position: relative;
      width: fit-content;
      margin: 0 auto;

      @include pc {
        margin-top: 25px;
      }

      @include sp {
        margin-top: s(38);
      }

      .TL {
        @include wt800;
        color: #51ace2;
        z-index: 1;
        position: relative;
        width: fit-content;
        margin: 0 auto;

        @include pc {
          font-size: 40px;
        }

        @media screen and (max-width: 1000px) {
          font-size: 34px;
        }

        @include sp {
          font-size: s(43);
        }

        &.TL-2 {
          @include sp {
            margin-top: s(25);
          }
        }


        &::before {
          content: "";
          position: absolute;
          background-color: #fffb5d;
          width: 105%;
          left: 50%;
          transform: translateX(-50%);
          z-index: -1;

          @include pc {
            height: 20px;
            bottom: -8px;
          }

          @include sp {
            height: s(20);
            bottom: s(-8);
          }
        }
      }

      .second-deco {
        text-align: center;
        @include center;

        @include pc {
          border: 2px solid #51ace2;
          position: absolute;
          aspect-ratio: 1/1;
          border-radius: 50%;
          width: 112px;
          padding-top: 15px;
          top: 50%;
          transform: translateY(-50%);
          right: -153px;
        }

        @media screen and (max-width: 860px) {
          right: -123px;
        }


        @include sp {
          border-radius: 999px;
          width: s(386);
          border: s(2) solid #51ace2;
          padding-block: s(10);
          margin: s(25) auto 0;
        }

        .deco-TX {
          @include wt800;
          color: #51ace2;

          @include pc {
            font-size: 18px;
            line-height: 130%;
          }

          @include sp {
            font-size: s(28);
          }
        }
      }

    }

    .TX {
      @include yu;
      color: #4e4e4e;

      @include pc {
        font-size: 21px;
        margin-top: 40px;
        line-height: 160%;
        @include wt800;
      }

      @include sp {
        font-size: s(28);
        line-height: 150%;
        margin-top: s(40);
        letter-spacing: s(-0.2);
      }
    }
  }
}