@use "../global" as *;

/* -----------------------
  guide
----------------------- */
.guide {

  @include pc {
    padding-bottom: calc((250 / 1280) * 100vw);
  }

  @include sp {
    padding-bottom: calc((325 / 390) * 100vw);
  }

  &--Jr {

    @include pc {
      width: calc((850 / 1280) * 100vw);
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
    }

    @include sp {}

    &--item {
      @include center;

      @include pc {
        width: 50%;
      }

      @include sp {
        width: 100%;
        aspect-ratio: 372/260;
      }

      &--sentence {
        text-align: center;

        @include pc {
          @include column(calc((10 / 1280) * 100vw));
        }

        @include sp {
          @include column(calc((15 / 390) * 100vw));
        }

        h2 {
          font-weight: 600;
          letter-spacing: 0.08em;
          color: $Font--333333;

          @include pc {
            font-size: max(calc((26 / 1280) * 100vw), 20px);
          }

          @include sp {
            font-size: calc((26 / 390) * 100vw);
          }
        }

        p {
          @include yellowtail;
          color: $Font--34572A;

          @include pc {
            font-size: max(calc((14 / 1280) * 100vw), 10px);
          }

          @include sp {
            font-size: calc((14 / 390) * 100vw);
          }
        }
      }

      &.content {

        @include pc {
          aspect-ratio: 425/360;
        }

        @include sp {
          width: 96%;
        }

        p {
          @include yellowtail;
          color: $Font--FFFFFF;

          @include pc {
            font-size: calc((60 / 1280) * 100vw);
          }

          @include sp {
            font-size: calc((60 / 390) * 100vw);
          }
        }
      }

      &.img--1 {
        @include imgCover('guide--1.jpg');

        @include sp {
          margin-left: auto;
        }
      }

      &.img--2 {
        @include imgCover('guide--2.jpg');
      }
    }
  }
}