@use "../../functions" as *;

/* -----------------------
  fv
----------------------- */

.FV {
  position: relative;
  z-index: 1;

  @include pc {
    padding: 35px 30px 0;
  }

  @include sp {
    padding: s(30) s(50) 0;
  }

  &--main {
    position: relative;
    z-index: 2;

    .title__area {
      width: fit-content;
      margin: 0 auto;
      position: relative;
      display: flex;
      justify-content: center;

      @include pc {
        gap: 20px;
        flex-wrap: wrap;
      }

      @include sp {
        flex-direction: column;
        align-items: center;
        gap: s(16);
      }

      .sub {

        @include pc {
          margin-bottom: 10px;
        }

        @include sp {
          margin-bottom: s(11);
        }

        .TX {
          line-height: 1;
          font-weight: 800;

          @include pc {
            font-size: 32.5px;
          }

          @include sp {
            font-size: s(38);
            text-align: center;
          }
        }
      }

      .title {

        @include pc {
          width: 602px;
          margin-bottom: 17px;
        }

        @include sp {
          width: 100%;
          margin-bottom: s(17);
        }

        img {
          width: 100%;
        }
      }

      .text {

        .TX {
          color: #51ACE2;
          line-height: 1;
          display: flex;
          align-items: center;
          font-weight: 800;

          @include pc {
            gap: 10px;
            font-size: 23px;
            justify-content: flex-end;
          }

          @include sp {
            gap: s(10);
            font-size: s(33);
            justify-content: center;
          }

          span {
            display: inline-block;
            background-color: #f9ff5f;
            color: #0062b0;
            line-height: 1;
            border: solid #0062b0;

            @include pc {
              border-radius: 100px;
              padding: 5px 15px;
              font-size: 24px;
              border-width: 2px;
            }

            @include sp {
              border-radius: s(100);
              padding: s(8) s(18);
              font-size: s(32);
              border-width: s(4);
            }
          }
        }
      }

      .type {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        z-index: 1;
        box-shadow: 0 0 20px 20px rgb(255 255 255 / 50%);

        @include pc {
          width: 134px;
          height: 134px;
        }

        @include me(834, 768) {
          margin-left: auto;
        }

        @include sp {
          width: s(134);
          height: s(134);
        }

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          @include imgContain("bubble.webp");
          z-index: -1;
        }

        @include pc {
          margin-top: 23px;
        }


        .TX {
          text-align: center;
          font-weight: 800;
          color: #0062b0;

          @include pc {
            font-size: 47px;
          }

          @include sp {
            font-size: s(47);
          }


          span {
            display: block;
            font-weight: 400px;
            @include tbudr;

            @include pc {
              font-size: 24px;
            }

            @include sp {
              font-size: s(28);
            }
          }
        }
      }
    }
  }

  &--sub {
    display: flex;
    position: relative;
    z-index: 2;

    @include pc {
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: -40px;
      gap: 0px;
    }

    @include me(1152, 768) {
      margin-top: 0px;

      .tag {
        margin-right: auto;
      }
    }

    @include me(834, 768) {
      margin-top: -180px;
    }

    @include sp {
      flex-direction: column;
      gap: s(10);
      margin-top: s(-34);
    }

    .tag {

      @include pc {
        width: 384px;
      }

      @include sp {
        width: s(511);
        margin-left: s(-30);
      }

      img {
        width: 100%;
      }
    }

    ul {
      display: flex;

      @include pc {
        gap: 12px;
        transform: translateX(-20px);
      }

      @include sp {
        gap: s(10);
        justify-content: center;
        align-items: center;
      }

      li {
        display: flex;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1;
        background-color: #51ace2;
        border-radius: 50%;
        border: solid #FFF;

        @include pc {
          border-width: 2px;
          width: 163px;
        }

        @include sp {
          border-width: s(2);
          width: s(178);
        }

        &:last-child {
          background-color: #004cb0;
        }

        .TX {
          text-align: center;
          line-height: 1.2;
          font-weight: 800;
          color: #FFF;

          @include pc {
            font-size: 26px;
          }

          @include sp {
            font-size: s(29);
          }
        }
      }
    }
  }

  &--BK {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

    @include pc {
      max-width: 1440px;
    }


    .bubbles {
      position: absolute;
      aspect-ratio: 356 / 534;
      @include imgContain("bubbles.webp");
      z-index: 3;

      @include pc {
        width: 356px;
        top: 40px;
        left: -40px;
      }
    }


    .img {
      position: absolute;
      aspect-ratio: 733 / 473;
      @include imgContain("FV-bg.webp");
      z-index: 1;

      @include pc {
        width: 733px;
        top: -10px;
        right: -10px;
      }

      @include me(1152, 768) {
        top: 30%;
      }

      @include sp {
        width: s(733);
        top: 55%;
        right: 0;
        transform: translateY(-50%);
      }

      .white {
        background-image: linear-gradient(90deg, #FFF 0%, #FFF 50%, #ffffff00 100%);
        position: absolute;
        top: 0;
        z-index: 2;

        @include pc {
          aspect-ratio: 522 / 499;
          left: -240px;
          width: 522px;
        }

        @include sp {
          aspect-ratio: 474 / 499;
          left: 0;
          width: s(474);
        }
      }
    }
  }

}