@use "mixin" as *;
@use "variables" as *;

// textContents PC
.textContents {
  @include pc {
    padding: calc((62 / 1280) * 100vw) 0 calc((65 / 1280) * 100vw);
    @include img('textContents-back.jpg');
    background-size: cover;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(244, 242, 240, 0.38);
      width: 100%;
      height: 100%;
    }

    .text {
      @include column(calc((30 / 1280) * 100vw));
      width: max(calc((826 / 1280) * 100vw), 700px);
      margin: 0 auto;
      position: relative;

      p {
        color: #3F2F12;
        text-align: center;
        @include mincho;
        font-size: max(calc((16 / 1280) * 100vw), 14px);
        font-weight: 600;
        line-height: 225%;
      }
    }
  }
}


// textContents SP
.textContents {
  @include sp {
    padding: calc((37 / 390) * 100vw) calc(( 36 / 1280) * 100vw) calc((36 / 390) * 100vw);
    @include img('textContents-back.jpg');
    background-size: cover;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(244, 242, 240, 0.38);
      width: 100%;
      height: 100%;
    }

    .text {
      @include column(calc((20 / 390) * 100vw));
      width: 100%;
      margin: 0 auto;
      position: relative;

      p {
        color: #3F2F12;
        text-align: center;
        @include mincho;
        font-size: calc((16 / 390) * 100vw);
        font-weight: 600;
        line-height: 175%;
      }
    }
  }
}