@use "../functions" as *;


/* -----------------------
  C_business-items
----------------------- */

.C_business-items {

  @include pc {
    @include column(pclamp(100));
  }

  @include sp {
    @include column(s(60));
  }

  .item {
    width: 100%;
    display: flex;

    @include pc {
      justify-content: space-between;
    }

    @include sp {
      flex-direction: column;
      gap: s(30);
    }

    .item--img {

      @include pc {
        width: pmin(607);
        height: pmin(324);
      }


      @include sp {
        aspect-ratio: 390/211;
        width: 100%;
      }

      &.img--01 {
        @include imgCover("business-item-01.jpg");
      }

      &.img--02 {
        @include imgCover("business-item-02.jpg");
      }

      &.img--03 {
        @include imgCover("business-item-03.png");
      }

      &.img--04 {
        @include imgCover("business-item-04.jpg");
      }

      &.img--05 {
        @include imgCover("business-item-05.jpg");
      }

      &.img--06 {
        @include imgCover("business-item-06.jpg");
      }
    }

    .item--contents {
      display: flex;

      @include pc {
        width: pmin(500);
        flex-direction: column;
        justify-content: space-between;
        gap: pmin(20);
      }

      @include sp {
        padding-inline: s(20);
        gap: s(62);
      }

      .title {
        width: fit-content;
        white-space: nowrap;

        @include sp {
          flex-shrink: 0;
          margin-top: s(10);
        }

        .TL {
          color: $F-000000;
          line-height: 1;
          writing-mode: vertical-rl;

          @include pc {
            font-size: pclamp(20);
            width: pclamp(20);
            letter-spacing: pclamp(8);
          }

          @include sp {
            font-size: s(20);
            width: s(20);
            letter-spacing: s(8);
          }
        }
      }

      .TX--containaer {

        @include sp {
          width: 100%;
        }

        .TX {

          @include pc {
            font-size: pclamp(16);
            line-height: 250%;
          }

          @include sp {
            font-size: s(16);
            line-height: 187%;
          }
        }
      }
    }

    &:nth-child(odd) {

      @include pc {
        flex-direction: row-reverse;
        padding-left: pmin(100);
      }

      .item--contents {

        .title {

          @include pc {
            margin-left: auto;
          }
        }
      }
    }

    &:nth-child(even) {

      @include pc {
        padding-right: pmin(100);
      }

      .item--contents {

        .title {

          @include pc {
            margin-right: auto;
          }
        }
      }
    }
  }
}