@use "../functions" as *;


/* -----------------------
  C_example-item
----------------------- */

.C_example-item {

  @include pc {
    @include column(pclamp(160));
  }

  @include sp {
    @include column(s(100));
  }

  .item {

    @include pc {
      @include column(pclamp(35));
    }

    @include sp {
      @include column(s(82));
    }

    .img--area {
      display: flex;
      position: relative;

      @include pc {
        width: fit-content;
        margin-left: auto;
        align-items: flex-end;
        gap: pclamp(20);
      }

      @include sp {
        flex-direction: column;
        gap: s(20);
      }

      &::before {
        content: "";
        position: absolute;

        @include pc {
          aspect-ratio: 155 / 16;
          width: pmin(155);
          bottom: pmin(22);
          left: 38%;
          transform: translateX(-50%) skewX(45deg);
          border-bottom: pmin(1) solid $F-1A1919;
          border-right: pmin(1) solid $F-1A1919;
        }

        @include sp {
          aspect-ratio: 19 / 162;
          width: s(19);
          top: 50%;
          left: s(15);
          transform: translateY(-50%) skewY(45deg);
          border-bottom: s(5) solid $F-D77F3F;
          border-right: s(5) solid $F-D77F3F;
        }
      }

      .img--wrapper {

        @include sp {
          width: 100%;
          height: s(266);
        }

        &.before {

          @include pc {
            width: pmin(295);
            height: pmin(294);
          }
        }

        &.after {

          @include pc {
            width: pmin(453);
            height: pmin(344);
          }
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .contents-area {
      position: relative;

      .C_vert-title {
        position: absolute;

        @include pc {
          top: 0;
          transform: translateY(-60%);
          left: pclamp(37);
        }

        @include sp {
          top: s(-70);
          left: 50%;
          transform: translateX(-50%);
        }
      }

      .TX--containaer {
        background-color: $P-FAFAFA;

        @include pc {
          padding: pclamp(45) pclamp(153);
        }

        @include sp {
          padding: s(98) s(25) s(33);
        }

        .TX {
          color: #292929;
          @include kaku;
          @include wt400;
          line-height: 200%;

          @include pc {
            font-size: pclamp(16);
            letter-spacing: pclamp(1.28);
          }

          @include sp {
            font-size: s(16);
            letter-spacing: s(1.28);
          }
        }
      }
    }
  }
}