@use "../functions" as *;


/* -----------------------
  C_recruit
----------------------- */

.C_recruit {

  @include pc {
    padding-inline: pmin(78);
    @include column(pclamp(60));
  }

  @include sp {
    @include column(s(60));
  }

  &--hero {

    @include pc {
      @include column(pclamp(60));
    }

    @include sp {
      @include column(s(30));
    }

    .img--wrapper {
      position: relative;

      .hero--img {
        @include imgCover("recruit_hero.jpg");
        width: 100%;
        position: relative;
        z-index: 1;

        @include pc {
          aspect-ratio: 724 / 347;
        }

        @include sp {
          aspect-ratio: 350 / 395;
          background-position: center right 10%;

          &::before {
            content: "";
            position: absolute;
            z-index: 2;
            inset: 0;
            background: linear-gradient(237deg, rgba(255, 255, 255, 0.74) 25.32%, rgba(255, 255, 255, 0.00) 55.55%);
          }
        }
      }

      .hero--text {
        width: fit-content;
        position: absolute;
        z-index: 3;

        @include pc {
          top: 0;
          right: 0;
          transform: translate(50%, -20%);
        }

        @include sp {
          top: 0;
          right: 0;
          transform: translate(0, -30%);
        }

        .hero--text--inner {
          display: flex;
          flex-direction: row-reverse;

          @include pc {
            gap: pclamp(20);
          }

          @include sp {
            gap: s(20);
          }


          .TX {
            writing-mode: vertical-rl;
            line-height: 1;

            @include pc {
              font-size: pclamp(20);
              letter-spacing: pclamp(8);
              width: pclamp(20);
            }

            @include sp {
              font-size: s(20);
              letter-spacing: s(8);
              width: s(20);
            }
          }
        }
      }
    }

    .hero--contents {

      .text {
        .TX {

          @include pc {
            font-size: pclamp(16);
            letter-spacing: pclamp(-0.16);
          }

          @include sp {
            font-size: s(16);
            letter-spacing: s(-0.16);
          }
        }
      }
    }
  }

  &--contents {

    @include pc {
      @include column(pclamp(30));
    }

    @include sp {
      @include column(s(60));
    }

    .item {

      @include pc {
        @include column(pclamp(5));
      }

      @include sp {
        @include column(s(5));
      }

      .item--title {

        @include sp {
          padding-inline: s(7);
        }

        .TL {
          color: $F-7C7C7C;

          @include pc {
            font-size: pclamp(19);
            letter-spacing: pclamp(-0.19);
          }

          @include sp {
            font-size: s(19);
            letter-spacing: s(-0.19);
          }
        }
      }


      .item--lists {

        .list {
          border-bottom: solid $P-D6D6D6;
          display: flex;

          @include pc {
            border-bottom-width: pclamp(1);
            gap: pclamp(10);
            padding: pclamp(15) pmin(18);
          }

          @include sp {
            border-bottom-width: s(1);
            flex-direction: column;
            gap: s(15);
            padding: s(15) s(18);
          }

          &:first-child {
            border-top: solid $P-D6D6D6;

            @include pc {
              border-top-width: pclamp(1);
            }

            @include sp {
              border-top-width: s(1);
            }
          }

          .list--title {

            @include pc {
              width: pclamp(110);
              flex-shrink: 0;
            }

            .TX {
              color: $F-292929;
              line-height: 162%;

              @include pc {
                font-size: pclamp(16);
                letter-spacing: pclamp(1.6);
              }

              @include sp {
                font-size: s(16);
                letter-spacing: s(1.6);
              }
            }
          }

          .list--contents {
            width: 100%;

            .TX {
              color: $F-292929;
              line-height: 200%;

              @include pc {
                font-size: pclamp(13);
                letter-spacing: pclamp(1.3);
              }

              @include sp {
                font-size: s(13);
                letter-spacing: s(1.3);
              }
            }
          }
        }
      }
    }
  }
}