@use "../functions" as *;


/* -----------------------
  C_selector
----------------------- */

.C_selector {

  @include pc {
    width: fit-content;
  }

  @include sp {
    width: 100%;
  }

  &--inner {
    border-top: solid $F-1A1919;

    @include pc {
      padding-inline: pclamp(16);
      border-top-width: pclamp(1);
    }

    @include sp {
      padding-inline: pclamp(13);
      border-top-width: pclamp(1);
    }

    .lists {
      display: flex;
      flex-direction: row-reverse;

      @include pc {
        gap: pclamp(35);
      }

      @include sp {
        justify-content: space-between;
      }

      .list {
        cursor: pointer;
        position: relative;
        height: fit-content;
        transition: all 0.5s ease;

        @include pc {
          padding-block: pclamp(15) pclamp(35);
        }

        @include sp {
          padding-block: pclamp(8) pclamp(31);
        }

        &::before {
          content: "";
          position: absolute;
          z-index: 1;
          top: 0%;
          left: 50%;
          transform: translateX(-50%);
          width: 240%;
          height: 0%;
          background: linear-gradient(180deg, #D77F3F 0%, rgba(215, 127, 63, 0.00) 100%);
          transition: all 0.5s ease;
        }

        .TX {
          line-height: 1;
          writing-mode: vertical-rl;
          position: relative;
          z-index: 2;

          @include pc {
            font-size: pclamp(24);
            width: pclamp(24);
            letter-spacing: pclamp(10);
          }

          @include sp {
            font-size: pclamp(20);
            width: pclamp(20);
            letter-spacing: pclamp(10);
          }
        }

        &:hover {

          @include pc {
            padding-top: pclamp(34);
          }

          @include sp {
            padding-top: pclamp(24);
          }

          &::before {
            height: 100%;
            background: linear-gradient(180deg, #D77F3F 0%, rgba(215, 127, 63, 0.00) 100%);
            opacity: 0.6;
          }
        }

        &.selected {

          @include pc {
            padding-top: pclamp(34);
          }

          @include sp {
            padding-top: pclamp(24);
          }

          &::before {
            height: 100%;
          }
        }
      }
    }
  }
}