@use "../../functions"as *;
@use "../J_functions"as *;

/* -----------------------
  C_compare-tab
----------------------- */

.tab-wrapper {
  background-color: $B-FEA3A6;

  @include pc {
    border: 2px solid $P-FEA3A6;
    padding: 43px 47px 83px;
    border-radius: 8.289px;
    margin-bottom: 160px;
  }

  @include sp {
    border: 1.8px solid $P-FEA3A6;
    padding: 24px 16px 38px;
    border-radius: 8.289px;
    margin-bottom: 106px;
  }
}

.C_compare-tab {
  &-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include pc {
      margin-top: 52px;
      gap: 9px;
    }

    @include sp {
      margin-top: 29px;
      gap: 7px;
    }

    li {
      cursor: pointer;
      background-color: $P-FEA3A6;
      color: $F-sub;
      width: 100%;

      @include pc {
        padding: 14px 0;
        border-radius: 14px 14px 0px 0px;
        border: 2px solid $P-FEA3A6;
        border-bottom: none
      }

      @include sp {
        padding: 16px 0;
        border-radius: 12.894px 12.894px 0px 0px;
        border: 1.8px solid $P-FEA3A6;
        border-bottom: none
      }

      .tab-TL {
        @include wt600;
        text-align: center;

        @include pc {
          font-size: 23px;
        }

        @include sp {
          font-size: 10px;
          letter-spacing: 1px;
        }
      }

      &.active {
        background-color: $B-FFF;
        color: $F-main;
        position: relative;

        @include pc {
          border: 2px solid $P-FEA3A6;
          border-bottom: none;
        }

        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 5px;
          background-color: $P-FFF;
          bottom: -2px;
          left: 0;
        }
      }
    }
  }

  &-content {
    background-color: $B-FFF;
    width: 100%;

    @include pc {
      border: 2px solid $P-FEA3A6;
      padding: 18px 32px 34px;
      border-radius: 0px 0px 8.289px 8.289px
    }

    @include sp {
      border: 1.8px solid $P-FEA3A6;
      padding: 37px 17px 40px;
      border-radius: 0px 0px 9px 9px;
    }

    table {
      width: 100%;

      @include pc {
        border-spacing: 6px 8px;
      }

      @include sp {
        border-spacing: 3px 3.6px;
      }

      tbody {
        tr {
          th {
            background-color: $P-FFEEEE;
            padding: 18px 0;
            text-align: center;
            @include wt300;

            @include pc {
              font-size: 15px;
            }

            @include sp {
              font-size: 6.75px;
            }
          }

          td {
            vertical-align: middle;
            line-height: 1.5;

            @include pc {
              border: 5px solid #FEE;
              font-size: 15px;
              letter-spacing: 1.5px;
            }

            @include sp {
              border: 2.25px solid #FEE;
              font-size: 6.7px;
              letter-spacing: 0.6px;
            }

            &.logo {
              @include pc {
                padding: 35px 11px 40px;
              }

              @include sp {
                min-width: 45px;
                padding: 16px 5px 18px;
              }

              img {
                object-fit: contain;
                width: 100%;
              }
            }

            &.good {
              .inner {
                display: flex;
                flex-direction: column;

                @include pc {
                  gap: 15px;
                }

                @include sp {
                  gap: 5px;
                }

                .icon {
                  aspect-ratio: 1/1;
                  margin: 0 auto;

                  @include pc {
                    width: 41px;
                  }

                  @include sp {
                    width: 18.5px;
                  }
                }

                .number {
                  text-align: center;
                }
              }
            }

            &.detail {
              overflow: hidden;

              a {
                @include iconContain($detail-bg);
                display: block;
                display: grid;
                place-items: center;
                margin: 0 auto;
                position: relative;

                @include pc {
                  width: 51px;
                  height: 150px;
                }

                @include sp {
                  width: 22px;
                  height: 67px;
                }

                .TX {
                  @include wt600;
                  writing-mode: vertical-rl;
                  color: $F-sub;

                  @include pc {
                    font-size: 15px;
                    letter-spacing: 7.5px;
                  }

                  @include sp {
                    font-size: 6.7px;
                    letter-spacing: 3px;
                    margin-right: 7%;

                  }
                }

                &::before {
                  content: "";
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  transform: skewX(-15deg);
                  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .4) 100%);
                  left: -150%;
                  animation: shine 3s ease infinite;

                  @keyframes shine {
                    0%,40%{
                      left: -150%;
                    }

                    60%,100% {
                      left: 150%;
                    }

                  }
                }
              }
            }

            &.iconTX {
              .inner {
                display: flex;
                flex-direction: column;

                @include pc {
                  gap: 5px;
                }

                @include sp {
                  gap: 2.5px;
                }

                .TX {
                  display: flex;

                  // align-items: center;
                  @include pc {
                    gap: 5px;
                  }

                  @include sp {
                    gap: 2.5px;
                  }

                  &::before {
                    content: "";
                    color: $F-sub;
                    // display: grid;
                    // align-items: center;
                    text-align: center;
                    aspect-ratio: 1/1;
                    @include wt600;
                    @include tsuku;

                    @include pc {
                      width: 21px;
                      height: 22px;
                      line-height: 22px;
                    }

                    @include sp {
                      width: 10.7px;
                      height: 11.2px;
                      line-height: 11.2px;
                    }
                  }
                }

              }
            }

          }
        }
      }

      &.content-01 {
        tr {
          th {
            &:nth-child(1) {
              @include pc {
                width: calc(180 / 842 * 100%);
                min-width: 135px;
              }

              @include sp {
                width: calc(81 / 291 * 100%);
              }
            }

            &:nth-child(2) {
              @include pc {
                width: calc(160 / 842 * 100%);
              }

              @include sp {
                width: calc(50 / 291 * 100%);
              }
            }

            &:nth-child(3) {
              @include pc {
                width: calc(95 / 842 * 100%);
                min-width: 84px;
              }

              @include sp {
                width: 42px;
              }
            }

            &:nth-child(4) {
              @include pc {
                width: calc(266 / 842 * 100%);
              }

              @include sp {
                width: calc(58 / 291 * 100%);
              }
            }

            &:nth-child(5) {
              @include pc {
                width: calc(114 / 842 * 100%);
              }

              @include sp {
                width: calc(51 / 291 * 100%);
              }
            }
          }

          td {

            &.rating {
              .star-box {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin: 0 auto;

                @include pc {
                  width: 81px;
                  gap: 3px;
                }

                @include sp {
                  width: 35px;
                }

                img {
                  object-fit: contain;
                  aspect-ratio: 1/1;

                  @include pc {
                    width: 25px;
                  }

                  @include sp {
                    width: 11px;
                  }
                }
              }

              .rating-number {
                cursor: pointer;
                text-align: center;
                letter-spacing: 0.1em;
                text-decoration-line: underline;
                color: $F-E56B81;

                @include pc {
                  font-size: 17px;
                  margin-top: 10px;
                }

                @include sp {
                  font-size: 7.6px;
                  margin-top: 5px;
                }
              }
            }

            &.jobCount {
              @include sp {
                max-width: 30px;
                overflow-x: scroll;
              }

              .inner {
                @include sp {
                  margin: 0 auto;
                  width: 40px;
                }
              }
            }

            &.feature {
              @include pc {
                padding-inline: 28px;
              }

              @include sp {
                padding-inline: 6px;
                max-width: 30px;
                overflow-x: scroll;
              }

              .TX {
                @include sp {
                  width: 50px;
                }
              }

              span {
                @include wt600;
                color: $F-E56B81;
              }
            }

          }
        }
      }

      &.content-02 {
        display: none;

        tr {
          th {
            width: 25%;
          }

          td {
            &.industry {
              @include sp {
                overflow-x: scroll;
                max-width: 50px;
              }

              .inner {

                // margin: 0 auto;
                // width: fit-content;
                @include pc {
                  padding-left: 15%;
                }

                @include sp {
                  padding-left: 10%;
                  width: 52px;

                }

                .TX {
                  align-items: center;

                  &.industry01 {
                    &::before {
                      content: "正";
                      background-color: $P-E56C81;
                    }
                  }

                  &.industry02 {
                    &::before {
                      content: "准";
                      background-color: $P-F3A8B5;
                    }
                  }

                  &.industry03 {
                    &::before {
                      content: "保";
                      background-color: $P-76B870;
                    }
                  }

                  &.industry04 {
                    &::before {
                      content: "助";
                      background-color: $P-71C4E5;
                    }
                  }
                }
              }
            }

            &.workStyle {
              @include sp {
                overflow-x: scroll;
                max-width: 50px;
              }

              .inner {
                @include pc {
                  padding-left: 15%;
                }

                @include sp {
                  padding-left: 10%;
                  width: 57px;
                }

                .TX {
                  &.workStyle01 {
                    &::before {
                      content: "常";
                      background-color: $P-7079B8;
                    }
                  }

                  &.workStyle02 {
                    &::before {
                      content: "常";
                      background-color: $P-E5B571;
                    }
                  }
                }
              }
            }
          }
        }
      }

      &.content-03 {
        display: none;

        tr {
          th {
            width: 25%;
          }

          td {
            &.timing {
              text-align: center;
            }
          }
        }
      }
    }
  }
}