@use "../../functions" as *;
@use "../J_functions" as *;

/* -----------------------
  C_compare
----------------------- */

.C_compare{
  .C_noFrame{
    margin: 0 auto;
  }
  .tab-wrapper{
    @include pc{
      margin-top: 20px;
    }
    @include sp{
      margin-top: 16px;
    }
    .counter-container{
      background-color: $B-FFF;
      border-radius: 999px;
      margin: 0 auto;
      @include pc{
        width: 595px;
        padding: 23px 0 17px;
      }
      @include sp{
        position: relative;
        @include p-center-left;
        width: 105%;
        padding:22px 24px;
      }
      .text{
        @include tsuku;
        @include wt700;
        text-align: center;
        letter-spacing: 0.1em;
        @include pc{
          font-size: 26px;
        }
        @include sp{
          letter-spacing: 1px;
          font-size: 16.8px;
        }
        span{
          color: $F-E56B81;
          animation: flash 2s ease-in infinite;

          @keyframes flash {
            0% {
              opacity: 1;
            }
            50% {
              opacity: 0.1;
            }
            100% {
              opacity: 1;
            }
          }
          @include pc{
            font-size: 37px;
          }
          @include sp{
            font-size: 24px;
          }
        }
      }
    }
  }
}