@use "../../functions"as *;
@use "../J_functions"as *;

/* -----------------------
  C_terms
----------------------- */

.C_terms-TL {
  background: linear-gradient(90deg, $B-FAB0C0-02 0%, $B-F7E5ED 100%);
  width: 100%;

  @include pc {
    padding: 15px 0 15px 26px;
  }

  @include sp {
    padding: 15px 0 15px 24px;
  }

  .TL {
    @include kiwi;
    color: $F-sub;
  }
}


.C_terms-content {

  .TX {
    font-size: 15px;
    line-height: 173%;

    span {
      @include wt600;
    }
  }

  
  &.company{
    .list{
      .item{
        border-bottom: 1px solid $P-C3C3C3;
        margin-top: 15.5px;
        @include pc{
          display: flex;
          padding-bottom: 8px;
        }
        @include sp{
          padding-bottom: 10px;
        }
        .label{
          font-size: 14px;
          background-color: $P-F4B3B4;
          text-align: center;
          padding: 6px 0;
          display: grid;
          place-items: center;
          @include pc{
            min-width: 197px;
          }
        }
        .TX{
          font-size: 14px;
          @include pc{
            margin-left: 64px;
          }
          @include sp{
            text-align: center;
            margin-top: 9px;
          }
        }  
        &:first-child{
          margin-top: 0;
        }  
        & p:empty {
          display: none; /* 空のpを非表示 */
        }
        
      }
    }
  }
}

