
// フォントカラー
$F-FFF: #FFF;
$F-F4F4F9: #F4F4F9;
$F-191A1B: #191A1B;
$F-1E1E1E: #1E1E1E;
$F-505050: #505050;
$F-5F5F5F: #5F5F5F;
$F-838383: #838383;
$F-8E8E8E: #8E8E8E;
$F-9F9F9F: #9F9F9F;
$F-D7D7D7: #D7D7D7;
$F-F4F3F3: #F4F3F3;
$F-333: #333;
$F-000: #000;
$F-031E2A: #031E2A;
$F-01BFD5: #01BFD5;


// 背景カラー
$B-FFF: #FFF;
$B-F7F7F6: #F7F7F6;
$B-1E1E1E: #1E1E1E;



// パーツカラー
$P-000: #000;
$P-333: #333;
$P-FFF: #FFF;
$P-1E1E1E: #1E1E1E;
$P-8D8D8D: #8D8D8D;
$P-9F9F9F: #9F9F9F;
$P-D6D6D6: #D6D6D6;
$P-031E2A: #031E2A;
$P-4B9693: #4B9693;
$P-63BABA: #63BABA;
$P-01BFD5: #01BFD5;
$P-D9D9D9: #D9D9D9;
$P-C0C0C0: #C0C0C0;
$P-DFDFDF: #DFDFDF;
$P-D9D9D9: #D9D9D9;
$P-191A1B: #191A1B;
$P-err: rgba(1, 191, 213, 0.10);


