// フォント
// font-family: 'Tsukushi B Round Gothic';
@mixin Tsukushi {
  font-family: "fot-tsukubrdgothic-std", sans-serif;
  font-style: normal;
}


// font-weight:;
@mixin regular {
  font-weight: 400;
}
@mixin bold {
  font-weight: 700;
}



// line-height
@mixin lineHeight($font-size, $line-height) {
  $line-height-percentage: ($line-height / $font-size) * 100%;

  line-height: $line-height-percentage;
}

// サイズ
@function p($size, $viewport: 1280) {
  $rate: calc(100 / $viewport);
  @return $rate * $size * 1vw;
}
// font-size: p(50);

@function pm($size, $maxSize: $size, $viewport: 1280) {
  $rate: calc(100 / $viewport);
  $calculatedSize: $rate * $size * 1vw;
  @return max(#{$calculatedSize}, #{$maxSize}px);
}
// font-size: pm(50,40);

@function pmin($size, $maxSize: $size, $viewport: 1280) {
  $rate: calc(100 / $viewport);
  $calculatedSize: $rate * $size * 1vw;
  @return min(#{$calculatedSize}, #{$maxSize}px);
}
// font-size: pmin(-50,-40);

@function s($size, $viewport: 390) {
  $rate: calc(100 / $viewport);
  @return $rate * $size * 1vw;
}
// font-size: s(50);

