@use "../../functions"as *;

/* -----------------------
  password-form
----------------------- */
.password-form {
  padding: 100px 20px 0;

  
  @include pc{
    max-width: 960px;
    margin: 0 auto;
  }
  
  @include sp{}

  h2 {
    margin-bottom: 20px;
  }

  .text-center{
    margin-top: 20px;
  }

  .mainForm{
    margin-top: 50px;

    .btn_m , .btn_s{
      background-color: gainsboro;
    }
  }
}
