// Lucida Grande
@mixin Lucida {
  font-family: 'Lucida Grande', sans-serif;
  font-style: normal;
  line-height: normal;
}

@mixin oswald {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  line-height: normal;
}

// Hiragino Kaku Gothic Pro
@mixin Pro {
  font-family: 'Hiragino Kaku Gothic Pro', sans-serif;
  font-style: normal;
  line-height: normal;
}

// Hiragino Kaku Gothic StdN
@mixin StdN {
  font-family: 'Hiragino Kaku Gothic StdN', sans-serif;
  font-style: normal;
  line-height: normal;
}

@mixin Lalezar {
  font-family: 'Lalezar', cursive;
  font-style: normal;
  line-height: normal;
}

@mixin Inter {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  line-height: normal;
}

@mixin Toppan{
  font-family: "toppan-bunkyu-midashi-min-st", serif;
  font-weight: 900;
  font-style: normal;
}


$pc: 768px; // PC
$sp: 767px; // スマホ

@mixin pc {
  @media screen and (min-width: ($pc)) {
    @content;
  }
}

@mixin sp {
  @media screen and (max-width: ($sp)) {
    @content;
  }
}

@mixin more--btn($sidePadding : calc((98 / 1280) * 100vw), $sidemargin : 0 0 0 auto) {
  .more--btn {
    @include pc {
      background-color: #FFF;
      padding: calc((6 / 1280) * 100vw) $sidePadding calc((2 / 1280) * 100vw);
      width: fit-content;
      border: solid 1px #FCE5B3;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
      transform: skew(-20deg);
      margin: $sidemargin;
      position: relative;
      transition: all .5s ease;

      &:hover {
        transition: all .8s ease;
        background-color: #FCE5B3;
      }

      &:hover .page--link__more--br {
        transition: all 0.8s ease;
        background-color: #fff;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);

      }

      p {
        @include Lalezar;
        color: #292929;
        text-align: center;
        font-size: max(calc((20 / 1280) * 100vw), 20px);
        font-weight: 400;
        letter-spacing: 1px;
        margin: 0;
        transform: skew(20deg);
      }

      .page--link__more--br {
        width: calc((56 / 1280) * 100vw);
        height: calc((2 / 1280) * 100vw);
        background-color: #FCE5B3;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        right: calc((-25 / 1280) * 100vw);
        transition: all .5s ease;
      }
    }
  }
}

@mixin more--btn--sp($sidePadding--sp : calc((55 / 390) * 100vw), $sidemargin--sp : 0 0 0 auto) {
  .more--btn {
    @include sp {
      background-color: #FFF;
      padding: calc((1 / 390) * 100vw) $sidePadding--sp calc((2 / 390) * 100vw);
      width: fit-content;
      border: solid 1px #FCE5B3;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
      transform: skew(-20deg);
      margin: $sidemargin--sp;
      position: relative;

      &:hover {
        background-color: #FCE5B3;
      }

      &:hover .page--link__more--br {
        background-color: #fff;
      }

      p {
        @include Lalezar;
        color: #292929;
        text-align: center;
        font-size: calc((16 / 390) * 100vw);
        font-weight: 400;
        letter-spacing: 0.8px;
        margin: 0;
        transform: skew(20deg);
      }

      .page--link__more--br {
        width: calc((34 / 390) * 100vw);
        height: calc((2 / 390) * 100vw);
        background-color: #FCE5B3;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        right: calc((-10 / 390) * 100vw);
      }
    }
  }
}
@mixin iconCover($img){
  background-image: $img;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

$open-icon: url('data:image/svg+xml;utf-8,<svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.5 3.999C7.327 3.999 8 4.672 8 5.499C8 6.326 7.327 6.999 6.5 6.999C5.673 6.999 5 6.326 5 5.499C5 4.672 5.673 3.999 6.5 3.999ZM6.5 2.999C5.83696 2.999 5.20107 3.26239 4.73223 3.73123C4.26339 4.20007 4 4.83596 4 5.499C4 6.16204 4.26339 6.79793 4.73223 7.26677C5.20107 7.73561 5.83696 7.999 6.5 7.999C7.16304 7.999 7.79893 7.73561 8.26777 7.26677C8.73661 6.79793 9 6.16204 9 5.499C9 4.83596 8.73661 4.20007 8.26777 3.73123C7.79893 3.26239 7.16304 2.999 6.5 2.999ZM14 7.999C14.45 8.05 15.27 9.803 15.779 12H4.387C4.821 10.966 5.442 9.999 5.999 9.999C6.805 9.999 7.124 10.184 7.529 10.419C7.976 10.677 8.535 10.999 9.499 10.999C10.637 10.999 11.441 10.114 12.152 9.333C12.779 8.646 13.37 7.999 14 7.999ZM14 6.999C12 6.999 11 9.999 9.5 9.999C8 9.999 8.001 8.999 6 8.999C4 8.999 2.999 12.999 2.999 12.999H17C17 12.999 16 6.999 14 6.999ZM20 2C20 1.46957 19.7893 0.960859 19.4142 0.585786C19.0391 0.210714 18.5304 0 18 0H2C1.46957 0 0.960859 0.210714 0.585786 0.585786C0.210714 0.960859 0 1.46957 0 2V14C0 14.5304 0.210714 15.0391 0.585786 15.4142C0.960859 15.7893 1.46957 16 2 16H18C18.5304 16 19.0391 15.7893 19.4142 15.4142C19.7893 15.0391 20 14.5304 20 14V2ZM18 14H2V2H18.003L18 14Z" fill="%23FF7F0A"/></svg>');

$close-icon: url('data:image/svg+xml;utf-8,<svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.5 3.999C7.327 3.999 8 4.672 8 5.499C8 6.326 7.327 6.999 6.5 6.999C5.673 6.999 5 6.326 5 5.499C5 4.672 5.673 3.999 6.5 3.999ZM6.5 2.999C5.83696 2.999 5.20107 3.26239 4.73223 3.73123C4.26339 4.20007 4 4.83596 4 5.499C4 6.16204 4.26339 6.79793 4.73223 7.26677C5.20107 7.73561 5.83696 7.999 6.5 7.999C7.16304 7.999 7.79893 7.73561 8.26777 7.26677C8.73661 6.79793 9 6.16204 9 5.499C9 4.83596 8.73661 4.20007 8.26777 3.73123C7.79893 3.26239 7.16304 2.999 6.5 2.999ZM14 7.999C14.45 8.05 15.27 9.803 15.779 12H4.387C4.821 10.966 5.442 9.999 5.999 9.999C6.805 9.999 7.124 10.184 7.529 10.419C7.976 10.677 8.535 10.999 9.499 10.999C10.637 10.999 11.441 10.114 12.152 9.333C12.779 8.646 13.37 7.999 14 7.999ZM14 6.999C12 6.999 11 9.999 9.5 9.999C8 9.999 8.001 8.999 6 8.999C4 8.999 2.999 12.999 2.999 12.999H17C17 12.999 16 6.999 14 6.999ZM20 2C20 1.46957 19.7893 0.960859 19.4142 0.585786C19.0391 0.210714 18.5304 0 18 0H2C1.46957 0 0.960859 0.210714 0.585786 0.585786C0.210714 0.960859 0 1.46957 0 2V14C0 14.5304 0.210714 15.0391 0.585786 15.4142C0.960859 15.7893 1.46957 16 2 16H18C18.5304 16 19.0391 15.7893 19.4142 15.4142C19.7893 15.0391 20 14.5304 20 14V2ZM18 14H2V2H18.003L18 14Z" fill="%23FCE5B3"/></svg>');




// @function encode($ColorCode) {
//   @return '%23'+str-slice($ColorCode, 2, -1);
// }

// @function open-icon($Color) {
//   @return url('data:image/svg+xml;utf-8,<svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.5 3.999C7.327 3.999 8 4.672 8 5.499C8 6.326 7.327 6.999 6.5 6.999C5.673 6.999 5 6.326 5 5.499C5 4.672 5.673 3.999 6.5 3.999ZM6.5 2.999C5.83696 2.999 5.20107 3.26239 4.73223 3.73123C4.26339 4.20007 4 4.83596 4 5.499C4 6.16204 4.26339 6.79793 4.73223 7.26677C5.20107 7.73561 5.83696 7.999 6.5 7.999C7.16304 7.999 7.79893 7.73561 8.26777 7.26677C8.73661 6.79793 9 6.16204 9 5.499C9 4.83596 8.73661 4.20007 8.26777 3.73123C7.79893 3.26239 7.16304 2.999 6.5 2.999ZM14 7.999C14.45 8.05 15.27 9.803 15.779 12H4.387C4.821 10.966 5.442 9.999 5.999 9.999C6.805 9.999 7.124 10.184 7.529 10.419C7.976 10.677 8.535 10.999 9.499 10.999C10.637 10.999 11.441 10.114 12.152 9.333C12.779 8.646 13.37 7.999 14 7.999ZM14 6.999C12 6.999 11 9.999 9.5 9.999C8 9.999 8.001 8.999 6 8.999C4 8.999 2.999 12.999 2.999 12.999H17C17 12.999 16 6.999 14 6.999ZM20 2C20 1.46957 19.7893 0.960859 19.4142 0.585786C19.0391 0.210714 18.5304 0 18 0H2C1.46957 0 0.960859 0.210714 0.585786 0.585786C0.210714 0.960859 0 1.46957 0 2V14C0 14.5304 0.210714 15.0391 0.585786 15.4142C0.960859 15.7893 1.46957 16 2 16H18C18.5304 16 19.0391 15.7893 19.4142 15.4142C19.7893 15.0391 20 14.5304 20 14V2ZM18 14H2V2H18.003L18 14Z" fill="#{$Color}"/></svg>');
// }
