@use "../../functions"as *;

/* -----------------------
  top_contact
----------------------- */
#top_contact{
  @include pc{
    padding-top: p(160);
  }
  @include sp{
    padding-top: s(140);
  }
  .btn_wrap{
    position: relative;
    .C_contact_btn{
      @include pc{
        margin-inline: auto;
      }
      @include sp{
        margin-inline: auto;
      }  
    }
  }
}