@use "../functions" as *;

/* -----------------------
  C_title
----------------------- */

.C_title{
  text-align: center;

  @include bold;
  .TL_top{
    color: $F-EB6D6D;
    @include pc{
      font-size: p(27);
    }
    @include sp{
      font-size: s(24);
    }
  }
  .TL{
  overflow: hidden;    
    @include pc{
      font-size: p(48);
    }
    @include sp{
      font-size:s(32);
    }

    // はねる見出し
    .bounce{
      transform: translateY(2em);
      display: inline-block;
      padding-top: 0.5em;
      &.show {
        animation: textanimation 0.5s forwards;
        @keyframes textanimation {
          0% {
              transform: translateY(100%);
          }
        
          50% {
              transform: translateY(-20%);
          }
        
          100% {
              transform: translateY(0);
          }
        }
      }
    }
  }
  .wave{
    background-repeat: repeat-x;
    @include pc{
      @include imgContain("wave.png");
      width: p(700);
      height: p(12);
      margin: p(20) auto;
    }
    @include sp{
      @include imgContain("wave_sp.png");
      width: s(347);
      height: s(8);
      margin: s(15) auto;
    }
  }
}
