@use '../functions' as *;

/* -----------------------
  footer
----------------------- */

.footer {
  background-color: #023169;
  padding: 20px 0 10px;

  .footer_logo {
    margin-inline: auto;

    @include pc {
      width: 100px;
    }

    @include sp {
      width: 80px;
    }

    img {
      width: 100%;
    }
  }

  .footer_copyright {
    margin-top: 20px;

    .TX {
      color: #fff;
      text-align: center;
      font-size: 10px;
    }
  }
}