@use "../global" as *;


.gallery {

  @include pc {
    padding: calc((127 / 1280) * 100vw) 0 0;
  }

  @include sp {
    padding: calc((97 / 390) * 100vw) calc((0 / 390) * 100vw) 0;
  }

  .C-title {

    @include pc {
      margin: 0 calc((280 / 1280) * 100vw) calc((130 / 1280) * 100vw) auto;
      position: relative;

      &::before {
        content: '';
        display: block;
        // width: calc(( 168 / 1280) * 100vw);
        width: calc((0 / 1280) * 100vw);
        height: calc((1 / 1280) * 100vw);
        background-color: $mainColor;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto !important;
        right: calc((-280 / 1280) * 100vw);
      }
    }

    @include sp {}
  }

  &--main{

    @include pc{
      margin: calc((120 / 1280) * 100vw) 0 0;
    }

    @include sp{
      margin: calc((40 / 390) * 100vw) 0 0;
    }

    .C-slide {
    
      .slide-wrapper {
    
        .slide {
    
          &--img {
    
            // 1枚目
            &.img--1 {
              @include imgCover('slide-gallery-1.jpg');
            }
    
            // 2枚目
            &.img--2 {
              @include imgCover('slide-gallery-2.jpg');
            }
    
            // 3枚目
            &.img--3 {
              @include imgCover('slide-gallery-3.jpg');
            }
    
            // 4枚目
            &.img--4 {
              @include imgCover('slide-gallery-4.jpg');
            }
    
            // 5枚目
            &.img--5 {
              @include imgCover('slide-gallery-5.jpg');
            }
    
            // 6枚目
            &.img--6 {
              @include imgCover('slide-gallery-6.jpg');
            }
          }
        }
      }
    }
  }
}