@use "../functions" as *;

/* -----------------------
  contact-page
----------------------- */

.contact-page {

  .contact-page__content {

    @include pc {
      padding: p(180) 0 p(200);
    }

    @include sp {
      padding: s(113) s(20) s(104);
    }

    .contact-page__content-inr {
      display: flex;

      @include pc {
        width: p(1114);
        margin: 0 auto;
        gap: p(18);
      }

      @include sp {
        flex-direction: column;
        width: 100%;
      }
    }

    .contact-page__text {
      @include pc {
        width: p(500);
        flex-shrink: 0;
      }

      @include sp {
        width: 100%;
      }
    }

    .contact-page__label {
      @include noto-sans;
      @include wt700;
      color: $F-6b6b6b;
      letter-spacing: 0.1em;

      @include pc {
        font-size: p(20);
        line-height: 2.036;
      }

      @include sp {
        font-size: s(16);
        line-height: 2.545;
      }
    }

    .contact-page__title {
      @include zen-kaku;
      @include wt500;
      color: $F-1a1a1a;

      @include pc {
        font-size: p(64);
        line-height: 1.156;
        letter-spacing: 0.021em;
        margin-top: p(15);
      }

      @include sp {
        font-size: s(48);
        line-height: 1.542;
        letter-spacing: 0.028em;
        margin-top: 0;
      }
    }

    .contact-page__desc {
      @include zen-kaku;
      @include wt500;
      color: $F-1a1a1a;
      letter-spacing: 0.1em;

      @include pc {
        font-size: p(20);
        line-height: 2;
        margin-top: p(50);
      }

      @include sp {
        font-size: s(16);
        line-height: 1.875;
        margin-top: s(60);
      }
    }

    .C_form {
      @include pc {
        width: p(596);
        flex-shrink: 0;
        margin-top: p(60);
      }

      @include sp {
        width: 100%;
        margin-top: s(100);
      }
    }

  }

}
