@use "../functions" as *;

/* -----------------------
  service-page
----------------------- */

.service-page {

  .service-page__hero {
    @include pc {
      padding-top: p(20);
    }

    @include sp {
      padding-top: s(20);
    }
  }

  .service-page__content {

    @include pc {
      padding-top: p(220);
    }

    @include sp {
      padding-top: s(185);
    }

    .service-page__content-inr {
      margin-inline: auto;
      display: flex;
      flex-direction: column;

      @include pc {
        width: p(1114);
        gap: p(160);
      }

      @include sp {
        gap: s(69);
      }
    }

    .service-page__content-item {
      display: flex;

      @include pc {
        flex-direction: row;
        // align-items: center;
        justify-content: space-between;
      }

      @include sp {
        flex-direction: column;
      }

      &:nth-child(even) {
        @include pc {
          flex-direction: row-reverse;
          justify-content: flex-end;
          gap: p(108);
        }
      }
    }

    .service-page__content-item-image {
      display: block;


      @include pc {
        width: p(449);
        flex-shrink: 0;
      }

      @include sp {
        width: s(350);
        margin: s(30) auto 0;
      }

      img {
        display: block;
        width: 100%;
        object-fit: cover;
      }
    }

    .service-page__content-item-text {

      @include pc {
        padding-top: p(160);
      }

      @include sp {
        width: 100%;
        margin-top: s(30);
      }
    }

    .service-page__content-item-number {
      @include inter;
      @include wt700;
      color: $F-1a1a1a;
      line-height: 1.104;
      letter-spacing: 0.012em;

      @include pc {
        font-size: p(48);
      }

      @include sp {
        padding-inline: s(20);
        font-size: s(52);
      }
    }

    .service-page__content-item-title {
      @include noto-sans;
      @include wt700;
      color: $F-1a1a1a;
      line-height: 1.5;
      letter-spacing: 0.1em;

      @include pc {
        font-size: p(36);
        margin-top: p(42);
      }

      @include sp {
        font-size: s(36);
        margin-top: s(12);
        padding-inline: s(20);
      }
    }

    .service-page__content-item-desc {
      @include zen-kaku;
      @include wt500;
      color: $F-1a1a1a;
      line-height: 2;
      letter-spacing: 0.1em;

      @include pc {
        font-size: p(20);
        margin-top: p(57);
      }

      @include sp {
        font-size: s(16);
        margin-top: s(50);
        padding-inline: s(20) 0;
      }
    }
  }


  .service-page__banner {

    @include pc {
      padding: p(250) 0 p(50);
    }

    @include sp {
      padding: s(117) s(20);
    }
  }

}