@use "../functions" as *;

/* -----------------------
  thanks-page
----------------------- */

.thanks-page {

  .thanks-page__content {

    @include pc {
      padding: p(180) 0;
    }

    @include sp {
      padding: s(20) s(20) s(40);
    }

    .thanks-page__content-inr {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: $B-fefefe;
      text-align: center;

      @include pc {
        width: p(730);
        margin: 0 auto;
        border-radius: p(10);
        padding: p(51) 0 p(61);
      }

      @include sp {
        width: 100%;
        border-radius: s(10);
        padding: s(60) 0;
      }
    }

    .thanks-page__icon {
      @include pc {
        width: p(56);
        height: p(56);
      }

      @include sp {
        width: s(56);
        height: s(56);
      }
    }

    .thanks-page__title {
      @include zen-kaku;
      @include wt500;
      color: $F-1a1a1a;

      @include pc {
        font-size: p(32);
        line-height: 2.3125;
        letter-spacing: 0.0425em;
        margin-top: p(31);
      }

      @include sp {
        font-size: s(32);
        line-height: 2.3125;
        letter-spacing: 0.0425em;
        margin-top: s(42);
      }
    }

    .thanks-page__desc {
      @include noto-sans;
      @include wt400;
      color: $F-6b6b6b;
      line-height: 1.875;
      letter-spacing: 0.1em;

      @include pc {
        font-size: p(16);
        margin-top: p(39);
      }

      @include sp {
        font-size: s(16);
        margin-top: s(21);
      }
    }

    .thanks-page__link {
      display: block;
      align-items: center;
      border-bottom: 1px solid $F-1a1a1a;
      color: $F-1a1a1a;

      @include pc {
        gap: p(13);
        padding-bottom: p(8);
        margin-top: p(35);
      }

      @include sp {
        gap: s(13);
        padding-bottom: s(8);
        margin-top: s(30);
      }
    }

    .thanks-page__link-text {
      @include noto-sans;
      @include wt500;
      line-height: 1.841;
      letter-spacing: 0.1em;

      @include pc {
        font-size: p(13.037);
      }

      @include sp {
        font-size: s(13.037);
      }
    }

    .thanks-page__link-arrow {
      @include inter;
      @include wt500;
      line-height: 1.857;
      letter-spacing: 0.074em;

      @include pc {
        font-size: p(14);
      }

      @include sp {
        font-size: s(14);
      }
    }
  }

}
