@use "../../functions" as *;

/* -----------------------
  club
----------------------- */

.page--junior-club{
  &.page--high-club{
    background-color: #F8ACBD;
    @include pc {
      padding-bottom: p(187);
    }
    @include sp {
      padding-bottom: s(87);
    }

    .high-club-kv{
      .TL{
        @include pc {
          max-width: p(1000);
        }
      }
    }

    .high-club-activity{
      .activity-item{
        &:nth-child(2){
          .activity-item-content-wrap{
            @include pc {
              gap: p(78);
            }
            .activity-item-content{

              .TX{
                @include pc {
                  width: p(227);
                }
              }
            }

            .activity-item-tag{
              .tag-wrap{
                @include sp {
                  padding-left: s(10);
                  gap: s(11);
                }
              }
            }
          }
        }
      }
    }
  }
}

