@use "../../functions" as *;

/* -----------------------
  course
----------------------- */

.page-high-course {

  // ===== hero =====

  .high-course-kv {
    position: relative;
    z-index: 1;

    .high-course-kv-bg {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      z-index: 1;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .high-course-kv-inr {
      position: relative;
      z-index: 2;

      .high-course-kv-ttl {
        position: relative;
        height: 100vh;

        .TL {
          position: absolute;
          left: 0;
          right: 0;
          margin: 0 auto;

          @include pc {
            width: p(830);
            top: 21%;
          }

          @include sp {
            width: s(275);
            top: 44%;
          }
        }
      }

      .high-course-kv-txt {
        position: relative;
        height: 100vh;

        .TX {
          position: absolute;
          left: 0;
          width: 100%;
          font-family: $font-midashi;
          font-weight: 400;
          line-height: 2;
          letter-spacing: 0.13em;
          color: #fff;
          text-align: center;

          @include pc {
            top: 18.5%;
            font-size: p(24);
          }

          @include sp {
            top: 37.5%;
            font-size: s(18);
          }
        }
      }
    }
  }

  .high-course-stage {
    position: relative;
    z-index: 2;

    .high-course-stage-top {
      position: relative;

      .high-course-stage-top-bg {
        width: 100%;

        img {
          width: 100%;
        }
      }

      .high-course-stage-top-inr {
        position: absolute;
        z-index: 2;
        left: 0;
        width: 100%;

        @include pc {
          top: 30%;
        }

        @include sp {
          top: 20%;
        }

        .TL {
          margin-inline: auto;
          width: 100%;

          @include pc {
            margin-bottom: p(65);
          }

          @include sp {
            margin-bottom: s(43);
          }
        }

        .TX {
          color: #fff;
          font-family: $font-midashi;
          font-weight: 400;

          @include pc {
            text-align: center;
            font-size: p(18);
            line-height: 2;
            letter-spacing: 0.13em;
          }

          @include sp {
            font-size: s(15);
            padding-inline: s(40);
            line-height: 2.15;
            letter-spacing: 0.09em;
          }
        }
      }
    }

    .high-course-stage-contents {
      @include imgCover("high-course/high-course-stage-contents-bg.webp");
      background-position: center top;
      background-repeat: repeat-y;

      @include pc {
        background-size: 100%;
        padding: p(132) 0 p(163);
      }

      @include sp {
        background-size: 360vw;
        padding: s(63) 0 s(134);
      }

      .high-course-stage-contents-list {

        .high-course-stage-contents-item {
          display: flex;

          @include pc {
            flex-direction: row-reverse;
            gap: p(42);
            margin-bottom: p(98);
          }

          @include sp {
            flex-direction: column;
            gap: s(32);
            margin-bottom: s(148);
            margin-inline: auto;
            width: s(334);
          }

          .item-img {
            position: relative;

            @include pc {
              width: p(794);
            }

            @include sp {
              width: 100%;
            }

            .item-img-inr {
              position: relative;
              z-index: 2;
              width: 100%;

              img {

                @include pc {
                  border-radius: p(12) 0 0 p(12);
                }

                @include sp {
                  border-radius: s(10);
                }
              }
            }

            .item-img-deco {
              position: absolute;
              z-index: 1;
              bottom: 0;

              @include pc {
                width: 100%;
                left: 0;
              }

              @include sp {
                width: s(391);
                left: 50%;
                transform: translateX(-50%);
              }
            }
          }

          .item-sent {

            @include pc {
              width: p(410);
              padding-top: p(100);
              display: flex;
              flex-direction: column;
              gap: p(40);
            }

            @include sp {
              width: 100%;
            }

            .PT {

              @include pc {
                width: p(133);
              }

              @include sp {
                width: s(95);
              }
            }

            .TL {
              color: #fff;
              font-family: $font-midashi;
              font-weight: 400;

              @include pc {
                font-size: p(35);
                line-height: 1.6;
                letter-spacing: 0.06em;
              }

              @include sp {
                font-size: s(24);
                line-height: 1.9;
                letter-spacing: 0.07em;
                margin-top: s(29);
              }
            }

            .TX {
              color: #fff;
              font-family: $font-midashi;
              font-weight: 400;

              @include pc {
                font-size: p(15);
                line-height: 2.1;
                letter-spacing: 0.15em;
              }

              @include sp {
                font-size: s(14);
                line-height: 2;
                letter-spacing: 0.1em;
                margin-top: s(30);
              }
            }
          }

          &:nth-child(even) {

            @include pc {
              flex-direction: row;
            }

            .item-img {
              .item-img-inr {

                img {

                  @include pc {
                    border-radius: 0 p(12) p(12) 0;
                  }
                }
              }
            }
          }

          &:last-child {
            margin-bottom: 0 !important;
          }
        }
      }

      .high-course-stage-curriculum-wrap {
        position: relative;

        .high-course-stage-curriculum-sc-icon {

          @include sp {
            position: absolute;
            bottom: calc(100% + s(13));
            right: s(40);
            width: s(61);
            display: none;
          }
        }

        .high-course-stage-curriculum {

          @include pc {
            margin-top: p(135);
            margin-inline: auto;
            width: p(1127);
          }

          @include sp {
            overflow-x: scroll;
            margin-top: s(36);
          }

          .high-course-stage-curriculum-inr {

            .high-course-stage-curriculum-accordion {

              @include sp {
                padding: 0 s(48);
              }

              .high-course-stage-curriculum-accordion-body {
                overflow: hidden;

                @include pc {
                  border-radius: p(40);
                }

                @include sp {
                  border-radius: s(30);
                }

                .accordion-body-ttl {
                  background-color: #FF6AB5;
                  position: relative;
                  cursor: pointer;

                  @include pc {
                    padding: p(22) 0 p(25);
                  }

                  @include sp {
                    padding: s(12) 0 s(13);
                  }

                  .ttl {

                    .TX {
                      text-align: center;
                      color: #fff;
                      font-family: $font-ja;
                      font-weight: bold;
                      line-height: 1;
                      letter-spacing: 0.15em;

                      @include pc {
                        font-size: p(22);
                      }

                      @include sp {
                        font-size: s(15);
                      }
                    }
                  }

                  .icon {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);

                    @include pc {
                      right: p(34);
                      width: p(33);
                    }

                    @include sp {
                      right: s(16);
                      width: s(19);
                    }
                  }
                }

                .accordion-body-item {
                  display: none;
                  background-color: #fff;

                  @include pc {
                    padding: p(85) p(77) p(92);
                  }

                  @include sp {
                    padding: s(28) s(21) s(35);
                  }
                }
              }
            }
          }
        }

        &.is-active {

          .high-course-stage-curriculum-sc-icon {

            @include sp {
              display: block;
            }
          }

          .high-course-stage-curriculum {
            @include sp {
              margin-top: s(77);
            }


            .high-course-stage-curriculum-inr {

              @include sp {
                width: calc(s(727) + (s(20) * 2));
              }

              .high-course-stage-curriculum-accordion {

                @include sp {
                  padding: 0 s(20);
                }

                .high-course-stage-curriculum-accordion-body {

                  @include pc {
                    border-radius: p(10);
                  }

                  @include sp {
                    border-radius: s(10);
                  }

                  .accordion-body-ttl {

                    .ttl {
                      @include sp {
                        width: s(395);
                      }
                    }

                    .icon {
                      transform: translateY(-50%) rotate(180deg);
                    }
                  }

                  .accordion-body-item {
                    display: block;
                  }
                }
              }
            }
          }
        }
      }

      .high-course-stage-banner {
        display: flex;
        flex-direction: column;

        @include pc {
          margin-top: p(184);
          gap: p(45);
        }

        @include sp {
          margin-top: s(105);
          gap: s(37);
        }

        .high-course-stage-banner-item {
          display: block;
          margin-inline: auto;

          @include pc {
            width: p(1119);
          }

          @include sp {
            width: s(378);
          }
        }
      }

      .high-course-stage-more_check {
        @include pc {
          margin-top: p(183);
        }

        @include sp {
          margin-top: s(84);
        }
      }
    }

    &.high-course-standard {
      background-color: #FF9BCD;

      .high-course-stage-contents {

        .high-course-stage-contents-list {

          .high-course-stage-contents-item {
            &:nth-child(2) {

              @include pc {
                margin-bottom: p(99);
              }

              @include sp {
                margin-bottom: s(140);
              }
            }
          }
        }
      }
    }

    &.high-course-premium {
      background-color: #FFAABE;

      .high-course-stage-contents {

        @include pc {
          padding-bottom: p(184);
        }

        @include sp {
          padding: s(60) 0 s(125);
        }

        .high-course-stage-contents-list {

          .high-course-stage-contents-item {

            &:nth-child(even) {

              @include pc {
                gap: p(73);
              }
            }

            &:nth-child(1) {

              @include sp {
                margin-bottom: s(140);
              }
            }

            &:nth-child(2) {

              @include pc {
                margin-bottom: p(99);
              }

              @include sp {
                margin-bottom: s(112);
              }
            }

            &:nth-child(3) {

              @include pc {
                margin-bottom: p(103);
              }

              @include sp {
                margin-bottom: s(172);
              }
            }
          }
        }

        .high-course-stage-curriculum-wrap {
          .high-course-stage-curriculum {
            .high-course-stage-curriculum-inr {
              .high-course-stage-curriculum-accordion {
                .high-course-stage-curriculum-accordion-body {
                  .accordion-body-ttl {
                    background-color: #FF809C;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}