@use "../../functions" as *;

/* -----------------------
  life
----------------------- */

.page--junior-life{
  &.page--high-life{
    background-color: #F8ACBD;
    @include pc {
      padding-bottom: p(187);
    }
    @include sp {
      padding-bottom: s(87);
    }

    .high-life-kv{
      .TL{
        @include pc {
          width: p(844);
        }
      }
    }
  }
  .high-life-schedule{
    &-ttl{
      @include pc {
        padding-block: p(141) p(133) !important;
      }
      @include sp {
        padding-block: s(81) s(78) !important;
      }
      .TL{
        @include pc {
          width: p(217);
        }
        @include sp {
          width: s(158);
        }
      }
    }

    &-inr{
      .high-life-schedule-item{
        &.high-life-schedule-item-04,&.high-life-schedule-item-10{
          .item-txt{
            background-color: #FF4A74 !important;
          }
        }
        &.high-life-schedule-item-05,&.high-life-schedule-item-11{
          .item-txt{
            background-color: #CB3D5E !important;
          }
        }
        &.high-life-schedule-item-06,&.high-life-schedule-item-12{
          .item-txt{
            background-color: #F8ACBD !important;
          }
        }
        &.high-life-schedule-item-07,&.high-life-schedule-item-01{
          .item-txt{
            background-color: #FF6C9F !important;
          }
        }
        &.high-life-schedule-item-08,&.high-life-schedule-item-02{
          .item-txt{
            background-color: #D55D78 !important;
          }
        }
        &.high-life-schedule-item-09,&.high-life-schedule-item-03{
          .item-txt{
            background-color: #FF91AA !important;
          }
        }
      }
    }
  }
  .high-life-day{
    &-ttl{
      @include pc {
        padding-block: p(251) p(133) !important;
      }
      @include sp {
        padding-block: s(131) s(82) !important;
      }
      .TL{
        @include pc {
          width: p(217);
        }
        @include sp {
          width: s(158);
        }
      }
    }

    &-txt-area{
      .txt-item{
        .txt-item-box{
          position: relative;
          .TG{
            background-color: #FF6085 !important;
          }
          // &::before{
          //   content: "";
          //   position: absolute;
          //   @include imgContain("junior-life/tg-heart-icon.svg");
          //   @include pc {
          //     width: p(30);
          //     height: p(26);
          //     left: p(93);
          //     top: p(20);
          //   }
          //   @include sp {
          //     width: s(30);
          //     height: s(25);
          //     left: s(20);
          //     top: s(0);
          //   }
          // }

          // &.icon-box{
          //   &::before{
          //     @include pc {
          //       width: p(16);
          //       height: p(14);
          //       left: p(100);
          //       top: p(12);
          //     }
          //     @include sp {
          //       width: s(19);
          //       height: s(16);
          //       left: s(26);
          //       top: s(8);
          //     }
          //   }  
          // }
        }
      }
    }

  }
}
