@use "../../functions" as *;

/* -----------------------
 students（夢中学生）
----------------------- */

@include pc {
    .pcnobr {
        white-space: nowrap;
    }
}
@include sp {
    .junior-students-contents-item-inr .TX br {
        display: none;
    }
}

.page--junior-students {
    .junior-students-hiro {
        position: relative;

        .junior-students-hiro-bg {
            width: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .junior-students-hiro-inr {
            position: absolute;
            @include pc {
                top: p(223);
                left: p(120);
            }
            @include sp {
                top: s(110);
                left: s(40);
                white-space: nowrap;
            }

            .TL {
                font-family: $font-a1;
                color: #fff;
                line-height: 1.8;
                @include wt500;
                @include pc {
                    font-size: p(54);
                }
                @include sp {
                    font-size: s(38);
                    letter-spacing: 0.1em;
                    // padding-left: s(40);
                }
            }
            .TX {
                @include pc {
                    margin-top: p(60);
                }
                @include sp {
                    margin-top: s(28);
                    display: flex;
                    align-items: center;
                    justify-content: left;
                    gap: s(11);
                }
                .label {
                    @include pc {
                        width: p(93);
                    }
                    @include sp {
                        width: s(68);
                    }
                    img {
                        width: 100%;
                        object-fit: contain;
                    }
                }
                .name {
                    font-family: $font-a1;
                    color: #fff;
                    @include wt500;
                    letter-spacing: 0.15em;
                    @include pc {
                        font-size: p(26);
                        margin-top: p(20);
                    }
                    @include sp {
                        font-size: s(18);
                    }
                }
            }
        }
    }

    .junior-students-contents {
        background-color: #f8acbd;

        .junior-students-contents-item {
            position: relative;
            width: 100%;

            @include pc {
                margin-bottom: p(2);
            }
            img {
                width: 100%;
                object-fit: contain;
            }
            &-inr {
                position: absolute;
                color: $c-white;
                @include pc {
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 100%;
                }
                @include sp {
                    top: s(63);
                    left: 50%;
                    transform: translateX(-50%);
                    width: 100%;
                    margin-left: s(39);
                }
                .icon-box {
                    display: flex;
                    align-items: center;

                    @include pc {
                        justify-content: center;
                    }
                    &-text {
                        font-family: $font-a1;
                        @include wt500;
                        letter-spacing: 0.15em;
                        @include pc {
                            font-size: p(26);
                        }
                        @include sp {
                            font-size: s(18);
                        }
                    }
                    &-img {
                        @include pc {
                            width: p(72);
                        }
                        @include sp {
                            width: s(55);
                        }
                    }
                }
                .TL {
                    font-family: $font-a1;
                    @include wt500;
                    @include pc {
                        font-size: p(54);
                        line-height: 1.7;
                        margin-top: p(75);
                        letter-spacing: 0.15em;
                        text-align: center;
                        padding-left: p(50);
                    }
                    @include sp {
                        font-size: s(34);
                        line-height: 1.7;
                        margin-top: s(35);
                        letter-spacing: 0.09em;
                        text-align: left;
                    }
                }
                .TX {
                    @include wt500;
                    @include pc {
                        margin: p(95) auto 0;
                        font-size: p(18);
                        line-height: 2.5;
                        width: p(960);
                        letter-spacing: 0.15em;
                        text-align: center;
                        width: 100%;
                    }
                    @include sp {
                        margin-top: s(35);
                        font-size: s(15);
                        line-height: 2;
                        letter-spacing: 0.14em;
                        width: s(335);
                        text-align: justify;
                    }
                }
            }

            &.item-left {
                .junior-students-contents-item-inr {
                    @include pc {
                        left: unset;
                        right: p(136);
                    }
                }
            }
        }
    }

    .high-change {
        @include pc {
            padding-top: 0 !important;
        }
        @include sp {
            padding-block: 0 s(74) !important;
        }
        .ttl {
            .TL {
                @include pc {
                    width: p(161) !important;
                }
                @include sp {
                    position: static !important;
                    left: unset !important;
                    transform: unset !important;
                    width: s(161) !important;
                }
                img {
                    width: 100%;
                    object-fit: contain;
                }
            }
        }
        &-pagination {
            @include sp {
                display: none !important;
            }
        }
    }
}
