

// フォントカラー
$F-main: #333;
$F-sub: #FFF;
$F-FEA3A6: #FEA3A6;
$F-FCA7AA: #FCA7AA;
$F-EFA3B0: #EFA3B0;
$F-E66F84: #E66F84;
$F-E56B81: #E56B81;
$F-E7606F: #E7606F;



// 背景カラー
$B-F7E5ED: #F7E5ED;
$B-FFF: #FFF;
$B-FEA3A6: rgba(255, 255, 255, 0.60);
$B-FAB0C0: rgba(250, 176, 192, 0.40);
$B-E56D83: #E56D83;

// パーツカラー
$P-FFF: #FFF;
$P-F8DCDD: #F8DCDD;
$P-FCA7AA: #FCA7AA;
$P-EFA3B0: #EFA3B0;
$P-FEA3A6: #FEA3A6;
$P-E56C82: #E56C82;
$P-E66F84: #E66F84;
$P-F4B3B4: rgba(244, 179, 180, 0.50);
$P-C3C3C3: #C3C3C3;
$P-FFD9D9: #FFD9D9;
