

// フォントカラー
$F-main: #333;
$F-white: #FFF;
$F-000: #000;
$F-FFF4AA: #FFF4AA;
$F-FF9D9D: #FF9D9D;

$F-FF7678 : #FF7678;
$F-E1231D: #E1231D;
$F-FF2D31: #FF2D31;
$F-FF1717: #FF1717;
$F-CE2C27: #CE2C27;

// 背景カラー
$B-white: #FFF;
$B-FFF6F6: #FFF6F6;
$B-EA4141: #EA4141;

$B-E1231D: #E1231D;
$B-CE2C27: #CE2C27;
$B-B6231E: #B6231E;
$B-white-opa: rgba(255, 255, 255, 0.8);
$B-006835: #006835;


// パーツカラー
$P-white: #FFF;
$P-FF2D31: #FF2D31;
