@use "../functions" as *;


/* -----------------------
  footer
----------------------- */
.footer {

  &--menu {

    @include pc {
      padding-inline: 20px;
    }

    @include sp {
      padding-inline: 45px 40px;
    }

    &--nav {
      margin-inline: auto;

      @include pc {
        margin-bottom: 26px;
        max-width: 812px;
      }

      @include sp {
        margin-bottom: 14px;
      }

      ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        @include pc {
          justify-content: space-between;
        }

        @include sp {
          gap: 8px 30px;
          width: fit-content;
          margin-inline: auto;
        }

        li {

          @include pc {}

          @include sp {}

          a {
            color: $F-E7606F;
            @include tsuku;
            @include wt400;
            line-height: 1.7;
            text-decoration-line: underline;
            font-size: 10px;
            letter-spacing: 0.5px;
          }
        }
      }
    }
  }

  .copyright {
    background: $B-E56D83;

    @include pc {
      padding-block: 21px 20px;
    }

    @include sp {
      padding-block: 13px 11px;
    }

    .TX {
      color: $F-sub;
      @include tsuku;
      @include wt400;
      line-height: 1.7;
      text-align: center;
      font-size: 10px;
      letter-spacing: 0.5px;
    }
  }
}