@use "../functions" as *;

/* -----------------------
  KV-comparison
----------------------- */

.KV-comparison {
  padding-inline: 20px;

  @include pc {
    padding-top: 65px;
  }

  @include sp {
    padding-top: 38px;
  }

  &--container {
    margin-inline: auto;
    border-radius: 20px;
    background: linear-gradient(180deg, #F792AE 0%, #F6B5A3 100%);
    position: relative;

    @include pc {
      max-width: 1066px;
      padding-block: 30px 15px;
    }

    @include media(768px, 1066px) {
      padding-bottom: 260px;
    }

    @include sp {
      max-width: 450px;
      padding-block: 17px 6px;
    }

    @include media(0px, 389px) {
      padding-bottom: 120px;
    }

    .contents {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      z-index: 2;

      .title {
        @include iconContain($ribbon-KV);
        aspect-ratio: 585 / 88;
        @include center;
        position: relative;

        @include pc {
          width: 585px;
        }

        @include sp {
          width: 284px;
        }

        .TL {
          color: $F-E56B81;
          @include tsuku;
          @include wt700;
          line-height: 1.5;
          translate: 0 5%;

          @include pc {
            font-size: 42.263px;
            letter-spacing: 4.226px;
          }

          @include sp {
            font-size: 20.519px;
            letter-spacing: 2.052px;
          }
        }
      }

      .sub-title {

        @include pc {
          translate: -25px 0;
        }

        @include sp {
          translate: -30px 0;
        }

        @include media(0px, 389px) {
          translate: 0px 0;
        }

        .TL {
          color: $F-sub;
          text-shadow: 0px 0px 26.906px $F-E56B81;
          -webkit-text-stroke-width: 0.7913544178009033;
          -webkit-text-stroke-color: $F-sub;
          @include tsuku;
          @include wt700;
          line-height: 173%;
          display: flex;
          align-items: flex-end;

          @include pc {
            font-size: 63.004px;
          }

          @include sp {
            font-size: 30.178px;
          }

          &__size {
            object-fit: contain;
            object-position: center;

            @include pc {
              width: 181px;
            }

            @include sp {
              width: 80px;
            }
          }

          &__point {
            position: relative;

            &::before {
              content: "";
              aspect-ratio: 1;
              background: $F-sub;
              border-radius: 50%;
              position: absolute;
              left: 50%;
              translate: -50% 0;
              top: 0px;

              @include pc {
                width: 11px;
              }

              @include sp {
                width: 4.5px;
              }
            }
          }
        }
      }

      .text {

        @include pc {
          margin-top: 5px;
        }

        @include sp {
          margin-top: 6px;
        }

        .TX {
          text-align: center;
          @include tsuku;
          line-height: 140%;
          background: linear-gradient(180deg, #F3EBD0 0%, #FFF 100%);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;

          @include pc {
            font-size: 35.976px;
            letter-spacing: 3.598px;
          }

          @include sp {
            font-size: 17.232px;
            letter-spacing: 1.723px;
          }
        }
      }
    }

    .deco {
      .deco--left {
        position: absolute;
        z-index: 1;

        @include pc {
          left: -35px;
          bottom: 3px;
        }

        @include media(768px, 1066px) {
          left: 50px;
        }

        @include sp {
          left: -14px;
          bottom: -27px;
        }

        @include media(0px, 389px) {
          left: 20px;
          bottom: 0px;
        }

        .img {
          aspect-ratio: 270 / 181;
          @include imgContain("KV-img-02.png");

          @include pc {
            width: 270px;
          }

          @include sp {
            width: 90px;
          }

          @include media(0px, 389px) {
            width: 120px;
          }
        }
      }

      .deco--right {
        position: absolute;
        z-index: 1;

        @include pc {
          right: 0;
          bottom: 0;
          z-index: 2;
        }

        @include media(768px, 1066px) {
          right: 50px;
          z-index: 1;
        }

        @include sp {
          right: -25px;
          bottom: -14px;
          z-index: 2;
        }

        @include media(0px, 389px) {
          right: 10px;
          bottom: -5px;
        }

        .text {
          background: $P-FFD9D9;
          aspect-ratio: 1 /1;
          border-radius: 50%;
          position: absolute;

          @include pc {
            top: -70px;
            left: 75px;
            width: 147px;
          }

          @include media(768px, 890px) {
            left: unset;
            right: 0;
          }

          @include sp {
            top: -40px;
            left: 50px;
            width: 70px;
          }

          @include media(0px, 350px) {
            top: -35px;
            left: 60px;
          }

          .TX {
            color: $F-E56B81;
            width: 100%;
            text-align: center;
            @include tsuku;
            @include wt700;
            line-height: 126%;
            position: absolute;
            top: 40%;
            left: 50%;

            @include pc {
              font-size: 19px;
              letter-spacing: 0.95px;
              transform: translate(-50%, -50%) rotate(-11deg);
            }

            @include media(768px, 890px) {
              transform: translate(-50%, -50%) rotate(11deg);
            }

            @include sp {
              font-size: 9.101px;
              letter-spacing: 0.455px;
              transform: translate(-50%, -50%) rotate(-11deg);
            }

            @include media(0px, 350px) {
              transform: translate(-50%, -50%) rotate(11deg);
            }
          }
        }

        .img {
          position: relative;
          z-index: 2;
          aspect-ratio: 311 / 239;
          @include imgContain("KV-img-03.png");

          @include pc {
            width: 311px;
          }

          @include sp {
            width: 132px;
          }
        }
      }
    }
  }
}