@use "../functions" as *;

/* -----------------------
  KV-home
----------------------- */

.KV-home {
  padding-inline: 20px;

  @include pc {
    padding-top: 65px;
  }

  @include sp {
    padding-top: 38px;
  }

  &--container {
    margin-inline: auto;
    border-radius: 20px;
    background: linear-gradient(180deg, #FAB0C0 0%, #F9C9D3 100%);
    position: relative;
    
    @include pc {
      max-width: 1066px;
      padding-block: 47px 49px;
    }

    @include media(768px, 1066px) {
      padding-bottom: 260px;
    }

    @include sp {
      max-width: 450px;
      padding-block: 17px 12px;
    }

    @include media(0px, 389px) {
      padding-bottom: 120px;
    }

    .contents {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      z-index: 2;

      .title {
        @include iconContain($ribbon-KV);
        aspect-ratio: 585 / 88;
        @include center;
        position: relative;

        @include pc {
          width: 585px;
        }

        @include sp {
          width: 284px;
        }

        .TL {
          color: $F-E56B81;
          @include tsuku;
          @include wt700;
          line-height: 1.5;
          translate: 0 5%;

          @include pc {
            font-size: 42.263px;
            letter-spacing: 4.226px;
          }

          @include sp {
            font-size: 20.519px;
            letter-spacing: 2.052px;

          }
        }


        &::before {
          content: "";
          display: block;
          aspect-ratio: 46 / 36;
          @include iconContain($KV-king);
          position: absolute;
          left: 50%;
          translate: -50% 0;

          @include pc {
            top: -19px;
            width: 46px;
          }

          @include sp {
            top: -13px;
            width: 37px;
          }
        }
      }

      .sub-title {

        @include pc {
          translate: -25px 0;
          margin-top: 10px;
        }

        @include sp {
          translate: -10px 0;
          margin-top: 5px;
        }

        .TL {
          color: $F-sub;
          text-shadow: 0px 0px 13.907px $F-E56B81;
          -webkit-text-stroke-width: 1.2782427072525024;
          -webkit-text-stroke-color: $F-sub;
          @include tsuku;
          @include wt700;
          line-height: 1;

          @include pc {
            font-size: 84.028px;
            letter-spacing: -2.521px;
          }

          @include sp {
            font-size: 38.678px;
            letter-spacing: -1.16px;
          }
        }
      }

      .text {

        @include pc {
          margin-top: 5px;
        }

        @include sp {
          margin-top: 15px;
        }

        .TX {
          color: #E56B81;
          text-align: center;
          @include tsuku;
          @include wt700;
          line-height: 1;

          @include pc {
            font-size: 23px;
            letter-spacing: 1.15px;
          }

          @include sp {
            font-size: 11.934px;
            letter-spacing: 0.597px;
          }

          &__size {
            line-height: 1;

            @include pc {
              font-size: 29px;
              letter-spacing: 1.45px;
            }

            @include sp {
              font-size: 15.048px;
              letter-spacing: 0.752px;
            }
          }

          &__span {
            color: $F-sub;
            text-shadow: 0px 0px 10.927px $F-E56B81;
            -webkit-text-stroke-width: 1.00433349609375;
            -webkit-text-stroke-color: $F-sub;
            display: inline-block;

            @include pc {
              font-size: 66.022px;
              line-height: 1;
              letter-spacing: -1.981px;
              margin-inline: 10px;
            }

            @include sp {
              font-size: 34.258px;
              letter-spacing: -1.028px;
              margin-inline: 10px 5px;
            }
          }

          &__mark {
            line-height: 1;
            display: inline-block;
            rotate: 9.946deg;
            letter-spacing: 0;

            @include pc {
              translate: -10px 5px;
              font-size: 56.542px;
            }

            @include sp {
              translate: -5px 3px;
              font-size: 29.339px;
            }
          }
        }
      }
    }

    .deco {
      .deco--left {
        position: absolute;
        z-index: 1;

        @include pc {
          left: 20px;
          bottom: -10px;
        }

        @include media(768px, 1066px) {
          left: 80px;
        }

        @include sp {
          left: -15px;
          bottom: -10px;
        }

        @include media(0px, 389px) {
          left: 0px;
          bottom: -5px;
        }

        .img {
          aspect-ratio: 289 / 249;
          @include imgContain("KV-home-left.png");

          @include pc {
            width: 289px;
          }

          @include sp {
            width: 128px;
          }
        }
      }

      .deco--right {
        position: absolute;
        z-index: 1;

        @include pc {
          right: -21px;
          bottom: -23px;
        }

        @include media(768px, 1066px) {
          right: 80px;
        }

        @include sp {
          right: -16px;
          bottom: -1px;
        }

        @include media(0px, 389px) {
          right: 20px;
          bottom: -5px;
        }

        .text {
          background: $P-FFD9D9;
          aspect-ratio: 1 /1;
          border-radius: 50%;
          position: absolute;
          
          @include pc {
            rotate: -11deg;
            top: -120px;
            left: 16px;
            width: 174px;
          }

          @include sp {
            rotate: 18deg;
            top: -60px;
            left: 31px;
            width: 83px;
          }

          .TX {
            color: $F-E56B81;
            width: 100%;
            text-align: center;
            @include tsuku;
            @include wt700;
            line-height: 126%;
            position: absolute;
            top: 50%;
            left: 50%;
            translate: -50% -60%;

            @include pc {
              font-size: 19px;
              letter-spacing: 0.95px;
            }

            @include sp {
              font-size: 9.225px;
              letter-spacing: -0.184px;
            }
          }
        }

        .img {
          position: relative;
          z-index: 2;
          aspect-ratio: 270 / 181;
          @include imgContain("KV-home-right.png");

          @include pc {
            width: 270px;
          }

          @include sp {
            width: 106px;
          }
        }
      }
    }
  }
}