@use "../functions"as *;


/* -----------------------
  farmer
----------------------- */

.farmer{
  @include imgCover("farmer-bg.jpg");
  background-repeat: repeat-y;
  width:100%;
  height: 100%;
  @include pc{
    padding-top: p(100);
  }
  @include sp{
    padding-top: s(41);
  }
  .C_farmer-logo{
    @include pc{
      margin-top: p(50);
    }
    @include sp{
      margin-top: s(30);
    }
  }
  .C_farmer-contents{
    @include pc{
      margin-top: p(60);
    }
    @include sp{
      margin-top: s(40);
    }
  }
}

