@use "../functions"as *;


/* -----------------------
  media
----------------------- */



.media {
  @include imgCover("media-bg.png");
  position: relative;
  width: 100%;

  @include pc {
    margin-top: p(-20);
    padding-block: p(120) p(102);
  }

  @include sp {
    padding-block: s(57) s(60);
    margin-top: s(-10);
  }

  .mv-under {
    position: absolute;
    width: 100%;
    top: 0;

    @include pc {
      @include iconCover($mv-under);
      height: p(57);
    }

    @include sp {
      @include iconCover($mv-underSP);
      height: s(44);
    }
  }

  .C_all-title {
    @include pc {
      margin-left: p(95);
    }

    &.is_notice {
      @include pc {
        .TL {
          display: block;

          &_normal,
          &_big {
            text-align: left;
          }
        }
      }
    }
  }

  &-parson-img01 {
    @include imgContain("media-parson-img01.png");

    @include pc {
      position: absolute;
      width: p(390);
      height: p(553);
      top: p(230);
      right: p(100);
    }

    @include sp {
      position: relative;
      width: s(199);
      height: s(281);
      margin: s(41) auto 0;
    }

    img {
      aspect-ratio: 296/177;
      position: absolute;

      @include pc {
        transform: rotate(16deg);
        width: p(396);
        top: p(-80);
        left: p(-30);
      }

      @include sp {
        width: s(296);
        top: s(-60);
        left: s(-80);
      }
    }
  }

  .C_media-card-wrap {
    transform: rotate(-3deg);
    @include pc {
      margin: p(288) 0 0 p(125);
    }

    @include sp {
      margin: s(141) 0 0 p(40);
    }
    .C_media-card-decoimg {
      .decoimg {
        position: absolute;
        @include all(border-width 8);
        border: solid $B-white;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

        &.decoimg01 {
          @include imgCover("media-img01.png");
          transform: rotate(6.21deg);
          @include all(width 200,
            height 190,
          );

          @include pc {
            bottom: 0;
            right: p(-200);
          }

          @include sp {
            bottom: s(-140);
            right: s(10);
          }
        }

        &.decoimg02 {
          @include imgCover("media-img02.png");
          transform: rotate(14.64deg);

          @include all(width 170,
            height 160,
          );

          @include pc {
            right: p(-100);
            bottom: p(-110);
          }

          @include sp {
            left: s(80);
            bottom: s(-250);
          }
        }
      }
    }

  }

  .C_media-card {
    // @include pc {
    //   margin: p(140) 0 0 p(125);
    // }
    // @include sp{
    //   margin: s(64) 0 0 p(40);
    // }

  }

  &-bottom {
    background: $B-white-opa;
    @include all(border-radius 10);
    position: relative;

    @include pc {
      padding: p(44) p(52) p(44) p(55);
      margin: p(128) auto 0;
      width: p(880);
    }

    @include sp {
      padding: s(44) s(22) s(40);
      margin: s(450) auto 0;
      width: s(348);
    }

    &-TX {
      text-align: center;
      @include wt500;
      line-height: normal;

      @include pc {
        font-size: p(24);
      }

      @include sp {
        font-size: s(20);
        letter-spacing: s(0.2);
      }

      span {
        color: $F-E1231D;
      }
    }

    &-img {
      img {
        aspect-ratio: 352/100;
        margin-inline: auto;
        @include all(margin-top 30);

        @include pc {
          width: p(352);
        }

        @include sp {
          width: s(288);
        }
      }
    }

    .media-parson-img02 {
      position: absolute;
      @include imgContain("media-parson-img02.png");

      @include pc {
        width: p(303);
        height: p(239);
        bottom: p(-41);
        left: p(-143);
      }

      @include sp {
        width: s(247);
        height: s(195);
        top: s(-163);
        left: s(-41);
      }
    }
  }
}