@use "../functions"as *;


/* -----------------------
  media
----------------------- */



.media {
  @include imgCover("media-bg.png");
  position: relative;
  width: 100%;

  @include pc {
    margin-top: p(-20);
    padding-block: p(90) p(102);
  }
  @include sp{
    padding-block: s(57) s(60);
    margin-top: s(-10);
  }

  .mv-under {
    position: absolute;
    @include iconCover($mv-under);
    width: 100%;
    top: 0;
    @include pc{
      height: p(57);
    }
    @include sp{
      height: s(24);
    }
  }

  .C_media-card {
    transform: rotate(-3deg);
    @include pc {
      margin: p(121) 0 0 p(155);
    }
    @include sp{
      margin: s(165) 0 0 p(40);
    }

    &-decoimg {
      .decoimg {
        position: absolute;
        @include all(border-width 8);
        border: solid $B-white;

        &.decoimg01 {
          @include imgCover("media-img01.png");
          transform: rotate(6.21deg);
          @include all(width 200,
            height 190,
          );
          @include pc{
            bottom: 0;
            right: p(-110);
          }
          @include sp{
            bottom: s(-140);
            right: s(30);
          }
        }

        &.decoimg02 {
          @include imgCover("media-img02.png");
          transform: rotate(14.64deg);

          @include all(width 170,
            height 160,
          );
          @include pc{
            right:p(-20);
            bottom: p(-110);
          }
          @include sp{
            left: 0;
            bottom: s(-250);
          }
        }
      }
    }
  }

  &-bottom{
    background: $B-white-opa;
    @include all(border-radius 10);
    @include pc{
      padding: p(44) p(52) p(44) p(55);
      margin: p(128) auto 0;
      width: p(880);
    }
    @include sp{
      padding: s(44) s(22) s(40);
      margin: s(336) auto 0;
      width: s(348);
    }
    &-TX{
      text-align: center;
      @include wt500;
      line-height: normal;
      @include pc{
        font-size: p(24);
      }
      @include sp{
        font-size: s(20);
        letter-spacing: s(0.2);
      }
      span{
        color: $F-E1231D;
      }
    }
    &-img{
      img{
        aspect-ratio: 352/100;
        margin-inline: auto;
        @include all(margin-top 30);
        @include pc{
          width: p(352);
        }
        @include sp{
          width: s(288);
        }  
      }
    }
  }
}