@use "../../functions" as *;

/* -----------------------
  ranking-section
----------------------- */

.ranking-section {

  .C_ranking-title{

    @include pc{
      margin-bottom: 25px;
    }
    
    @include sp{
      margin-bottom: 37px;
    }
  }

  .C_ranking-overview{

    @include pc{
      margin-bottom: 60px;
    }
    
    @include sp{
      margin-bottom: 44px;
    }
  }

  .detail-container{

    @include pc{
      @include column(160px);
    }
    
    @include sp{
      @include column(72px);
    }
  }
}