/* -----------------------
  unity
----------------------- */
@media screen and (min-width: 768px) {
  .sp {
    display: none !important;
  }
}

@media screen and (max-width: 767px) {
  .pc {
    display: none !important;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 10%;
}

body {
  line-height: 1.5;
  letter-spacing: 0.05em;
}
@media screen and (max-width: 767px) {
  body.active {
    overflow: hidden;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

.whopper {
  overflow: hidden;
}

/* -----------------------
  header
----------------------- */
.header {
  padding: 10px 20px;
}
@media screen and (min-width: 768px) {
  .header .TL {
    width: 200px;
  }
}
@media screen and (max-width: 767px) {
  .header .TL {
    width: 100px;
  }
}
.header .TL img {
  width: 100%;
}

/* -----------------------
  footer
----------------------- */
.footer {
  background-color: #023169;
  padding: 20px 0 10px;
}
.footer .footer_logo {
  margin-inline: auto;
}
@media screen and (min-width: 768px) {
  .footer .footer_logo {
    width: 100px;
  }
}
@media screen and (max-width: 767px) {
  .footer .footer_logo {
    width: 80px;
  }
}
.footer .footer_logo img {
  width: 100%;
}
.footer .footer_copyright {
  margin-top: 20px;
}
.footer .footer_copyright .TX {
  color: #fff;
  text-align: center;
  font-size: 10px;
}

/* -----------------------
  C_
----------------------- */
/* -----------------------
  front
----------------------- */
.section {
  padding: 200px 20px 200px;
}
.section .TL {
  font-weight: bold;
  text-align: center;
  margin-bottom: 90px;
}
@media screen and (min-width: 768px) {
  .section .TL {
    font-size: 24px;
  }
}
@media screen and (max-width: 767px) {
  .section .TL {
    font-size: 18px;
  }
}
.section .table_wrap {
  margin-inline: auto;
  max-width: 1000px;
  overflow-x: auto;
}
.section .table_wrap .table {
  width: 100%;
  min-width: 500px;
  border-collapse: collapse;
  border-spacing: 0;
}
.section .table_wrap .table tbody tr th {
  width: 30%;
  vertical-align: middle;
  background-color: #fafafa;
  border: 1px solid #dedede;
  padding: 20px 10px;
  font-size: 14px;
}
.section .table_wrap .table tbody tr td {
  width: 70%;
  vertical-align: middle;
  border: 1px solid #dedede;
  padding: 20px 10px;
  font-size: 14px;
}

/* -----------------------
  anime
----------------------- */
.hover-opa {
  transition: 0.3s;
}
.hover-opa:hover {
  opacity: 0.6;
}

.hover-scale {
  transition: 0.3s;
}
.hover-scale:hover {
  transform: scale(1.05);
}

.up {
  opacity: 0;
  transform: translateY(100px);
}
.up.show {
  -webkit-animation: up 0.5s ease forwards;
          animation: up 0.5s ease forwards;
}
@-webkit-keyframes up {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes up {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.down {
  opacity: 0;
  transform: translateY(-100px);
}
.down.show {
  -webkit-animation: down ease forwards;
          animation: down ease forwards;
}
@-webkit-keyframes down {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes down {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.left {
  opacity: 0;
  transform: translateX(100%);
}
.left.show {
  -webkit-animation: left ease forwards;
          animation: left ease forwards;
}
@-webkit-keyframes left {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes left {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.right {
  opacity: 0;
  transform: translateX(-100%);
}
.right.show {
  -webkit-animation: right ease forwards;
          animation: right ease forwards;
}
@-webkit-keyframes right {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes right {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.pop {
  opacity: 0;
  transform: scale(0.5);
}
.pop.show {
  -webkit-animation: pop ease forwards;
          animation: pop ease forwards;
}
@-webkit-keyframes pop {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes pop {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.loadUp {
  opacity: 0;
  transform: translateY(100%);
}
.loadUp.show {
  -webkit-animation: loadUp ease forwards;
          animation: loadUp ease forwards;
}
@-webkit-keyframes loadUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes loadUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.loadDown {
  opacity: 0;
  transform: translateY(-100%);
}
.loadDown.show {
  -webkit-animation: loadDown ease forwards;
          animation: loadDown ease forwards;
}
@-webkit-keyframes loadDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes loadDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.loadLeft {
  opacity: 0;
  transform: translateX(100%);
}
.loadLeft.show {
  -webkit-animation: loadLeft ease forwards;
          animation: loadLeft ease forwards;
}
@-webkit-keyframes loadLeft {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes loadLeft {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.loadRight {
  opacity: 0;
  transform: translateX(-100%);
}
.loadRight.show {
  -webkit-animation: loadRight ease forwards;
          animation: loadRight ease forwards;
}
@-webkit-keyframes loadRight {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes loadRight {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.loadPop {
  opacity: 0;
  transform: scale(0.5);
}
.loadPop.show {
  -webkit-animation: loadPop ease forwards;
          animation: loadPop ease forwards;
}
@-webkit-keyframes loadPop {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes loadPop {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.delay-01 {
  -webkit-animation-delay: 0.1s !important;
          animation-delay: 0.1s !important;
}

.delay-02 {
  -webkit-animation-delay: 0.2s !important;
          animation-delay: 0.2s !important;
}

.delay-03 {
  -webkit-animation-delay: 0.3s !important;
          animation-delay: 0.3s !important;
}

.delay-04 {
  -webkit-animation-delay: 0.4s !important;
          animation-delay: 0.4s !important;
}

.delay-05 {
  -webkit-animation-delay: 0.5s !important;
          animation-delay: 0.5s !important;
}

.delay-06 {
  -webkit-animation-delay: 0.6s !important;
          animation-delay: 0.6s !important;
}

.delay-07 {
  -webkit-animation-delay: 0.7s !important;
          animation-delay: 0.7s !important;
}

.delay-08 {
  -webkit-animation-delay: 0.8s !important;
          animation-delay: 0.8s !important;
}

.delay-09 {
  -webkit-animation-delay: 0.9s !important;
          animation-delay: 0.9s !important;
}

.delay-10 {
  -webkit-animation-delay: 1s !important;
          animation-delay: 1s !important;
}

.delay-15 {
  -webkit-animation-delay: 1.5s !important;
          animation-delay: 1.5s !important;
}

.duration-01 {
  -webkit-animation-duration: 0.1s !important;
          animation-duration: 0.1s !important;
}

.duration-02 {
  -webkit-animation-duration: 0.2s !important;
          animation-duration: 0.2s !important;
}

.duration-03 {
  -webkit-animation-duration: 0.3s !important;
          animation-duration: 0.3s !important;
}

.duration-04 {
  -webkit-animation-duration: 0.4s !important;
          animation-duration: 0.4s !important;
}

.duration-05 {
  -webkit-animation-duration: 0.5s !important;
          animation-duration: 0.5s !important;
}

.duration-06 {
  -webkit-animation-duration: 0.6s !important;
          animation-duration: 0.6s !important;
}

.duration-07 {
  -webkit-animation-duration: 0.7s !important;
          animation-duration: 0.7s !important;
}

.duration-08 {
  -webkit-animation-duration: 0.8s !important;
          animation-duration: 0.8s !important;
}

.duration-09 {
  -webkit-animation-duration: 0.9s !important;
          animation-duration: 0.9s !important;
}

.duration-10 {
  -webkit-animation-duration: 1s !important;
          animation-duration: 1s !important;
}

.duration-15 {
  -webkit-animation-duration: 1.5s !important;
          animation-duration: 1.5s !important;
}

/*# sourceMappingURL=main.css.map */