// フォント

// font-family: YuMincho;
@mixin yuMincho {
  font-family: "yu-mincho-pr6n", sans-serif;
  font-style: normal;
}

// font-family: Contrail One;
@mixin contrail {
  font-family: "Contrail One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

// font-family: 'Cinzel';
@mixin cinzel {
  font-family: "Cinzel", serif;
  font-style: normal;
}



// font-weight:;
@mixin thin {
  font-weight: 100;
}
@mixin extraLight {
  font-weight: 200;
}
@mixin light {
  font-weight: 300;
}
@mixin Regular {
  font-weight: 400;
}
@mixin Medium {
  font-weight: 500;
}
@mixin Demibold {
  font-weight: 600;
}
@mixin bold {
  font-weight: 700;
}
@mixin Extrabold {
  font-weight: 500;;
}
@mixin black {
  font-weight: 900;
}
