

// フォントカラー
$F-FFFFFF: #FFFFFF;
$F-E9EDF0: #E9EDF0;
$F-F2F7FA: #F2F7FA;
$F-EBEFEF: #EBEFEF;
$F-8B761F: #8B761F;
$F-BCAB64: #BCAB64;
$F-C09933: #C09933;
$F-937F2A: #937F2A;
$F-8F7A23: #8F7A23;
$F-141414: #141414;
$F-1E1E1E: #1E1E1E;
$F-807C7C: #807C7C;
$F-32302E: #32302E;
$F-74716E: #74716E;
$F-333130: #333130;
$F-363636: #363636;

// 背景カラー
$B-F2F7FA: #F2F7FA;
$B-FFFFFF: #FFFFFF;
$B-FFFFFF-05: rgba(255, 255, 255, 0.5);
$B-C09933-02:  rgba(192, 153, 51, 0.2);
$B-919191-02:  rgba(145, 145, 145, 0.2);
$B-0A0705: #0A0705;


// パーツカラー
$P-0A0705: #0A0705;
$P-937F2A: #937F2A;
$P-968435: #968435;
$P-988430: #988430;
$P-B5AC85: #B5AC85;
$P-C09933: #C09933;
$P-E4CA84: #E4CA84;
$P-E2E0CD: #E2E0CD;
$P-B4B4B4: #B4B4B4;
$P-FFFFFF: #FFFFFF;
$P-919191: #919191;
$P-141414: #141414;
$P-8B761F: #8B761F;

