@use "../../functions" as *;

/* -----------------------
  admission
----------------------- */

.page--high-admission {
  background-color: #FFB9DC;

  // ===== hero =====
  .high-admission-kv {
    position: relative;

    @include pc {
      width: p(995);
      margin-left: auto;
      height: 100vh;
      padding-top: p(64);
    }

    @include sp {
      padding-top: s(55);
    }

    .high-admission-kv-bg {

      @include pc {
        height: 100%;
      }

      @include sp {}

      img {

        @include pc {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        @include sp {}
      }
    }

    .high-admission-kv-ttl {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      width: fit-content;

      @include pc {
        top: 50%;
      }

      @include sp {
        top: 55%;
      }

      .TL {
        @include pc {
          width: p(176);
        }

        @include sp {
          width: s(192);
        }
      }
    }
  }

  // ===== aside =====
  .high-admission-aside {

    @include pc {
      background-color: #FF76BB;
      width: p(371);
      height: 100vh;
      position: fixed;
      left: 0;
      top: 0;
    }

    @include sp {
      background-color: #F785C0;
      padding: s(23) s(20) s(23) s(43);
    }


    .high-admission-aside-inner {

      @include pc {
        position: absolute;
        top: 54.5%;
        left: 51%;
        transform: translate(-50%, -50%);
        width: p(257);
      }

      @include sp {}

      .aside-ttl {
        margin-bottom: p(36);
        font-family: $font-midashi;
        font-weight: 400;
        color: #fff;
        line-height: 1;
        letter-spacing: 0.1em;
        font-size: p(30);
      }

      .aside-nav {

        .aside-nav-list {

          @include sp {
            display: flex;
            flex-wrap: wrap;
            gap: s(20) 0;
          }

          .aside-nav-list-item {

            @include pc {
              border-bottom: solid p(1) rgba(#fff, 0.3);
              padding: p(19) 0 p(17) p(37);
            }

            @include sp {
              padding-left: s(27);
              width: 50%;
            }

            &:first-child {

              @include pc {
                padding-top: 0;
              }

              @include sp {}
            }

            &:nth-child(odd) {
              @include sp {
                width: 48%;
              }
            }

            .aside-nav-list-item-link {
              position: relative;
              font-family: $font-ja;
              font-weight: 400;
              color: #fff;
              line-height: 1;
              display: block;

              @include pc {
                font-size: p(16);
                letter-spacing: 0.2em;
              }

              @include sp {
                font-size: s(14);
                letter-spacing: 0.1em;
              }

              &::before {
                content: "";
                position: absolute;
                transform: translateY(-50%);
                @include imgContain("high-admission/aside-nav-list-item-link-aho.svg");

                @include pc {
                  width: p(23);
                  height: p(20);
                  left: -18%;
                  top: 59%;
                }

                @include sp {
                  width: s(18);
                  height: s(16);
                  left: -18%;
                  top: 59%;
                }
              }
            }

            .aside-nav-list-sub {
              margin-top: p(13);
              display: flex;
              flex-direction: column;
              gap: p(8);

              .aside-nav-list-item-sub {

                .aside-nav-list-item-link-sub {
                  font-family: $font-ja;
                  font-weight: 400;
                  color: rgba(#fff, 0.7);
                  line-height: 1.5;
                  letter-spacing: 0.2em;
                  display: block;
                  font-size: p(14);
                }
              }
            }
          }
        }
      }
    }
  }

  // ===== sec-ttl =====
  .high-admission-sec-ttl {
    margin-inline: auto;
    position: relative;
    width: fit-content;

    .high-admission-sec-ttl-bg {
      @include imgContain("high-admission/high-admission-sec-ttl-bg.svg");

      @include pc {
        width: p(226);
        height: p(94);
      }

      @include sp {
        width: s(202);
        height: s(84);
      }
    }

    .TL {
      position: absolute;
      transform: translate(-50%, -50%);
      font-family: $font-a1;
      font-weight: 400;
      color: #fff;
      line-height: 1;
      white-space: nowrap;

      @include pc {
        letter-spacing: 0.1em;
        font-size: p(27);
        top: 50%;
        left: 49%;
      }

      @include sp {
        letter-spacing: 0.15em;
        font-size: s(22);
        top: 54%;
        left: 51%;
      }
    }
  }


  .page--high-admission-contents-wrap {
    @include pc {
      width: p(995);
      margin-left: auto;
    }

    // ===== recruiting =====
    .high-admission-recruiting {

      .high-admission-recruiting-ttl {

        @include pc {
          padding-block: p(61) p(52);
        }

        @include sp {
          padding-block: s(33) s(42);
        }
      }

      .high-admission-recruiting-inr {
        background-color: #fff;
        display: flex;
        flex-direction: column;

        @include pc {
          padding: p(113) p(129) p(132) p(133);
          gap: p(46);
        }

        @include sp {
          padding: s(50) s(0) s(46) s(39);
          gap: s(51);
        }

        .recruiting-item {

          @include sp {
            padding-right: s(40);
          }

          &.pd-r-sp {
            @include sp {
              padding-right: s(18);
            }
          }

          .recruiting-item-TL {
            font-family: $font-a1;
            font-weight: 400;
            color: #FF4AA5;
            line-height: 1.5;

            @include pc {
              letter-spacing: 0.14em;
              font-size: p(15);
              margin-bottom: p(20);
            }

            @include sp {
              letter-spacing: 0.15em;
              font-size: s(15);
              margin-bottom: s(18);
            }
          }

          .recruiting-item-txt {

            .TX {
              font-family: $font-a1;
              font-weight: 400;
              color: #292929;
              line-height: 1.5;

              @include pc {
                letter-spacing: 0.15em;
                font-size: p(15);
              }

              @include sp {
                letter-spacing: 0.08em;
                font-size: s(15);
              }

              a {
                color: #292929;
                text-decoration: underline;
              }
            }

            .TX-wrap-list {
              display: flex;
              flex-direction: column;

              @include pc {
                gap: p(10);
              }

              @include sp {
                gap: s(16);
              }

              .TX-wrap {
                display: flex;

                @include sp {
                  gap: s(10);
                }

                &.flex-none {

                  @include pc {
                    margin-top: p(6);
                  }

                  @include sp {
                    flex-direction: column;
                  }
                }

                .TX-ttl {
                  flex-shrink: 0;
                }

                .table-img {
                  width: 100%;
                }
              }

            }

            .TL-wrap-list {
              display: flex;
              flex-direction: column;

              @include pc {
                gap: p(30);
              }

              @include sp {
                gap: s(39);
              }

              .TL-wrap {

                .TL {
                  font-family: $font-a1;
                  font-weight: 500;
                  color: #292929;
                  line-height: 1.5;

                  @include pc {
                    letter-spacing: 0.14em;
                    font-size: p(15);
                    margin-bottom: p(18);
                  }

                  @include sp {
                    letter-spacing: 0.15em;
                    font-size: s(15);
                    margin-bottom: s(18);
                  }
                }

                .TL-txt {

                  .TX {}
                }

                .TL-txt-flex {
                  display: flex;
                  flex-direction: column;

                  @include pc {
                    gap: p(10);
                  }

                  @include sp {
                    gap: s(9);
                  }

                  .TL-txt-flex-item {
                    display: flex;

                    .TX-ttl {
                      flex-shrink: 0;
                    }
                  }
                }


              }
            }
          }
        }



      }
    }

    // ===== scholarship =====
    .high-admission-scholarship {
      .high-admission-scholarship-ttl {

        @include pc {
          padding-block: p(120) p(52);
        }

        @include sp {
          padding-block: s(43) s(35);
        }
      }

      .high-admission-scholarship-inr {

        .scholarship-item {
          position: relative;
          background-color: #fff;

          @include pc {
            padding-top: p(58);
          }

          @include sp {}

          .scholarship-tab {
            background-color: #FFEAF4;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: $font-ja;
            font-weight: 400;
            color: #FF4AA5;
            line-height: 1.5;
            letter-spacing: 0.15em;

            @include pc {
              position: absolute;
              top: 0;
              width: calc(100% / 4);
              height: p(58);
              font-size: p(15);
            }

            @include sp {}
          }

          &:nth-child(1) {
            .scholarship-tab {

              @include pc {
                left: calc(100% / 4 * 0);
              }
            }
          }

          &:nth-child(2) {
            .scholarship-tab {

              @include pc {
                left: calc(100% / 4 * 1);
              }
            }
          }

          &:nth-child(3) {
            .scholarship-tab {
              @include pc {
                left: calc(100% / 4 * 2);
              }
            }
          }

          &:nth-child(4) {
            .scholarship-tab {
              @include pc {
                left: calc(100% / 4 * 3);
              }
            }
          }

          .scholarship-contents {

            .scholarship-contents-item {


              .ttl {}

              .TX {}

              .img {
                width: 100%;
              }

              .TX-point {

                @include pc {
                  margin-top: p(45);
                }

                @include sp {}
              }
            }
          }

        }


      }
    }







    // ===== student =====
    .high-admission-student {
      .high-admission-student-ttl {

        @include pc {
          padding-block: p(130) p(52);
        }

        @include sp {
          padding-block: s(73) s(40);
        }
      }

      .high-admission-student-inr {}
    }

    // ===== faq =====
    .high-admission-faq {
      .high-admission-faq-ttl {

        @include pc {
          padding-block: p(140) p(52);
        }

        @include sp {
          padding-block: s(106) s(33);
        }
      }

      .high-admission-faq-inr {}
    }
  }
}

// ===== footer =====
.footer--admission {
  @include pc {
    width: p(995);
    margin-left: auto;
  }
}