@use "../../global"as *;
@use "../globalCooperator-2"as *;

/* -----------------------
  archive-game
----------------------- */

@font-face {
  font-family: 'BestTenDot';
  src: url('../font/BestTen-DOT.woff2') format('woff2'),
    url('../font/BestTen-DOT.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


