@use "../../global"as *;
@use "../globalCooperator-2"as *;

/* -----------------------
  page-chat
----------------------- */

#sac-latest-message {
  font-size: 0px !important;

  &::before {
    content: "チャットのタイトル";
    font-size: 14px;
  }
}

/* group_aユーザーにはgroup_bとgroup_cのメッセージを非表示 */
.group_a_user {

  .group_b,
  .group_c {
    display: none;
  }
}

/* group_bユーザーにはgroup_aとgroup_cのメッセージを非表示 */
.group_b_user {

  .group_a,
  .group_c {
    display: none;
  }
}

/* group_cユーザーにはgroup_aとgroup_bのメッセージを非表示 */
.group_c_user {

  .group_a,
  .group_b {
    display: none;
  }
}

#sac-output {
  background-color: rgb(255 255 255 / 0.5);
}

#sac-messages {
  opacity: 0; // Initially hide the element
  animation: showMessage 0s 0.3s forwards; // Apply animation
}

@keyframes showMessage {
  to {
    opacity: 1;
  }
}

.timeline {
  background-color: rgba(0, 135, 0, 0.3);
  padding: 20px;
  width: fit-content;
  height: 200px;
  overflow-y: scroll;
  font-size: 12px;
  line-height: 1.5;

  .timeline-item {
    margin-bottom: 10px;

    // いいねボタン
    //すでにいいねしたタイムラインはいいねが赤くなる
    .like-button {
      background-color: #ffffffcc;
      border-radius: 50px;
      font-size: 13px;

      &.liked {
        color: red;
        cursor: not-allowed;
      }
    }


  }

}




// // 他のページに新着メッセージ表示させるとき
// #simple-ajax-chat{
//   display: none;
// }
// #latest-messages{
//   z-index: 999;
//   position: relative;
// }