@use "../../global"as *;
@use "../globalCooperator-2"as *;

/* -----------------------
  load
----------------------- */
.road-wappaer {
  background: linear-gradient(180deg, #BCFAFF 0%, #FFF 100%);
  position: relative;
  width: 100%;
  @include height;

  .road-header {
    @include iconCover($green-header);
    position: relative;
    z-index: 15;
    width: 100%;

    @include pc {
      height: p(60);
    }

    .TL {
      color: $F-FFFFFF;
      @include wt700;

      @include pc {
        font-size: p(23);
        padding: p(15) 0 0 p(34);
      }
    }
  }

  .archive--contents--tab {
    z-index: 20;

    @include pc {
      width: 85%;
      margin-top: p(13);
    }

    .archive--item {

      &--img {
        margin: 0 auto;

        @include pc {
          width: p(67);
          height: p(67);
        }
      }

      &--title {
        text-align: center;
      }
    }
  }

  .arrow {
    position: relative;

    @include pc {
      top: p(-65);
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      background: $P-F69082;
      z-index: 30;

      @include pc {
        width: p(32);
        height: p(8);
        border-radius: p(10);
        right: p(40);
      }
    }

    &::before {
      @include pc {
        top: p(-8);
        rotate: 40deg;
      }
    }

    &::after {
      @include pc {
        top: p(8);
        rotate: -40deg;
      }
    }

  }

  .page-section {

    .content {
      width: 100%;
      height: 100%;

      .road-content {
        position: relative;
        width: 100%;
        height: 100%;

        @include pc {
          gap: p(30);
        }

        .archive--contents {
          width: 100%;
          height: 80%;
          position: absolute;
          z-index: 9;
          left: 50%;
          transform: translate(-50%, -50%);

          @include pc {
            top: 53%;
          }

          @include sp {
            top: 50%;
          }

          .not-login {
            text-align: center;
          }

          &::before {
            content: '';
            position: absolute;
            top: 4%;
            aspect-ratio: 30 / 45;
            @include iconContain($slickArrow);
            z-index: 1;
            animation: arrow 1s infinite;

            @include pc {
              width: p(30);
              right: 0%;
            }

            @include sp {
              width: s(20);
              right: 0%;
            }

            @keyframes arrow {

              0%,
              100% {
                transform: translateX(0%);
              }

              50% {
                transform: translateX(-50%);
              }
            }


          }

          &--tab {
            display: flex;
            overflow-x: scroll;
            position: relative;
            margin: 0 auto;

            @include pc {
              // padding: 0 0 p(60);
              width: 90%;
              gap: p(35);
            }

            @include sp {
              width: 95%;
              gap: s(20);
            }


            .archive--item {
              cursor: pointer;
              flex-shrink: 0;

              @include pc {
                width: p(76);
              }

              @include sp {
                width: s(50);
              }

              &.active {
                cursor: default;

                .archive--item--img {
                  border: solid $P-F38549;

                  @include pc {
                    border-width: p(5);
                  }

                  @include sp {
                    border-width: s(2);
                  }
                }

                .archive--item--title {
                  background-color: $P-F38549;

                  .TX {
                    color: $F-FFFFFF;
                  }
                }
              }

              &:hover {
                .archive--item--img {
                  border: solid $P-f3844992;

                  @include pc {
                    border-width: p(5);
                  }

                  @include sp {
                    border-width: s(2);
                  }
                }

                .archive--item--title {
                  background-color: $P-f3844992;

                  .TX {
                    color: $F-FFFFFF;
                  }
                }
              }

              &--img {
                border-radius: 50%;
                object-fit: cover;
                object-position: center;
                transition: all 0.3s;

                @include pc {
                  width: p(76);
                  height: p(76);
                }

                @include sp {
                  width: s(50);
                  height: s(50);
                }
              }

              &--title {
                text-align: center;
                border-radius: 50px;
                transition: all 0.3s;
                width: 100%;
                font-size: 100%;

                @include pc {
                  padding: p(10) 0;
                }

                @include sp {
                  padding: s(3) 0;
                }

                .TX {
                  @include wt800;
                  color: #6B644D;
                  transition: all 0.3s;
                  overflow-wrap: break-word;
                  word-wrap: break-word;

                  @include pc {
                    font-size: p(14);
                  }

                  @include sp {
                    font-size: s(14);
                  }
                }
              }
            }
          }


          &--items {
            position: absolute;
            overflow-x: scroll;
            overflow-y: hidden;

            @include pc {
              width: 80%;
              top: 60%;
              right: 0;
              translate: 0 -50%;
              padding: p(80) 0 0;
            }

            @include sp {
              width: 95%;
              height: fit-content;
              margin: 0 auto;
              top: 50%;
              left: 50%;
              translate: -50% -50%;
            }

            &--wap {
              display: none;

              @include pc {
                gap: p(35);
              }

              @include sp {
                gap: s(20);
              }

              &.active {
                display: flex;
              }

              .archive--items {
                aspect-ratio: 2/1;
                flex-shrink: 0;
                cursor: pointer;

                @include pc {
                  width: p(411);
                  @include column(p(23));
                  padding-right: p(20);
                }

                @include sp {
                  width: 50%;
                  @include column(s(20));
                }

                &:hover {

                  .items--title {
                    background-color: #F38549;

                    .TL {
                      color: $F-FFFFFF;
                    }
                  }
                }

                @include sp {}

                .items--img {
                  width: 100%;
                  aspect-ratio: 411 / 268;
                  border-radius: 5px;
                  background-color: #ffffff;

                  @include pc {
                    padding: p(17);
                  }

                  @include sp {
                    padding: s(10);
                  }

                  .img {
                    aspect-ratio: 376 / 236;
                    width: 100%;
                    height: fit-content;
                    object-fit: cover;
                    object-position: center;
                  }
                }

                .items--title {
                  width: 100%;
                  border-radius: 50px;
                  background-color: #ffffffb4;
                  border: solid #F38549;
                  transition: all 0.3s;

                  @include pc {
                    padding: p(3) 0;
                    border-width: p(3);
                  }

                  @include sp {
                    padding: s(3) 0;
                    border-width: s(2);
                  }

                  .TL {
                    text-align: center;
                    @include wt800;
                    color: #F38549;

                    @include pc {
                      font-size: p(32);
                    }

                    @include sp {
                      font-size: s(16);
                    }
                  }
                }
              }
            }
          }


        }


      }
      .destination {
        position: absolute;

        .goal {
          display: block;
          @include imgContain("goal.png");
          position: relative;
          left: 73%;

          @include pc {
            width: p(107);
            height: p(62);
          }

          &.clear {
            @include imgContain("clear.png");
          }

          &.not {
            @include imgContain("not.png");

            @include pc {
              width: p(83);
              height: p(40);
            }
          }
        }

        .character-box {
          position: absolute;
          bottom: 0;
          translate: -50% 0;
          z-index: 10;
          pointer-events: none;

          .character {
            @include imgContain("koneko.png");
            transition: left 0.5s ease;
            margin: 0 auto;


            @include pc {
              width: p(57);
              height: p(54);
            }
          }

          .name {
            @include pc {
              width: p(40);
              font-size: p(13);
              text-align: center;
            }
          }

          &.me {
            animation: floating-y 2s ease-in-out infinite alternate-reverse;

            @keyframes floating-y {
              0% {
                transform: translateY(0%);
              }

              100% {
                transform: translateY(-5%);
              }
            }

            @include pc {
              top: p(-260) !important;
            }

            .character {
              @include imgContain("me.png");

              @include pc {
                width: p(165);
                height: p(257);
              }
            }
          }
        }
      }

    }
  }

  &.puzzle {

    .cloud-box {
      .road-cloud {
        @include iconContain($road-cloud);
        position: absolute;

        &:nth-child(1),
        &:nth-child(7) {
          @include pc {
            width: p(250);
            height: p(160);
            bottom: p(551);
            left: p(-90);
          }
        }

        &:nth-child(2) {
          z-index: 10;
          scale: -1 1;

          @include pc {
            width: p(147);
            height: p(108);
            bottom: p(474);
            left: 0;
          }
        }

        &:nth-child(3),
        &:nth-child(9) {
          @include pc {
            width: p(168);
            height: p(124);
            bottom: p(495);
            left: p(195);
          }
        }

        &:nth-child(4),
        &:nth-child(8) {
          @include pc {
            width: p(147);
            height: p(108);
            bottom: p(554);
            right: p(502);
          }
        }

        &:nth-child(5),
        &:nth-child(10) {
          scale: -1 1;

          @include pc {
            width: p(127);
            height: p(93);
            bottom: p(576);
            right: p(81);
          }
        }

        &:nth-child(6) {
          z-index: 10;

          @include pc {
            width: p(147);
            height: p(108);
            bottom: p(497);
            right: p(-20);
          }
        }

        &:nth-child(11) {
          z-index: 10;

          @include pc {
            width: p(290);
            height: p(210);
            bottom: p(-60);
            left: p(-70);
          }
        }

        &:nth-child(12) {
          z-index: 10;

          @include pc {
            width: p(225);
            height: p(170);
            bottom: p(-40);
            right: p(-100);
          }
        }

        &.road-cloud02 {
          @include iconContain($road-cloud02);
        }
      }
    }

    .wrap{
      width: p(1280);
    }
    .page-section{
      z-index: 5;
      position: absolute;
      bottom: 0;
      display: none;

      @include pc {
        width: p(1280);
        height: p(700);
      }

      &.page1{
        @include imgContain("road-bg.png");
      }
      &.page2{
        @include imgContain("bg-c.png");
      }
      &.show{
        display: block;
      }
      .road-inner {
        position: relative;

        @include pc {
          width: p(1032);
          height: p(360);
          margin: p(228) 0 0 p(210);
        }

        .road-wood {
          @include imgContain("road-wood.png");
          position: absolute;

          @include pc {
            width: p(277);
            height: p(298);
            right: p(-80);
            top: p(-80);
          }
        }

        .road-wood-02 {
          @include imgContain("road-wood-02.png");
          position: absolute;
          z-index: 20;

          @include pc {
            width: p(182);
            height: p(193);
            left: p(-213);
            bottom: p(-53);
          }
        }

        .content {
          .road-content {
            .destination {
              @include pc {
                width: p(180);
              }
            }
          }
        }
        .section-arrow{
          @include iconContain($next-section);
          position: relative;
          @include pc{
            width: p(46);
            height: p(120);
            bottom: p(268);
          }

          &.next-section{
            @include pc{
              margin-left: auto;
            }
          }
          &.back-section{
            scale: -1 1;
            @include pc{
              margin-right: auto;
            }
          }  
        }
      }
    }

    .road-chat {
      position: absolute;
      z-index: 20;
      height: fit-content;

      @include pc {
        left: 0;
        bottom: p(45);
      }

      #simple-ajax-chat {
        display: none;
      }

      .C_chat-content {
        #latest-messages {
          @include pc {
            padding-left: p(15);
          }

          .sac-chat-name {
            display: none;
          }
        }

        .timeline-wrap {
          .timeline {
            background: linear-gradient(0deg, rgba(92, 92, 92, 0.00) 0%, rgba(92, 92, 92, 0.40) 15.5%, rgba(92, 92, 92, 0.60) 29%, rgba(92, 92, 92, 0.60) 71.5%, rgba(92, 92, 92, 0.40) 87.5%, rgba(92, 92, 92, 0.00) 100%);
            color: $F-F1FCD4;

            @include pc {
              font-size: p(10);
              width: p(165);
              height: fit-content;
              padding: p(15) p(10);
              margin-top: p(23);
              line-height: 1.5;
            }
          }
        }

        .C_reaction {
          background: $B-F69064;

          @include pc {
            width: p(165);
            border-radius: 0 p(15) p(15) 0;
            margin-top: p(23);
            padding: p(10) p(8) p(10) p(10);
          }

          .reaction-counter {
            position: absolute;

            @include pc {
              top: p(30);
              right: p(67);
            }
          }

          .coin-counter {
            @include pc {
              margin: p(3) 0 0 auto;
            }
          }
        }
      }
    }

    .under-menu {
      position: absolute;
      z-index: 99;
      background: rgba(92, 92, 92, 0.50);
      width: 100%;
      transition: all 0.5s;

      @include pc {
        padding: p(64) p(38) p(34);
        bottom: p(-160);
      }

      .menu-arrow {
        position: absolute;
        left: 50%;
        translate: -50% 0;

        @include pc {
          top: p(14);
        }

        &::before,
        &::after {
          content: "";
          position: absolute;
          background-color: $B-FFFFFF;
          top: 0;

          @include pc {
            border-radius: p(4);
            width: p(30);
            height: p(4);
          }
        }

        &::before {
          @include pc {
            rotate: -30deg;
            right: p(-3);
          }
        }

        &::after {
          @include pc {
            rotate: 30deg;
            left: p(-4);
          }
        }
      }

      .menu-box {
        display: flex;
        justify-content: right;

        @include pc {
          gap: p(20);
        }

        .btn {
          @include pc {
            width: p(92);
            height: p(92);
          }

          &.road-my-btn {
            @include imgContain("my-btn.png");
          }

          &.road-ranking-btn {
            @include imgContain("ranking-btn.png");
          }

          &.road-column-btn {
            @include imgContain("column-btn.png");
          }

          &.road-question-btn {
            @include imgContain("question-btn.png");
          }

          &.road-game-btn {
            @include imgContain("game-btn.png");
          }
        }
      }
      &.open {
        bottom: 0;
        transition: all 0.5s;
      }
    }
  }
}

