@use "../../global"as *;
@use "../globalCooperator-2"as *;

/* -----------------------
  page-cover
----------------------- */

.cover-wrapper {
  position: relative;
  background: linear-gradient(180deg, #BCFAFF 0%, #FFF 100%);
  @include height;

  .cover {
    @include imgCover("cover-bg.webp");
    z-index: 1;

    @include pc {
      width: 100%;
      height: 100%;
    }

    @include sp {
      width: 100%;
      height: 100%;
    }

    &-header {
      @include iconCover($green-header);
      position: relative;
      z-index: 20;
      width: 100%;

      @include pc {
        height: p(60);
        padding: p(15) p(20);
      }

      @include sp {
        height: scl(32);
        padding: scl(7) scl(10);
      }

      .TL {
        color: $F-FFFFFF;
        @include wt500;

        @include pc {
          font-size: pmi(23);
        }

        @include sp {
          font-size: s(12);
        }

        a {
          @include wt500;
          color: $F-FFFFFF;
          border-bottom: 2px solid $F-FFFFFF;

          &:hover {
            opacity: 0.7;
          }
        }
      }

      .btn {
        @include imgContain("butterfly03.webp");
        position: absolute;

        @include pc {
          width: pmi(94);
          height: pmi(89);
          top: pmi(10);
          right: pmi(20);
        }

        @include sp {
          width: s(40);
          height: s(36);
          top: s(20);
          right: s(10);
        }

        &::before {
          content: "ジャンル選択";
          position: relative;
          color: $P-C2DFE7;

          @include pc {
            font-size: pmi(14);
            right: pmi(65);
            letter-spacing: pmi(1.5);
            top: 0;
          }

          @include sp {
            font-size: s(10);
            right: s(35);
            letter-spacing: s(1.5);
            white-space: nowrap;
            top: s(-20);
          }
        }

        &::after {
          content: "";
          position: relative;
          border-right: pmi(3) solid $P-C2DFE7;
          border-bottom: pmi(3) solid $P-C2DFE7;
          rotate: -135deg;
          display: block;

          @include pc {
            width: pmi(11);
            height: pmi(11);
            right: pmi(25);
            top: p(10);
          }

          @include sp {
            width: s(6);
            height: s(6);
            right: s(10);
            top: s(-12);
          }
        }
      }
    }

    .tab-wrap {
      @include iconCover($tab-wrap);
      position: absolute;
      top: -500px;
      z-index: 10;
      transition: all 0.5s;

      @include pc {
        width: p(1280);
        height: p(200);
        padding: p(67) pmi(0) p(17);
      }

      @include sp {
        width: 100%;
        height: scl(100);
      }

      .archive--contents--tab {
        z-index: 20;
        position: absolute;
        width: 98%;
        left: 50%;
        translate: -50% 0;

        @include pc {
          top: p(73);
        }

        @include sp {
          top: scl(35);
          width: 98%;
          gap: scl(15);
        }

        .archive--item {

          &--img {
            margin: 0 auto;
            aspect-ratio: 1 / 1;

            @include pc {
              width: p(80);
            }

            @include sp {
              width: scl(40);
            }
          }

          &--title {
            text-align: center;
          }
        }
      }


      &.show {
        top: 0;
        transition: all 0.5s;
        z-index: 11;
      }
    }

    .chara-link {
      position: absolute;

      .link {
        background: $B-FFFFFF;
        color: $F-898069;
        position: absolute;
        z-index: 10;
        @include wt700;

        @include pc {
          white-space: nowrap;
          padding: pmi(21) pmi(32);
          border-radius: pmi(100);
        }

        @include sp {
          white-space: nowrap;
          padding: scl(5) scl(10);
          border-radius: pmi(100);
        }

        &::before {
          content: "";
          background: $B-FFFFFF;
          position: absolute;

          @include pc {
            width: pmi(25);
            height: pmi(10);
            bottom: pmi(-8);
          }

          @include sp {
            width: scl(10);
            height: scl(5);
            bottom: scl(-2);
          }
        }
      }

      &.koinubox {
        @include pc {
          bottom: pmi(180);
          left: pmi(80);
        }

        @include sp {
          bottom: scl(140);
          left: scl(-20);
        }

        .koinu {
          @include imgContain("koinu.webp");
          transition: all 1s;

          @include pc {
            width: pmi(187);
            height: pmi(198);
          }

          @include sp {
            width: scl(100);
            height: scl(100);
          }

          &:hover {
            transform-origin: center bottom;
            transition: all 2s;
            rotate: 20deg;
          }
        }

        .link {
          @include pc {
            top: pmi(-85);
            left: pmi(70);
          }

          @include sp {
            top: scl(-50);
            left: scl(20);
          }

          &::before {
            clip-path: polygon(90% 0, 100% 100%, 10% 100%);

            @include pc {
              right: pmi(32);
              rotate: -45deg;
            }

            @include sp {
              right: scl(20);
              rotate: -45deg;
              bottom: scl(-5);
            }
          }
        }
      }

      &.goatbox {
        @include pc {
          bottom: pmi(120);
          right: clamp(p(8), p(8), 8px);
        }

        @include sp {
          bottom: scl(100);
          right: scl(-20);
        }

        .goat {
          @include imgContain("goat.webp");
          transition: all 1s;

          @include pc {
            width: pmi(240);
            height: pmi(230);
          }

          @include sp {
            width: scl(130);
            height: scl(130);
          }

          &:hover {
            transform-origin: center bottom;
            transition: all 2s;
            rotate: -20deg;
          }
        }

        .link {
          @include pc {
            top: pmi(-61);
            left: pmi(-20);
          }

          @include sp {
            top: scl(-30);
            left: scl(10);
          }

          &::before {
            clip-path: polygon(10% 0, 100% 100%, 10% 100%);

            @include pc {
              rotate: 45deg;
              left: pmi(25);
              bottom: pmi(-5);
            }

            @include sp {
              rotate: 45deg;
              left: scl(10);
              bottom: scl(-5);
            }
          }
        }
      }


    }

    .tree {
      @include imgCover("top-tree05.webp");
      position: absolute;
      pointer-events: none;


      &.tree01 {
        @include pc {
          width: pmi(594);
          height: pmi(671);
          bottom: pmi(161);
          left: clamp(-162px, p(-162), -100px);
        }

        @include sp {
          width: scl(280);
          height: scl(380);
          bottom: smi(141);
          left: clamp(-180px, s(-120), -120px);
        }
      }

      &.tree02 {
        @include pc {
          width: pmi(563);
          height: pmi(654);
          bottom: pmi(113);
          right: clamp(-230px, p(-215), -180px);
        }

        @include sp {
          width: scl(300);
          height: scl(400);
          bottom: smi(101);
          right: clamp(-200px, s(-150), -150px);
        }
      }
    }

    .tree01-02 {
      @include imgContain("top-tree01-02.webp");
      position: absolute;
      pointer-events: none;

      @include pc {
        width: clamp(500px, p(680), 680px);
        height: clamp(800px, p(1092), 1092px);
        bottom: p(-50);
        right: clamp(-220px, s(-200), -200px);
        z-index: 10;
      }
    }



    .tree03 {
      @include imgContain("cover-tree.webp");
      position: absolute;

      @include pc {
        width: clamp(470px, p(563), p(563));
        height: clamp(550px, p(654), p(654));
        bottom: 113px;
        right: clamp(p(-290), p(-200), -215px);
      }
    }

    &-content {
      height: 100%;
      position: relative;
      margin: 0 auto;

      @include pc {
        width: p(558);
      }

      @include sp {
        width: fit-content;
      }

      .intermediate-page {
        position: absolute;
        left: 50%;
        translate: -50% -50%;

        @include pc {
          top: 40%;
        }

        @include sp {
          top: 32%;
        }

        .TL-wrap {
          @include iconContain($cover-ribbon);

          @include pc {
            width: pmi(558);
            height: auto;
          }

          @include sp {
            width: scl(280);
            height: auto;
          }

          .post-TL {
            color: $F-7F8180;
            text-align: center;
            @include wt600;

            @include pc {
              padding: pmi(15) pmi(80) pmi(47);
              font-size: pmi(30);
              line-height: 1.2;
            }

            @include sp {
              padding: scl(30) scl(40) scl(43);
              font-size: scl(18);
              line-height: 1.2;
            }

            &.error {
              @include pc {
                margin-top: pmi(-40);
              }

              @include sp {
                margin-top: scl(-40);
              }
            }
          }
        }

        .post-thumbnail {
          position: relative;
          @include pc {
            width: pmi(558);
            height: pmi(334);
            margin: 0 auto;
          }

          @include sp {
            width: scl(280);
            height: scl(168);
            margin: 0 auto;
          }

          a {
            img {
              background-size: contain;
              height: 100%;
              width: 100%;
            }
          }
          .buddy {
            border-radius: 999px;
            background: #fff;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            pointer-events: none;
            z-index: 100;
  
            @include pc {
              height: pmi(63);
              line-height: pmi(63);
              padding-inline: pmi(19);
              box-shadow: 0 pmi(6) pmi(10) rgba(0, 0, 0, 0.20);
              top: pmi(-30);
            }
  
            @include sp {
              height: scl(43);
              line-height: scl(43);
              padding-inline: scl(19);
              box-shadow: 0 scl(6) scl(10) rgba(0, 0, 0, 0.20);
              top: smi(-20);
            }
  
            &_TX {
              @include wt700;
              color: #898069;
              white-space: nowrap;
  
              @include pc {
                font-size: pmi(16);
                letter-spacing: pmi(1.6);
              }
  
              @include sp {
                font-size: scl(12);
                letter-spacing: scl(1.2);
              }
  
              span {
                @include wt700;
                color: #F75F9E;
                position: relative;
  
                @include pc {
                  font-size: pmi(38);
                  letter-spacing: pmi(3.8);
                  vertical-align: middle;
                  top: pmi(-5);
                }
  
                @include sp {
                  font-size: scl(22);
                  letter-spacing: scl(2.4);
                  vertical-align: middle;
                  top: scl(-5);
                }
              }
            }
  
          }
  
  
        }

        
        .start-btn-wrap{
          position: relative;
        }
        .start-btn {
          background: $P-ED863A;
          color: $F-FFFFFF;
          display: block;
          width: fit-content;
          @include wt700;

          @include pc {
            box-shadow: 0px pmi(2) 0px 0px #E28738, 0px 0px pmi(34) 0px #F6D741 inset;
            padding: pmi(15) pmi(73);
            border-radius: pmi(5);
            margin: pmi(55) auto 0;
            letter-spacing: pmi(1.1);
            font-size: pmi(23)
          }

          @include sp {
            box-shadow: 0px scl(2) 0px 0px #E28738, 0px 0px scl(34) 0px #F6D741 inset;
            padding: scl(15) scl(53);
            border-radius: scl(5);
            margin: scl(25) auto 0;
            letter-spacing: scl(1.1);
            font-size: scl(18)
          }
        }

      }

      .shironeko-wrap {
        position: absolute;
        z-index: 50;

        @include pc {
          width: pmi(257);
          height: pmi(250);
          left: pmi(-134);
          bottom: p(90);
        }

        @include sp {
          width: scl(150);
          height: scl(150);
          left: scl(-150);
          bottom: scl(90);
        }

        .shironeko {
          @include imgContain("shironeko.webp");

          @include pc {
            width: pmi(257);
            height: pmi(250);
          }

          @include sp {
            width: scl(150);
            height: scl(150);
          }
        }

        .shadow {
          @include imgContain("shironeko-shadow.webp");

          @include pc {
            width: pmi(193);
            height: pmi(39);
            margin: -15px auto;

          }

          @include sp {
            width: scl(100);
            height: scl(20);
            margin: -10px auto;
          }
        }


      }
    }

    .back-wrap {
      position: absolute;
      pointer-events: none;

      @include pc {
        width: pmi(569);
        height: pmi(1051);
        bottom: 0;
        left: clamp(-300px, p(-300), -200px);
      }

      @include sp {
        width: scl(200);
        height: scl(370);
        top: scl(-160);
        left: scl(-100);
      }

      .back {
        @include imgContain("back-balloon.webp");

        @include pc {
          width: pmi(569);
          height: pmi(1051);
          bottom: 0;
          left: clamp(-300px, p(-300), -200px);
        }

        @include sp {
          width: scl(200);
          height: scl(370);
          top: scl(-160);
          left: scl(-100);
        }
      }

      .TX {
        position: absolute;
        color: $F-FFFFFF;
        pointer-events: fill;

        @include pc {
          font-size: pmi(20);
          letter-spacing: p(1.2);
          height: pmi(50);
          bottom: pmi(255);
          right: pmi(189);
        }

        @include sp {
          font-size: scl(10);
          letter-spacing: scl(1.2);
          height: scl(30);
          bottom: scl(80);
          right: scl(65);
        }
      }
    }
  }

  .board {
    position: absolute;
    z-index: 20;

    @include pc {
      width: pmi(202);
      height: pmi(185);
    }

    @include sp {
      width: scl(100);
      height: scl(91);
    }

    .link-TX {
      color: $F-FFFFFF;
      @include wt600;

      @include pc {
        font-size: pmi(27);
        letter-spacing: pmi(1.3);
      }

      @include sp {
        font-size: scl(16);
        letter-spacing: scl(1.3);
      }
    }

    &.next {
      @include imgContain("next.webp");

      @include pc {
        bottom: p(-40);
        right: 60px;
        padding: pmi(35) 0 0 pmi(30);
      }

      @include sp {
        bottom: -10px;
        right: 0;
        padding: scl(15) 0 0 scl(10);
      }
    }

    &.prev {
      @include imgContain("back.webp");

      @include pc {
        bottom: -51px;
        right: clamp(210px, p(275), 275px);
        padding: pmi(28) 0 0 pmi(48);
        width: pmi(175);
        height: pmi(150);
      }

      @include sp {
        bottom: -27px;
        right: 130px;
        padding: scl(17) 0 0 scl(23);
        width: scl(88);
        height: scl(85);
      }

      .link-TX {

        @include pc {
          font-size: pmi(23);
        }

        @include sp {
          font-size: scl(13);
        }
      }

    }
  }

  .grass {
    position: absolute;

    &.grass01 {
      @include imgContain("cover-grass01.webp");

      @include pc {
        width: pmi(389);
        height: pmi(215);
        bottom: -81px;
        left: -140px;
      }

      @include sp {
        width: scl(150);
        height: scl(83);
        bottom: -30px;
        left: -10px;
      }
    }

    &.grass02 {
      @include imgContain("cover-grass02.webp");
      pointer-events: none;
      z-index: 30;

      @include pc {
        width: pmi(337);
        height: pmi(201);
        right: -114px;
        bottom: -104px;
      }

      @include sp {
        width: scl(100);
        height: scl(60);
        right: -20px;
        bottom: -20px;
      }
    }
  }
}