@use "mixin" as *;
@use "variables" as *;

// faq PC
.faq{
  @include pc{
    padding: calc((100 / 1280) * 100vw) calc(( 40 / 1280) * 100vw);

    &--contents{
      margin-top: calc(( 32 / 1280) * 100vw);
      @include column(calc(( 16 / 1280) * 100vw));
      width: 100%;

      .item{
        width: 100%;

        &--f{
          display: flex;
          align-items: center;
          gap: calc(( 16 / 1280) * 100vw);
          border-radius: calc(( 10 / 1280) * 100vw);
          background: #EFE9EF;
          padding: calc(( 8 / 1280) * 100vw) calc(( 16 / 1280) * 100vw) calc(( 7 / 1280) * 100vw);
          position: relative;
          cursor: pointer;

          &::before{
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: calc(( 18 / 1280) * 100vw);
            width: calc(( 20 / 1280) * 100vw);
            height: calc(( 12 / 1280) * 100vw);
            background-image: $FAQ;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            transition: 0.3s;
          }

          &.active{
            &::before{
              transform: translateY(-50%) rotate(540deg);
            }
          }

          h2{
            color: #A987BA;
            @include Hannotate;
            font-size: max(calc(( 34 / 1280) * 100vw),30px);
            font-weight: 400;
            line-height: 120%;
            padding-right: calc(( 16 / 1280) * 100vw);
            border-right: calc(( 2 / 1280) * 100vw) dotted #A987BA;
          }

          p{
            color: #291A2B;
            @include zen;
            font-size: max(calc(( 15 / 1280) * 100vw),12px);
            font-weight: 700;
          }
        }

        &--a{
          display: flex;
          align-items: center;
          gap: calc(( 16 / 1280) * 100vw);
          border-radius: calc(( 10 / 1280) * 100vw);
          border: calc(( 2 / 1280) * 100vw) solid #EFE9EF;
          padding: calc(( 8 / 1280) * 100vw) calc(( 16 / 1280) * 100vw) calc(( 7 / 1280) * 100vw);
          display: none;

          &.active{
            display: flex;
          }

          h2{
            color: #A987BA;
            @include Hannotate;
            font-size: max(calc(( 34 / 1280) * 100vw),30px);
            font-weight: 400;
            line-height: 120%;
            padding-right: calc(( 16 / 1280) * 100vw);
            border-right: calc(( 2 / 1280) * 100vw) dotted #A987BA;
          }

          p{
            color: #291A2B;
            @include zen;
            font-size: max(calc(( 15 / 1280) * 100vw),12px);
            font-weight: 700;
          }
        }
      }
    }
  }
}


// faq SPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSP
.faq{
  @include sp{
    padding: calc((100 / 390) * 100vw) calc(( 24 / 390) * 100vw);

    &--contents{
      margin-top: calc(( 32 / 390) * 100vw);
      @include column(calc(( 15 / 390) * 100vw));
      width: 100%;

      .item{
        width: 100%;

        &--f{
          display: flex;
          align-items: center;
          gap: calc(( 16 / 390) * 100vw);
          border-radius: calc(( 10 / 390) * 100vw);
          background: #EFE9EF;
          padding: calc(( 9 / 390) * 100vw) calc(( 41 / 390) * 100vw) calc(( 8 / 390) * 100vw) calc(( 16 / 390) * 100vw);
          position: relative;
          cursor: pointer;

          &::before{
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: calc(( 15 / 390) * 100vw);
            width: calc(( 12 / 390) * 100vw);
            height: calc(( 7 / 390) * 100vw);
            background-image: $FAQ;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            transition: 0.3s;
          }

          &.active{
            &::before{
              transform: translateY(-50%) rotate(540deg);
            }
          }

          h2{
            color: #A987BA;
            @include Hannotate;
            font-size: calc(( 34 / 390) * 100vw);
            font-weight: 400;
            line-height: 150%;
            padding-right: calc(( 16 / 390) * 100vw);
            border-right: calc(( 2 / 390) * 100vw) dotted #A987BA;
          }

          p{
            color: #291A2B;
            @include zen;
            font-size: calc(( 15 / 390) * 100vw);
            font-weight: 700;
          }
        }

        &--a{
          display: flex;
          align-items: center;
          gap: calc(( 16 / 390) * 100vw);
          border-radius: calc(( 10 / 390) * 100vw);
          border: calc(( 2 / 390) * 100vw) solid #EFE9EF;
          padding: calc(( 9 / 390) * 100vw) calc(( 41 / 390) * 100vw) calc(( 8 / 390) * 100vw) calc(( 16 / 390) * 100vw);
          display: none;

          &.active{
            display: flex;
          }

          h2{
            color: #A987BA;
            @include Hannotate;
            font-size: calc(( 34 / 390) * 100vw);
            font-weight: 400;
            line-height: 150%;
            padding-right: calc(( 16 / 390) * 100vw);
            border-right: calc(( 2 / 390) * 100vw) dotted #A987BA;
          }

          p{
            color: #291A2B;
            @include zen;
            font-size: calc(( 15 / 390) * 100vw);
            font-weight: 700;
          }
        }
      }
    }
  }
}