@use "mixin" as *;
@use "variables" as *;

// flow PC
.flow {
  @include pc {
    padding: calc((100 / 1280) * 100vw) 0 calc((100 / 1280) * 100vw);
    background: #FFF;

    .section__title {
      margin-bottom: calc((50 / 1280) * 100vw);
    }

    &--contents {
      @include column(calc((50 / 1280) * 100vw));
      width: fit-content;
      margin: 0 auto calc((164 / 1280) * 100vw);

      .item {
        display: flex;
        gap: calc((40 / 1280) * 100vw);

        .icon--circle {
          width: calc((140 / 1280) * 100vw);
          height: calc((140 / 1280) * 100vw);
          background: #EBE6EB;
          border-radius: 50%;
          @include center;

          .icon {
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
          }
        }

        &:nth-child(1) {
          .icon--circle {
            .icon {
              width: calc((69 / 1280) * 100vw);
              height: calc((111 / 1280) * 100vw);
              background-image: url('/img/flow-1.png');
            }
          }
        }

        &:nth-child(2) {
          .icon--circle {
            .icon {
              width: calc((90 / 1280) * 100vw);
              height: calc((110 / 1280) * 100vw);
              background-image: url('/img/flow-2.png');
            }
          }
        }

        &:nth-child(3) {
          .icon--circle {
            .icon {
              width: calc((100 / 1280) * 100vw);
              height: calc((100 / 1280) * 100vw);
              background-image: url('/img/flow-3.png');
            }
          }
        }

        &:nth-child(4) {
          .icon--circle {
            .icon {
              width: calc((72 / 1280) * 100vw);
              height: calc((108 / 1280) * 100vw);
              background-image: url('/img/flow-4.png');
            }
          }
        }

        .gorilla {
          width: max(calc((752 / 1280) * 100vw), 620px);
          @include column(calc((16 / 1280) * 100vw));

          h2 {
            color: #291A2B;
            @include zen;
            font-size: max(calc((28 / 1280) * 100vw), 24px);
            font-weight: 700;
          }

          h3 {
            color: #291A2B;
            @include zen;
            font-size: max(calc((16 / 1280) * 100vw), 14px);
            font-weight: 500;
          }

          .small-btn {
            width: max(calc((300 / 1280) * 100vw), 250px);

            p {
              font-size: max(calc((16 / 1280) * 100vw), 14px);
            }
          }
        }
      }
    }

    &--campaign {
      margin: auto;
      width: max(calc((720 / 1280) * 100vw), 520px);
      padding: calc((75 / 1280) * 100vw) 0 calc((49 / 1280) * 100vw);
      border-radius: 20px;
      background: #DFD0DD;
      position: relative;

      &::before {
        content: '';
        width: calc((331 / 1280) * 100vw);
        height: calc((137 / 1280) * 100vw);
        background-image: url('/img/flow-ribbon.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: calc((-38 / 1280) * 100vw);
        left: calc((57 / 1280) * 100vw);
      }

      h2 {
        color: #291A2B;
        text-align: center;
        @include zen;
        font-size: max(calc((20 / 1280) * 100vw), 18px);
        font-weight: 700;
      }

      h3 {
        color: #291A2B;
        text-align: center;
        @include zen;
        font-size: max(calc((16 / 1280) * 100vw), 14px);
        font-weight: 500;
        line-height: 156%;
        margin: calc((16 / 1280) * 100vw) 0 calc((32 / 1280) * 100vw);
      }

      .small-btn {
        margin: 0 auto;
        width: max(calc((300 / 1280) * 100vw), 250px);
        padding: calc((10 / 1280) * 100vw) 0 calc((11 / 1280) * 100vw) calc((22 / 1280) * 100vw);

        p {
          font-size: max(calc((16 / 1280) * 100vw), 14px);
        }
      }
    }
  }
}

// flow SPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSP
.flow {
  @include sp {
    padding: calc((94 / 390) * 100vw) calc(( 24 / 390) * 100vw) calc((100 / 390) * 100vw);
    background: #FFF;

    .section__title {
      margin-bottom: calc((60 / 390) * 100vw);
    }

    &--contents {
      @include column(calc((50 / 390) * 100vw));
      width: fit-content;
      margin: 0 auto calc((150 / 390) * 100vw);

      .item {
        @include column(calc((16 / 390) * 100vw));
        align-items: center;

        .icon--circle {
          width: calc((140 / 390) * 100vw);
          height: calc((140 / 390) * 100vw);
          background: #EBE6EB;
          border-radius: 50%;
          @include center;

          .icon {
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
          }
        }

        &:nth-child(1) {
          .icon--circle {
            .icon {
              width: calc((69 / 390) * 100vw);
              height: calc((111 / 390) * 100vw);
              background-image: url('/img/flow-1.png');
            }
          }
        }

        &:nth-child(2) {
          .icon--circle {
            .icon {
              width: calc((90 / 390) * 100vw);
              height: calc((110 / 390) * 100vw);
              background-image: url('/img/flow-2.png');
            }
          }
        }

        &:nth-child(3) {
          .icon--circle {
            .icon {
              width: calc((100 / 390) * 100vw);
              height: calc((100 / 390) * 100vw);
              background-image: url('/img/flow-3.png');
            }
          }
        }

        &:nth-child(4) {
          .icon--circle {
            .icon {
              width: calc((72 / 390) * 100vw);
              height: calc((108 / 390) * 100vw);
              background-image: url('/img/flow-4.png');
            }
          }
        }

        .gorilla {
          width: 100%;
          @include column(calc((16 / 390) * 100vw));

          h2 {
            color: #291A2B;
            @include zen;
            font-size: calc((22 / 390) * 100vw);
            font-weight: 700;
            text-align: center;
          }

          h3 {
            color: #291A2B;
            @include zen;
            font-size: calc((16 / 390) * 100vw);
            font-weight: 500;

          }

          .small-btn {
            width: calc((300 / 390) * 100vw);
            margin: 0 auto;

            p {
              font-size: calc((16 / 390) * 100vw);
            }
          }
        }
      }
    }

    &--campaign {
      margin: auto;
      width: 100%;
      padding: calc((72 / 390) * 100vw) calc(( 32 / 390) * 100vw) calc((49 / 390) * 100vw);
      border-radius: 20px;
      background: #DFD0DD;
      position: relative;

      &::before {
        content: '';
        width: calc((260 / 390) * 100vw);
        height: calc((110 / 390) * 100vw);
        background-image: url('/img/flow-ribbon.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: calc((-20 / 390) * 100vw);
        left: 50%;
        transform: rotate(6deg) translateX(-50%);
      }

      h2 {
        color: #291A2B;
        text-align: center;
        @include zen;
        font-size: calc((18 / 390) * 100vw);
        font-weight: 700;
      }

      h3 {
        color: #291A2B;
        @include zen;
        font-size: calc((16 / 390) * 100vw);
        font-weight: 500;
        line-height: 156%;
        margin: calc((16 / 390) * 100vw) 0 calc((32 / 390) * 100vw);
      }

      .small-btn {
        margin: 0 auto;
        width: 100%;
        padding: calc((25 / 390) * 100vw) 0 calc((25 / 390) * 100vw) calc((19 / 390) * 100vw);

        p {
          font-size: calc((16 / 390) * 100vw);
        }
      }
    }
  }
}