@use "mixin" as *;
@use "variables" as *;

// FV PC
.fv{
  @include pc{
    padding: calc(( 80 / 1280) * 100vw) calc(( 20 / 1280) * 100vw) calc(( 20 / 1280) * 100vw);
    background: #F9EEFF;

    .hero{
      width: 100%;
      height: calc(100vh - calc(( 100 / 1280) * 100vw));
      border-radius: 10px;
      background-image: url('/img/fv.jpg');
      background-size: cover;
      background-position: top left calc(( 250 / 1280) * 100vw);
      background-repeat: no-repeat;
      position: relative;

      @media screen and (max-width: 900px) and (min-width: 767px){
        background-position: top left calc(( 20 / 1280) * 100vw);
      }

      &::before{
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(90deg, #FFF 35.56%, rgba(255, 255, 255, 0.69) 48.28%, rgba(255, 255, 255, 0.17) 55.42%, rgba(255, 255, 255, 0.00) 63.42%);
      }

      img{
        position: absolute;
        top: 50%;
        left: calc(( 116 / 1280) * 100vw);
        transform: translateY(-50%);
        width: min(calc(( 616 / 1280) * 100vw),600px);
      }
    }
  }
}


// FV SPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSP
.fv{
  @include sp{
    padding: calc(( 20 / 390) * 100vw);
    background: #F9EEFF;

    .hero{
      width: 100%;
      height: calc(( 650 / 390) * 100vw);
      border-radius: 10px;
      background-image: url('/img/fv.jpg');
      background-size: contain;
      background-position: bottom;
      background-repeat: no-repeat;
      position: relative;


      &::before{
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 10px;
        background: linear-gradient(180deg, #FFF 65%, rgba(255, 255, 255, 0.69) 70%, rgba(255, 255, 255, 0.17) 80%, rgba(255, 255, 255, 0.00) 85%);
      }

      img{
        position: absolute;
        top: calc(( 94 / 390) * 100vw);
        left: 50%;
        transform: translateX(-50%);
        width: calc(( 340 / 390) * 100vw);
      }
    }
  }
}
