@use "../global" as *;

.menu{
  @include img('menu-back.png');
  background-size: cover;
  position: relative;

  &::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f8eede7d;
  }

  @include pc{
    padding: calc((63 / 1280) * 100vw) 0 calc(( 58 / 1280) * 100vw);
  }

  @include sp{
    padding: calc(( 24 / 390) * 100vw) 0 calc(( 20 / 390) * 100vw);
  }
}