

$buttonBule: #57C6EA;


$backgroundBule: #A8DAE9;
$backgroundBulegray: #F4F4F4;
$backgroundtable: #F4F4F4;
$backgroundgray: #585D5F;
$B-dark: #303030;


$flow-point-border: #EBFAFF;
$flow-poin-current: #57C6EA;

$F-blue:#57C6EA;


$P-white: #FFFFFF;
$P-bule: #A9DAEA;
$P-gray:#D1D1D1;

