@use "mixin" as *;
@use "variables" as *;
@use "svgImg" as *;

// is
.is {
  @include img('is.jpeg');
  background-size: cover;
  position: relative;

  @include pc {
    padding: calc((80 / 1280) * 100vw) 0;
  }

  @include sp {
    padding: calc((60 / 390) * 100vw) calc((20 / 390) * 100vw);
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: saturate(0.3);
  }

  .content {
    position: relative;
    background: rgba(238, 247, 247, 0.90);
    margin: 0 auto;

    @include pc {
      width: max(calc((1000 / 1280) * 100vw), 700px);
      padding: calc((32 / 1280) * 100vw) 0;
      @include column(calc((40 / 1280) * 100vw));
    }

    @include sp {
      padding: calc((32 / 390) * 100vw) calc((12 / 390) * 100vw);
      @include column(calc((32 / 390) * 100vw));
    }

    .sub--title {
      text-align: center;

      p {
        color: $mainColor;
        @include serif;
        font-weight: 500;
        line-height: 160%;

        @include pc {
          font-size: max(calc((20 / 1280) * 100vw), 16px);
        }

        @include sp {
          font-size: calc((18 / 390) * 100vw);
          font-weight: 400;
        }
      }
    }

    .text--box {
      border: 1px solid $mainColor;

      @include pc {
        padding: calc((20 / 1280) * 100vw);
        width: 63%;
        margin: auto;
      }

      @include sp {
        padding: calc((0 / 390) * 100vw) calc((16 / 390) * 100vw) calc(( 2 / 390) * 100vw);
        width: 100%;
      }

      p {
        color: $mainColor;
        text-align: justify;
        @include sans;
        font-weight: 400;
        line-height: 200%;

        @include pc {
          text-align: center;
          font-size: max(calc((16 / 1280) * 100vw), 12px);
        }

        @include sp {
          text-align: center;
          font-size: calc((14 / 390) * 100vw);
        }
      }
    }

    .main--item {
      background: #FFF;

      @include pc {
        padding: calc((12 / 1280) * 100vw);
        width: 70%;
        margin: 0 auto;
      }

      @include sp {
        padding: calc((4 / 390) * 100vw) calc((8 / 390) * 100vw);
        width: 100%;
      }

      h2 {
        text-align: center;
        color: $mainColor;
        @include serif;
        font-weight: 500;
        line-height: 160%;

        @include pc {
          font-size: max(calc((14 / 1280) * 100vw), 12px);
          margin-bottom: calc((24 / 1280) * 100vw);
        }

        @include sp {
          display: none;
        }
      }

      .figure--item {
        display: flex;
        justify-content: center;

        @include pc {
          gap: calc((28 / 1280) * 100vw);
        }

        @include sp {
          gap: calc((11 / 390) * 100vw);
        }

        .item--left {
          border: 1px solid #CCC;
          height: fit-content;
          align-self: flex-end;
          position: relative;

          @include pc {
            width: calc((178 / 1280) * 100vw);
            padding: calc((2 / 1280) * 100vw) calc((5 / 1280) * 100vw);
            margin-bottom: calc((5 / 1280) * 100vw);
          }

          @include sp {
            width: calc((100 / 390) * 100vw);
            padding: calc((5 / 390) * 100vw) calc((5 / 390) * 100vw) calc((5 / 390) * 100vw);
            margin-bottom: calc((5 / 390) * 100vw);
          }

          &::before {
            content: '';
            @include icon($itemLeft);
            position: absolute;
            aspect-ratio: 32/61;
            top: 50%;
            transform: translateY(-50%);

            @include pc {
              width: calc((32 / 1280) * 100vw);
              right: calc((-28 / 1280) * 100vw);
            }

            @include sp {
              top: 60%;
              width: calc((13 / 390) * 100vw);
              right: calc((-11 / 390) * 100vw);

            }

          }

          p {
            color: #333;
            @include sans;
            font-weight: 350;

            @include pc {
              font-size: calc((10 / 1280) * 100vw);
            }

            @include sp {
              font-size: calc((7 / 390) * 100vw);
            }

            &:first-child {
              @include sp {
                position: absolute;
                top: -18%;
                left: 50%;
                transform: translateX(-50%);
                background: #FFF;
              }
            }
          }
        }


        .figure {
          @include img('figure.svg');
          aspect-ratio: 200/119;
          flex-shrink: 0;

          @include pc {
            width: calc((200 / 1280) * 100vw);
          }

          @include sp {
            width: calc((80 / 390) * 100vw);
          }
        }

        .item--right {

          @include pc {
            @include column(calc((10 / 1280) * 100vw));
            width: calc((178 / 1280) * 100vw);
          }

          @include sp {
            @include column(calc((6 / 390) * 100vw));
            width: calc((100 / 390) * 100vw);
          }

          .tag {
            background: $mainColor;

            @include pc {
              padding: calc((6 / 1280) * 100vw) calc(( 5 / 1280) * 100vw);
              width: fit-content;
            }

            @include sp {
              padding: calc((3 / 390) * 100vw) calc((5 / 390) * 100vw);
              width: fit-content;
              margin: auto;
              position: relative;

              &::before {
                content: '';
                border: calc((3 / 390) * 100vw) solid transparent;
                border-top: calc((5 / 390) * 100vw) solid $mainColor;
                position: absolute;
                bottom: -38%;
                left: 50%;
                transform: translateX(-50%);

              }
            }

            p {
              color: #FFF;
              text-align: justify;
              @include sans;
              font-weight: 350;

              @include pc {
                font-size: calc((12 / 1280) * 100vw);
                line-height: 90%;
              }

              @include sp {
                font-size: calc((8 / 390) * 100vw);
                 font-feature-settings: "palt";
              }
            }
          }

          .related {
            position: relative;
            background: #EEF7F7;

            @include pc {
              padding: calc((5 / 1280) * 100vw);
            }

            @include sp {
              padding: calc((4 / 390) * 100vw) calc(( 7 / 390) * 100vw);
            }


            &::before {
              content: '';
              @include icon($itemRight);
              position: absolute;
              aspect-ratio: 32/32;
              top: 50%;
              transform: translateY(-50%);

              @include pc {
                width: calc((32 / 1280) * 100vw);
                left: calc((-28 / 1280) * 100vw);
              }

              @include sp {
                width: calc((11 / 390) * 100vw);
                top: 20%;
                left: calc((-10 / 390) * 100vw);
              }

            }

            p {
              color: #333;
              text-align: justify;
              @include sans;
              font-weight: 350;

              @include pc {
                font-size: calc((10 / 1280) * 100vw);
              }

              @include sp {
                font-size: calc((6 / 390) * 100vw);
                letter-spacing: 0.1em;
              }
            }
          }

        }
      }
    }


  }
}