@use "../global" as *;

.C-feature--wap {

  @include pc {
    width: 100%;
    @include column(calc((150 / 1280) * 100vw));
  }

  @include sp {
    width: 100%;
    @include column(calc((40 / 390) * 100vw));
    padding: 0 calc((20 / 390) * 100vw);
  }
}


.C-feature {
  display: flex;

  @include pc {
    gap: calc((40 / 1280) * 100vw);
    width: max(calc((1180 / 1280) * 100vw), 70px);
  }

  @include sp {
    flex-direction: column;
    gap: calc((30 / 390) * 100vw);
  }

  &--content {

    @include pc {
      width: 40%;
      flex-shrink: 0;
    }

    @include sp {
      width: 100%;
    }

    &--number {

      @include pc {
        margin-bottom: calc((20 / 1280) * 100vw);
      }

      @include sp {
        text-align: right;
      }

      p {
        color: $mainColor;
        @include web;
        font-weight: 700;

        @include pc {
          font-size: calc((130 / 1280) * 100vw);
        }

        @include sp {
          font-size: calc((80 / 390) * 100vw);
        }
      }
    }

    &--sentence {

      h3 {
        color: $subColor;
        @include sans;
        font-weight: 500;
        border-bottom: solid 1px $mainColor;

        @include pc {
          font-size: calc((30 / 1280) * 100vw);
          padding-bottom: calc((18 / 1280) * 100vw);
        }

        @include sp {
          font-size: calc((18 / 390) * 100vw);
          padding-bottom: calc((5 / 390) * 100vw);
        }

        span {
          font-weight: 700;

          @include pc {
            font-size: calc((40 / 1280) * 100vw);
          }

          @include sp {
            font-size: calc((23 / 390) * 100vw);
          }
        }
      }

      p {
        color: $subColor;
        text-align: justify;
        @include sans;
        font-weight: 400;
        line-height: 180%;
        text-wrap: unset;
        word-break: unset;

        @include pc {
          font-feature-settings: 'palt';
          font-size: max(calc((16 / 1280) * 100vw), 12px);
          padding-top: calc((18 / 1280) * 100vw);
        }

        @include sp {
          font-size: calc((16 / 390) * 100vw);
          padding-top: calc((20 / 390) * 100vw);
        }
      }
    }
  }


  &--gradation {
    border-radius: 20px;
    background: linear-gradient(180deg, #F28300 0%, #FFF510 100%);
    aspect-ratio: 668/444;
    position: relative;
    height: auto;

    @include pc {
      width: calc(60% - calc((40 / 1280) * 100vw));
      flex-shrink: 0;
    }

    @include sp {
      width: 97.8%;
    }

    .img {
      border-radius: 20px;
      width: 100%;
      height: 100%;
      position: absolute;

      @include pc {
        bottom: calc((20 / 1280) * 100vw);
      }

      @include sp {
        bottom: calc((9 / 390) * 100vw);
      }
    }
  }

  // 奇数
  &:nth-child(odd) {

    @include pc {
      flex-direction: row-reverse;
      margin-right: auto;
    }

    @include sp {}

    .C-feature--content {

      &--number {
        p {
          @include pc {
            text-align: right;
          }

          @include sp {}
        }
      }
    }

    .C-feature--gradation {

      @include sp {
        margin-left: auto;
      }

      .img {
        @include pc {
          right: calc((20 / 1280) * 100vw);
        }

        @include sp {
          right: calc((9 / 390) * 100vw);
        }
      }
    }
  }

  // 偶数
  &:nth-child(even) {

    @include pc {
      margin-left: auto;
    }

    @include sp {}

    .C-feature--gradation {

      @include sp {
        margin-right: auto;
      }

      .img {
        @include pc {
          left: calc((20 / 1280) * 100vw);
        }

        @include sp {
          left: calc((9 / 390) * 100vw);
        }
      }
    }
  }

  // 1枚目
  &:nth-child(1) {
    .C-feature--gradation {
      .img {
        @include imgCover('feature-1.jpg');
      }
    }
  }

  // 2枚目
  &:nth-child(2) {
    .C-feature--gradation {
      .img {
        @include imgCover('feature-2.jpg');
        scale: -1 1;
      }
    }
  }

  // 3枚目
  &:nth-child(3) {
    .C-feature--gradation {
      .img {
        @include imgCover('feature-3.jpg');
      }
    }
  }

  // 4枚目
  &:nth-child(4) {
    .C-feature--gradation {
      .img {
        @include imgCover('feature-4.jpg');
        scale: -1 1;
      }
    }
  }
}