// フォント
// font-family: Noto Serif JP;
// @mixin serif {
//   font-family: "Noto Serif JP", serif;
//   font-weight: 400;
//   font-style: normal;
//   line-height: normal;
// }

// // font-family: Noto Sans JP;
// @mixin sans {
//   font-family: "Noto Sans JP", sans-serif;
//   font-weight: 400;
//   font-style: normal;
//   line-height: normal;
// }

// font-family: "Yu Gothic";
@mixin yu {
  font-family: "yu-gothic-pr6n", sans-serif;
  line-height: 1.5;
  font-style: normal;
}

@mixin mincho {
  font-family: "yu-mincho-pr6n", sans-serif;
  font-style: normal;
}

// font-weight:;
@mixin wt100 {
  font-weight: 100;
}

@mixin wt200 {
  font-weight: 200;
}

@mixin wt300 {
  font-weight: 300;
}

@mixin wt400 {
  font-weight: 400;
}

@mixin wt500 {
  font-weight: 500;
}

@mixin wt600 {
  font-weight: 600;
}

@mixin wt700 {
  font-weight: 700;
  text-shadow: 0 0 0.1px;
  // aaaaa
}

@mixin wt800 {
  font-weight: 800;
}

@mixin wt900 {
  font-weight: 900;
}