

// フォントカラー
$main-font: #585D5F;
$sub-font: #989898;
$blue-font: #57C6EA;
$white-font: #FFF;


// 背景カラー
$main-bg: #FFF;
$sky-bg: #F3F9FB;
$gray-bg: #F9F9F9;

// パーツカラー
$blue-01-parts: #57C6EA;
$blue-02-parts: #A9DAEA;
$blue-03-parts: #ADDEED;
$blue-04-parts: #DDF0F8;
$sky-05-parts: #EBFAFF;
