

// フォントカラー
$F-1A1919: #1A1919;
$F-D77F3F: #D77F3F;
$F-FFFFFF: #FFFFFF;
$F-000000: #000000;
$F-7C7C7C: #7C7C7C;
$F-292929: #292929;
$F-292929: #292929;
$F-9F9F9F: #9F9F9F;



// 背景カラー
$B-00113E: #00113E;
$B-1A1002: #1A1002;
$B-fefefe: #fefefe;


// パーツカラー
$P-FAFAFA: #FAFAFA;
// $P-D6D6D6: #D6D6D6;
