@use "../global" as *;


// <a href="#" target="_blank" rel="noopener noreferrer"></a>

// ホバーで薄く
.hover-opa{
  transition: 0.3s;

  &:hover{
    opacity: 0.6;
  }
}

// ホバーで鼓動
.hover-pulsation{
  &:hover {
    animation: pulsation .7s alternate infinite;
  }
  
  @keyframes pulsation {
    0% {
       transform: scale(1); }
    50% {
       transform: scale(0.9); }
    100% {
       transform: scale(1.1); }
  }
}

// ホバーでプルプル
.hover-pull{
  &:hover{
    animation: pull 0.5s infinite ease-in-out;

    @keyframes pull {
      0% {
        transform: rotate(0deg);
      }
      40% {
        transform: rotate(0deg);
      }
      45% {
        transform: rotate(-20deg);
      }
      50% {
        transform: rotate(0deg);
      }
      55% {
        transform: rotate(20deg);
      }
      60% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(0deg);
      }
    }
  }
}

// キラキラ
.sunshine{
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    background: linear-gradient(316deg, transparent 0%, transparent 25%, #FFF 50%, transparent 75%, transparent 100%);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    animation: shine 4s infinite;
    transform: translateX(-100%);


    @keyframes shine {
      0% {
        transform: translateX(-100%);
      }
      40% {
        transform: translateX(-100%);
      }
      60% {
        transform: translateX(100%);
      }
      100% {
        transform: translateX(100%);
      }
    }
  }
}


// カタカタ
.kata{
  animation: kata 6s infinite ease-in-out;

  @keyframes kata {
    0% {
      transform: rotate(0deg);
    }
    21% {
        transform: rotate(0deg);
    }
    22% {
        transform: rotate(-20deg);
    }
    23% {
        transform: rotate(0deg);
    }
    24% {
        transform: rotate(20deg);
    }
    25% {
        transform: rotate(-2deg);
    }
    26% {
        transform: rotate(0deg);
    }
    27% {
        transform: rotate(20deg);
    }
    28% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
  }
}


// // ホバーで大きく
// .hover-scale{
//   transition: 0.3s;

//   &:hover{
//     transform: scale(1.1);
//   }
// }

// したから上に出てくる
.up {
  opacity: 0;

  &.show {
    opacity: 0;
    transform: translateY(100%);
    animation: up 0.5s ease  forwards;

    @keyframes up {
      0% {
        opacity: 0;
        transform: translateY(100%);
      }

      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}


.title--br{
  @include pc{
    &::before{
      content: '';
      width: calc(( 0 / 1280) * 100vw);
      transition: 1s;
      transition-delay: 1s;
    }

    &.show{
      &::before{
        width: calc(( 168 / 1280) * 100vw) !important;
      }
    }
  }
}


// アニメーションディレイ

.delay_1s {
  animation-delay: 1s !important;
}

.troubleUpDelay_05s{
  @include pc{
    animation-delay: 0.1s !important;
  }
}

.troubleUpDelay_01s{
    animation-delay: 0.1s !important;
}

.troubleUpDelay_02s{
    animation-delay: 0.2s !important;
}