@use "../functions" as *;

/* -----------------------
  works
----------------------- */

.works {

  @include pc {
    padding: p(61) p(100) p(160);
  }

  @include sp {
    padding: s(100) s(20) s(150);
  }

  &__works {

    .C_worksCategory {
      @include pc {
        margin-bottom: p(72);
      }

      @include sp {
        margin-bottom: s(56);
      }
    }

    .C_worksPosts {
      .page-nav {
        margin-top: p(100);

        @include sp {
          margin-top: s(80);
        }

        .wp-pagenavi {
          width: fit-content;
          margin: 0 auto;

          a,
          span {
            border: none;

            @include pc {
              font-size: pm(16);
            }

            @include sp {
              font-size: s(14);
            }
          }

          a {
            color: $F-333333;
          }

          span {
            color: $F-2480BA;
          }
        }
      }
    }
  }
}