@use "../functions" as *;

/* -----------------------
  C_deduction
----------------------- */

.C_deduction {
  position: relative;
  @include imgCover("C_about-bg.jpg");

  @include pc {
    padding: p(137) 0 p(161);
    background-position: top 60% left 50%;
  }

  @include sp {
    padding: s(90) 0 s(85);
    background-position: top 50% left 50%;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    inset: 0;
    background-color: #000000b4;
    z-index: 1;
  }

  &--inner {
    position: relative;
    z-index: 2;

    .C_TL {

      .main-TL {
        color: $F-FFFFFF;

        @include sp {
          white-space: nowrap;
        }
      }
    }

    .subTitle {

      @include pc {
        margin: p(12) 0 p(113);
      }

      @include sp {
        margin: s(44) 0 s(56);
      }

      .TX {
        color: $F-FFFFFF;
        text-align: center;
        line-height: 187%;

        @include pc {
          font-size: pm(16);
        }

        @include sp {
          font-size: s(16);
        }
      }
    }

    .item--lists {
      margin: 0 auto;
      border: solid #937F2A;
      background: rgba(10, 7, 5, 0.40);

      @include pc {
        width: p(880);
        border-width: p(2);
        padding: p(77) p(80) p(53) p(80);
      }

      @include sp {
        width: s(350);
        border-width: s(2);
        padding: s(56) s(14) s(77);
      }

      .lists {

        @include pc {
          @include column(p(40));
        }

        @include sp {
          @include column(s(60));
        }

        .list {

          .title {
            border-bottom: solid $F-937F2A;

            @include pc {
              padding: 0 0 p(8) p(12);
              border-bottom-width: pm(1, 1);
              margin-bottom: p(15);
            }

            @include sp {
              padding: 0 0 s(8) s(1);
              border-bottom-width: s(1);
              margin-bottom: s(15);
            }

            .TL {
              color: $F-C09933;
              @include Extrabold;

              @include pc {
                font-size: pm(20);
              }

              @include sp {
                font-size: s(20);
              }
            }
          }

          .inner-list {

            @include pc {
              padding-left: p(28);
            }

            li {
              color: $F-FFFFFF;

              .TX {
                line-height: 187%;

                @include pc {
                  font-size: pm(16);
                }

                @include sp {
                  font-size: s(16);
                  letter-spacing: s(-0.5);
                }
              }

              .TX--point {

                @include pc {
                  font-size: p(14);
                  line-height: pm(20);
                  white-space: nowrap;
                }

                @include sp {
                  font-size: s(14);
                  line-height: s(20);
                }

                &.top-margin {
                  @include pc {
                    margin-top: p(8);
                  }

                  @include sp {
                    margin-top: s(5);
                  }
                }
              }

              .TX--check {
                line-height: 187%;
                position: relative;

                @include pc {
                  font-size: pm(16);
                  padding-left: p(20);
                }

                @include sp {
                  font-size: s(16);
                  padding-left: s(10);
                }

                &::before {
                  content: "・";
                  display: block;
                  position: absolute;
                  left: 0;
                  top: 0;

                  @include sp {
                    left: s(-10);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}