@use "../functions" as *;

/* -----------------------
  C_treatment
----------------------- */

.C_frontTreatment {
  background: rgba(255, 255, 255, 0.50);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  position: relative;

  @include pc {
    padding: p(62) 0 p(82);
  }

  @include sp {
    // background: rgba(255, 255, 255, 0.8);
    // backdrop-filter: blur(10px);
    padding: s(45) 0 s(100);
  }

  .C_frontTreatment--title {
    position: absolute;
    border-bottom: solid $P-141414;
    bottom: 100%;

    @include pc {
      width: p(1180);
      border-bottom-width: p(1);
      padding: 0 p(200);
    }

    @include sp {
      width: s(365);
      border-bottom-width: s(1);
      padding: 0 s(47);
      left: 0;
    }

    &.C_frontTreatment--title__left {
      left: 0;

      .TX {
        left: 0;
      }
    }

    &.C_frontTreatment--title__right {
      @include pc {
        right: 0;
      }

      .TL {
        @include pc {
          text-align: right;
        }
      }

      .TX {
        @include pc {
          right: 0;
        }

        @include sp {
          left: 0;
        }
      }
    }

    .TL {
      @include Extrabold;
      color: $F-141414;
      line-height: 1;
      position: relative;
      z-index: 2;

      @include pc {
        font-size: pm(23);
        letter-spacing: pm(2.3);
      }

      @include sp {
        font-size: s(16);
        letter-spacing: s(1.6);
      }
    }

    .TX {
      @include contrail;
      line-height: 0.7;
      color: #E9EDF0;
      position: absolute;
      z-index: 1;

      @include pc {
        font-size: p(70);
        letter-spacing: p(10.571);
        bottom: 0;
      }

      @include sp {
        font-size: s(28);
        letter-spacing: s(4.2);
        bottom: s(0);
      }
    }
  }

  .C_frontTreatment--container {
    margin: 0 auto;

    @include pc {
      width: p(880);
      @include column(p(22));
    }

    @include sp {
      width: 100%;
      @include column(s(40));
    }

    .item--top {
      display: flex;

      @include sp {
        flex-direction: column-reverse;
        gap: s(36);
      }

      .img {
        aspect-ratio: 475/320;
        position: relative;
        flex-shrink: 0;

        @include pc {
          width: p(475);
        }

        @include sp {
          width: s(290);
          margin: 0 auto;
        }

        &.img-1-1 {
          @include imgCover("C_frontTreatment/incentive-1/C_frontTreatment-1-1.jpg");

          .img--point {
            @include imgCover("C_frontTreatment/incentive-1/C_frontTreatment-1-1-tooth.jpg");
          }
        }

        &.img-2-1 {
          @include imgCover("C_frontTreatment/incentive-2/C_frontTreatment-2-1.jpg");

          .img--point {
            @include imgCover("C_frontTreatment/incentive-2/C_frontTreatment-2-1-tooth.jpg");
          }
        }

        &.img-3-1 {
          @include imgCover("C_frontTreatment/incentive-3/C_frontTreatment-3-1.jpg");

          .img--point {
            @include imgCover("C_frontTreatment/incentive-3/C_frontTreatment-3-1-tooth.jpg");
          }
        }

        &.img-4-1 {
          @include imgCover("C_frontTreatment/incentive-4/C_frontTreatment-4-1.jpg");

          .img--point {
            @include imgCover("C_frontTreatment/incentive-4/C_frontTreatment-4-1-tooth.jpg");
          }
        }

        &.img-5-1 {
          @include imgCover("C_frontTreatment/incentive-5/C_frontTreatment-5-1.jpg");
        }


        &.img-1-1-implant {
          @include imgCover("C_frontTreatment/implant-incentive-1/C_frontTreatment-1-1-implant.jpg");

          // .img--point {
          //   @include imgCover("C_frontTreatment/implant-incentive-1/C_frontTreatment-1-1-tooth-implant.jpg");
          // }
        }

        .img--point {
          aspect-ratio: 1;
          border-radius: 50%;
          position: absolute;

          @include pc {
            width: p(175);
            left: p(-87);
            bottom: p(-33);
          }

          @include sp {
            width: s(105);
            left: s(-34);
            bottom: s(-20);
          }
        }
      }

      .content {
        width: 100%;

        .number {
          aspect-ratio: 169/194;
          @include iconContain($hexagonGradation);
          margin: 0 auto;
          position: relative;

          @include pc {
            width: p(169);
          }

          @include sp {
            width: s(106);
          }

          &.number--gray {
            @include iconContain($hexagonGradationGray);
          }

          &.number--blue {
            @include iconContain($hexagonGradationBlue);
          }


          .TX {
            color: $F-141414;
            @include Demibold;
            line-height: 1;
            position: absolute;

            @include pc {
              font-size: pm(30);
              letter-spacing: pm(4.5);
              top: 17%;
              left: -20%;
            }

            @include sp {
              font-size: s(25);
              letter-spacing: s(3.75);
              top: s(30);
              left: s(10);
            }

            span {
              
              position: relative;
              @include pc {
                font-size: pm(100);
                letter-spacing: pm(3);
                top: p(4);

              }

              @include sp {
                font-size: s(50);
                letter-spacing: s(1.5);
                top: s(3);
              }
            }
          }
        }
      }
    }

    .item--bottom {
      display: flex;

      @include pc {
        align-items: center;
        flex-direction: row-reverse;
      }

      @include sp {
        flex-direction: column;
        gap: s(55);
      }

      .img {
        aspect-ratio: 475/320;
        position: relative;
        flex-shrink: 0;

        @include pc {
          width: p(475);
        }

        @include sp {
          width: s(290);
          margin: 0 auto;
        }

        &.img-1-2 {
          @include imgCover("C_frontTreatment/incentive-1/C_frontTreatment-1-2.jpg");

          .img--point {
            @include imgCover("C_frontTreatment/incentive-1/C_frontTreatment-1-2-tooth.jpg");
          }
        }

        &.img-2-2 {
          @include imgCover("C_frontTreatment/incentive-2/C_frontTreatment-2-2.jpg");

          .img--point {
            @include imgCover("C_frontTreatment/incentive-2/C_frontTreatment-2-2-tooth.jpg");
            background-position: 90% center;
          }
        }

        &.img-3-2 {
          @include imgCover("C_frontTreatment/incentive-3/C_frontTreatment-3-2.jpg");

          .img--point {
            @include imgCover("C_frontTreatment/incentive-3/C_frontTreatment-3-2-tooth.jpg");
          }
        }

        &.img-4-2 {
          @include imgCover("C_frontTreatment/incentive-4/C_frontTreatment-4-2.jpg");

          .img--point {
            @include imgCover("C_frontTreatment/incentive-4/C_frontTreatment-4-2-tooth.jpg");
          }
        }

        &.img-5-2 {
          @include imgCover("C_frontTreatment/incentive-5/C_frontTreatment-5-2.jpg");
        }


        &.img-1-2-implant {
          @include imgCover("C_frontTreatment/implant-incentive-1/C_frontTreatment-1-2-implant.jpg");

          // .img--point {
          //   @include imgCover("C_frontTreatment/implant-incentive-1/C_frontTreatment-1-2-tooth-implant.jpg");
          // }
        }

        .img--point {
          aspect-ratio: 1;
          border-radius: 50%;
          position: absolute;

          @include pc {
            width: p(175);
            right: p(-44);
            bottom: p(-33);
          }

          @include sp {
            width: s(105);
            right: s(-34);
            bottom: s(-20);
          }
        }
      }

      .content {
        width: 100%;

        @include pc {
          @include column(p(55));
        }

        @include sp {
          @include column(s(55));
        }

        .text {
          @include sp {
            white-space: nowrap;
          }

          .TX {
            color: #141414;
            // @include Demibold;
            line-height: 1.5;

            @include sp {
              text-align: center;
            }

            .small {

              @include pc {
                font-size: p(20);
                letter-spacing: p(3);
              }

              @include sp {
                font-size: s(20);
                letter-spacing: s(3);
              }

              &.space{
                @include sp{
                  letter-spacing: s(1);
                }
              }
            }

            .medium {

              @include pc {
                font-size: p(30);
                letter-spacing: p(4.5);
              }

              @include sp {
                font-size: s(30);
                letter-spacing: s(4.5);
              }

              &.space{
                @include sp{
                  letter-spacing: s(1);
                }
              }

              .medium_small {
                @include pc {
                  font-size: p(25);
                  letter-spacing: p(3.75);
                }

                @include sp {
                  font-size: s(25);
                  letter-spacing: s(3.75);
                }
              }
            }

            .big {

              @include pc {
                font-size: p(40);
                letter-spacing: p(6);
              }

              @include sp {
                font-size: s(40);
                letter-spacing: s(6);
              }

              &.space{
                @include sp{
                  letter-spacing: s(1);
                }
              }
            }
            &.invisalign{
              .small{
                @include pc{
                  letter-spacing: p(2.8);
                }
                @include sp{
                  font-size: s(18);
                  letter-spacing: s(2);
                }
              }
              .medium_small{
                @include pc{
                  letter-spacing: p(3);
                }
                @include sp{
                  letter-spacing: s(2.5);
                }
              }
              .big{
                @include pc{
                  letter-spacing: p(4);
                }
                @include sp{
                  font-size: s(38);
                  letter-spacing: s(3);
                }
              }
            }
          }
        }

        .C_viewMore {
          margin: 0 auto;
        }
      }
    }
  }
}