@use "../functions" as *;

/* -----------------------
  C_merit_demerit
----------------------- */

.C_merit_demerit {


  .C_toothTL {

    @include pc {
      margin-bottom: p(30);
    }

    @include sp {
      flex-direction: column;
      align-items: center;
      gap: s(10);
      margin-bottom: s(39);
    }

    .icon {

      @include sp {
        margin: 0 auto;
      }
    }

    .TL {

      @include sp {
        font-size: s(25);
      }
    }
  }

  &--container {
    display: flex;
    margin: 0 auto;
    position: relative;

    @include pc {
      width: p(880);
    }

    @include sp {
      width: s(350);
      flex-direction: column;
      gap: s(30);
    }

    .Team-hr {

      @include sp {
        display: none;
      }

      .hr {
        height: 100%;
        background: $F-937F2A;
        position: absolute;

        @include pc {
          width: p(2);
        }

        @include sp {}

        &:nth-child(1) {
          top: 0;
          left: 0;
        }

        &:nth-child(2) {
          top: 0;
          right: 0;
        }

        &:nth-child(3) {
          bottom: 0;
          @include pCenterLeft;
          height: calc(100% - p(60));
        }

        &:nth-child(4) {
          bottom: 0;
          left: 0;

          @include pc {
            width: 100%;
            height: p(2);
          }

          @include sp {}
        }
      }
    }

    .item {
      background: #FFF;

      @include pc {
        width: 50%;
      }

      @include sp {
        width: 100%;
      }

      &:nth-child(1) {

        .title {
          background: $F-937F2A;

          @include pc {
            border-right: p(1) solid $P-FFFFFF;
          }
        }
      }

      &:nth-child(2) {

        .title {
          background: #919191;

          @include pc {
            border-left: p(1) solid $P-FFFFFF;
          }
        }
      }

      .title {

        @include pc {
          height: p(60);
          @include center
        }

        @include sp {
          padding: s(17) 0 s(15);
          text-align: center;
        }

        .TL {
          color: $F-FFFFFF;
          @include Extrabold;
          line-height: 120%;

          @include pc {
            font-size: p(25);
          }

          @include sp {
            font-size: s(25);
          }
        }
      }

      .content {

        @include pc {
          padding: p(39) p(23) p(37) p(49);
        }

        @include sp {
          padding: s(25) s(12) s(28) s(35);
          border-left: s(2) solid $F-937F2A;
          border-bottom: s(2) solid $F-937F2A;
          border-right: s(2) solid $F-937F2A;
        }

        .list {

          @include pc {
            @include column(p(18));
          }

          @include sp {
            @include column(s(18));
          }

          li {
            position: relative;

            &:last-child {

              @include pc {
                padding-right: p(20);
              }

              &::before {
                content: "等";
                color: $F-363636;
                line-height: 1;
                position: absolute;
                right: 0;


                @include pc {
                  font-size: p(16);
                  bottom: p(-1);
                }

                @include sp {
                  font-size: s(13);
                  bottom: s(-1);
                }
              }
            }

            .icon {
              aspect-ratio: 1;
              @include iconContain($toothWithCircle);
              position: absolute;

              @include pc {
                width: p(17);
                left: p(-26);
                top: p(1);
              }

              @include sp {
                width: s(17);
                left: s(-27);
                top: s(1);
              }
            }

            .TX {
              color: $F-363636;

              @include pc {
                font-size: pm(16);
                line-height: pm(21);
              }

              @include sp {
                font-size: s(13);
                line-height: s(21);
              }
            }
          }
        }
      }
    }
  }
}