@use "../functions" as *;

/* -----------------------
  C_single
----------------------- */

.C_single {
  margin: 0 auto;

  @include pc {
    width: p(850);
    @include column(p(40));
  }

  @include sp {
    width: s(350);
    @include column(s(30));
  }


  &--content {
    border: solid $P-B5AC85;

    @include pc {
      border-width: pm(1, 1);
      padding: p(50) p(40);
    }

    @include sp {
      border-width: s(1);
      padding: s(30) s(20);
    }

    .content--title {
      border-bottom: solid $P-B5AC85;

      @include pc {
        @include column(p(20));
        border-bottom-width: pm(1, 1);
        margin-bottom: p(40);
      }

      @include sp {
        @include column(s(20));
        border-bottom-width: s(1);
        margin-bottom: s(30);
      }

      .tag {
        flex-shrink: 0;
        background: $P-B5AC85;
        color: $F-FFFFFF;
        text-align: center;
        @include Extrabold;
        line-height: 1.5;

        @include pc {
          font-size: pm(14);
          letter-spacing: pm(0.7);
          padding: p(4) 0;
          width: p(99);
        }

        @include sp {
          font-size: s(14);
          letter-spacing: s(0.7);
          padding: s(4) 0;
          width: s(100);
        }
      }

      .TL {
        color: $F-363636;
        @include Extrabold;
        line-height: 1.5;
        text-shadow: 0px 0px 0px $F-363636;

        @include pc {
          font-size: pm(18);
        }

        @include sp {
          font-size: s(18);
        }
      }

      .time {
        color: $F-363636;
        line-height: 1.5;
        text-align: right;

        @include pc {
          font-size: pm(14);
          letter-spacing: pm(0.7);
        }

        @include sp {
          font-size: s(14);
          letter-spacing: s(0.7);
        }
      }
    }

    .content--text {

      .TX {
        color: $F-363636;
        line-height: 1.5;

        @include pc {
          font-size: pm(16);
        }

        @include sp {
          font-size: s(16);
        }
      }
    }

  }

  .pageNation {
    display: flex;
    justify-content: center;
    align-items: center;

    @include pc {
      gap: p(30);
    }

    @include sp {
      gap: s(30);
    }

    &__button {
      display: block;
      color: $F-363636;
      line-height: 1.5;

      @include pc {
        font-size: pm(14);
        letter-spacing: pm(0.7);
      }

      @include sp {
        font-size: s(14);
        letter-spacing: s(0.7);
      }
    }
  }
}