@use "../functions" as *;

/* -----------------------
  C_viewMore
----------------------- */

.C_viewMore {
  display: block;
  background: linear-gradient(90.59deg, rgba(139, 118, 30, 0) 0.18%, #8B761E 20.39%, #BEAD67 51.52%, #8B761E 80.93%, rgba(139, 118, 30, 0.0980392) 99.87%);
  position: relative;
  transition: all 0.3s;
  overflow: hidden;

  @include pc {
    width: p(300);
    padding: p(12) 0;
  }

  @include sp {
    width: s(300);
    padding: s(12) 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, #ffffff00 0%, #ffffff00 20%, #ffffff85 30%, #ffffff85 40%, #ffffff00 60%);
  }

  &:hover {
    scale: 0.95;

    &::before {
      animation: flash 2s infinite;
    }
  }

  .TX {
    text-align: center;
    @include Demibold;
    line-height: 1.5;
    letter-spacing: 0.15em;
    color: #FFFFFF;

    @include pc {
      font-size: pm(16);
    }

    @include sp {
      font-size: s(16);
    }
  }
}