@use "../functions" as *;

/* -----------------------
  C_whitening
----------------------- */

.C_whitening {
  margin: 0 auto;

  @include pc {
    @include column(p(44));
    width: p(880);
  }

  @include sp {
    @include column(s(30));
    width: s(350);
  }

  .item {
    border: solid $P-937F2A;
    background: $P-FFFFFF;
    display: flex;

    @include pc {
      border-width: p(2);
    }

    @include sp {
      flex-direction: column;
      border-width: s(2);
    }

    .title {

      @include pc {
        width: p(362);
        @include center;
      }

      @include sp {
        width: 100%;
      }

      &--inner {

        &.inner-01 {

          @include sp {
            padding: s(25) 0 s(30);
          }

          .img {
            aspect-ratio: 145/93;
            @include imgContain("C_whitening-01.png");

            @include pc {
              width: p(145);
              margin-top: p(-7);
            }

            @include sp {
              width: s(145);
              margin-top: s(-7);
            }
          }
        }

        &.inner-02 {

          @include sp {
            padding: s(37) 0;
          }

          .img {
            aspect-ratio: 115/76;
            @include imgContain("C_whitening-02.png");

            @include pc {
              width: p(115);
              margin-top: p(7);
            }

            @include sp {
              width: s(115);
              margin-top: s(7);
            }
          }
        }

        &.inner-03 {

          @include sp {
            padding: s(32) 0 s(28);
          }

          .img {
            aspect-ratio: 140/95;
            @include imgContain("C_whitening-03.png");

            @include pc {
              width: p(140);
              margin-top: p(5);
            }

            @include sp {
              width: s(140);
              margin-top: s(5);
            }
          }
        }

        .TL {
          color: $F-937F2A;
          text-align: center;
          @include Extrabold;
          line-height: normal;

          @include pc {
            font-size: pm(20);
          }

          @include sp {
            font-size: s(20);
          }
        }

        .img {
          margin: 0 auto;
        }
      }
    }

    .content {

      @include pc {
        width: p(518);
      }

      @include sp {
        width: 100%;
      }

      &--item {
        background: rgba(192, 153, 51, 0.20);
        position: relative;

        @include pc {
          padding: p(33) p(10) p(10) p(22);
        }

        @include sp {
          padding: s(33) s(10) s(17) s(22);
        }

        &:nth-child(2) {
          background: rgba(145, 145, 145, 0.20);

          .tag {
            background: $P-919191;
          }
        }

        .tag {
          position: absolute;
          top: 0;
          left: 0;
          background: $P-937F2A;

          @include pc {
            width: pm(90);
            padding: p(4) 0;
          }

          @include sp {
            width: s(90);
            padding: s(4) 0 s(4);
          }

          .TL {
            text-align: center;
            color: $F-FFFFFF;
            @include Extrabold;
            line-height: 1.5;

            @include pc {
              font-size: pm(12);
              letter-spacing: pm(1.2);
            }

            @include sp {
              font-size: s(12);
              letter-spacing: s(1.2);
            }
          }
        }

        .lists {

          li {
            color: $F-363636;
            line-height: 156%;

            @include pc {
              font-size: pm(16);
            }

            @include sp {
              font-size: s(16);
              padding-left: 1em;
              text-indent: -1em;
            }
          }
        }
      }
    }
  }
}