@use "../functions" as *;

/* -----------------------
  C_wisdomTooth
----------------------- */

.C_wisdomTooth {
  margin: 0 auto;
  display: flex;

  @include pc {
    width: p(880);
    gap: p(30);
  }

  @include sp {
    width: s(273);
    gap: s(30);
    flex-direction: column;
  }

  &--item {
    border: solid $P-C09933;
    background: #FFF;
    position: relative;

    @include pc {
      @include row(3, p(30));
      border-width: p(2);
      min-height: p(258);
      padding: p(214) 0 0;
    }

    @include sp {
      width: 100%;
      border-width: s(2);
      min-height: s(258);
      padding: s(214) 0 0;
    }

    .img {
      position: absolute;
      @include pCenterLeft;

      &.img-01 {
        aspect-ratio: 231/147;
        @include iconContain($C_wisdomTooth-01);

        @include pc {
          width: p(231);
          top: p(33);
        }

        @include sp {
          width: s(231);
          top: s(33);
        }
      }

      &.img-02 {
        aspect-ratio: 231/131;
        @include iconContain($C_wisdomTooth-02);

        @include pc {
          width: p(231);
          top: p(41);
        }

        @include sp {
          width: s(231);
          top: s(41);
        }
      }

      &.img-03 {
        aspect-ratio: 231/143;
        @include iconContain($C_wisdomTooth-03);

        @include pc {
          width: p(231);
          top: p(35);
        }

        @include sp {
          width: s(231);
          top: s(35);
        }
      }
    }

    .TX {
      color: $F-363636;
      line-height: 187%;
      text-align: center;

      @include pc {
        font-size: pm(16);
      }

      @include sp {
        font-size: s(16);
      }
    }
  }
}