
/* -----------------------
  anime
----------------------- */


.pikopiko {
  animation: pikopiko 1s steps(2, start) infinite;

  @keyframes pikopiko {
    0% {
      transform: rotate(20deg);
    }
    to {
      transform: rotate(-10deg);
    }
  }
}

.flow_juwa{
  opacity: 0;
  filter: blur(10px);
  transform: scale(1);

  &.show{
    animation:flow_juwa 1.5s ease forwards;

    @keyframes flow_juwa{
      from {
      filter: blur(10px);
      transform: scale(1);
      opacity: 0;
      }
    
      to {
      filter: blur(0);
      transform: scale(1.02);
      opacity: 1;
      }
    }
  }
}