
/* -----------------------
  anime
----------------------- */

// ホバーで薄く
.hover-opa{
  transition: 0.3s;

  &:hover{
    opacity: 0.6;
  }
}

// ホバーで大きく
.hover-scale{
  transition: 0.3s;

  &:hover{
    transform: scale(1.05);
  }
}

// 下から
.up {
  opacity: 0;

  &.show {
    opacity: 0;
    transform: translateY(100%);
    animation: up 0.5s ease 0.5s forwards;

    @keyframes up {
      0% {
        opacity: 0;
        transform: translateY(100%);
      }

      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}

// 上から
.down {
  opacity: 0;

  &.show {
    opacity: 0;
    transform: translateY(-100%);
    animation: down 0.5s ease 0.5s forwards;

    @keyframes down {
      0% {
        opacity: 0;
        transform: translateY(-100%);
      }

      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}

// 右から
.left {
  opacity: 0;

  &.show {
    opacity: 0;
    transform: translateX(100%);
    animation: left 0.5s ease 0.5s forwards;

    @keyframes left {
      0% {
        opacity: 0;
        transform: translateX(100%);
      }

      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
}

// 左から
.right {
  opacity: 0;

  &.show {
    opacity: 0;
    transform: translateX(-100%);
    animation: right 0.5s ease 0.5s forwards;

    @keyframes right {
      0% {
        opacity: 0;
        transform: translateX(-100%);
      }

      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
}


// ふわっと
.pop {
  opacity: 0;
  transform: scale(0.5);

  &.show {
    opacity: 0;
    transform: scale(0.5);
    animation: pop 0.5s ease 0.5s forwards;

    @keyframes pop {
      0% {
        opacity: 0;
        transform: scale(0.5);
      }

      100% {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}

// たまに揺れる
.quake{
  animation: quake 5s ease infinite;

  @keyframes quake {
    0% {
      transform: rotate(0deg);
    }
    5% {
      transform: rotate(10deg);
    }
    10% {
      transform: rotate(-10deg);
    }
    20% {
      transform: rotate(5deg);
    }
    30% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

}



// アニメーションディレイ
.delay-01 {
  animation-delay: 0.1s !important;
}
.delay-02 {
  animation-delay: 0.2s !important;
}
.delay-03 {
  animation-delay: 0.3s !important;
}
.delay-04 {
  animation-delay: 0.4s !important;
}
.delay-05 {
  animation-delay: 0.5s !important;
}
.delay-06 {
  animation-delay: 0.6s !important;
}
.delay-07 {
  animation-delay: 0.7s !important;
}
.delay-08 {
  animation-delay: 0.8s !important;
}
.delay-09 {
  animation-delay: 0.9s !important;
}
.delay-10 {
  animation-delay: 1s !important;
}
.delay-15 {
  animation-delay: 1.5s !important;
}
.delay-20 {
  animation-delay: 2s !important;
}

// アニメーションスピード
.speed-01 {
  animation-duration: 0.1s !important;
}
.speed-02 {
  animation-duration: 0.2s !important;
}
.speed-03 {
  animation-duration: 0.3s !important;
}
.speed-04 {
  animation-duration: 0.4s !important;
}
.speed-05 {
  animation-duration: 0.5s !important;
}
.speed-06 {
  animation-duration: 0.6s !important;
}
.speed-07 {
  animation-duration: 0.7s !important;
}
.speed-08 {
  animation-duration: 0.8s !important;
}
.speed-09 {
  animation-duration: 0.9s !important;
}
.speed-10 {
  animation-duration: 1s !important;
}
.speed-15 {
  animation-duration: 1.5s !important;
}
.speed-20 {
  animation-duration: 2s !important;
}
