@use "../functions" as *;

/* -----------------------
  unity
----------------------- */

// 表示・非表示
.sp {
  @include pc {
    display: none !important;
  }
}

.pc {
  @include sp {
    display: none !important;
  }
}


html {
  scroll-behavior: smooth;
  scroll-padding-top: 10%;
}

body {
  @include Tsukushi;
  @include wt400;
  color: $F-534646;
  
  &.active {

    @include sp {
      overflow: hidden;
    }
  }
}

.whopper {
  overflow: hidden;
}