
$F-8E8048:#8E8048;
$F-E9EDF0:#E9EDF0;
$F-C8C5B5:#C8C5B5;
$F-BD9C45:#BD9C45;
$F-E2E0CD:#E2E0CD;

$B-937F2A:#937F2A;
$B-B7A55C:#B7A55C;
$B-B5AC85:#B5AC85;
$B-363636:#363636;
$B-0A0705-04: rgba(10, 7, 5, 0.40);
$B-937F2A-04: rgba(147, 127, 42, 0.40);




$P-D9D9D9:#D9D9D9;
$P-E9E9E9:#E9E9E9;
$P-AC7D02:#AC7D02;
$F-E9EDF0:#E9EDF0;