
// 共通
$mainC: #F4F4F4;
$subC: #585D5F;

// ボタン
$button: #57C6EA;
$buttonBack: #D1D1D1;
$buttonYellow: #E9B91B;

// フォント
$mainF: #585D5F;
$subF: #989898;
$whiteF: #FFFFFF;
$blueF: #A8DAE9;

// ヘッダー
$header1: #606060;
$header2: #505050;
$header3: #404040;