@use "../functions" as *;

/* -----------------------
  C_front-inr-ttl
----------------------- */

.C_front-inr-ttl {
  width: fit-content;
  margin-inline: auto;

  .C_front-inr-ttl-icon {
    width: s(24);
    margin-inline: auto;
  }

  .TL {
    font-size: s(20);
    font-weight: 500;
  }
}