@use "../functions" as *;

/* -----------------------
C_kv
----------------------- */

.C_kv {
  height: s(335.77);
  position: relative;
  @include imgCover("common/C_kv-bg.webp");
  background-position: center top;

  .C_kv-board {
    width: s(276);
    height: s(276);
    position: absolute;
    @include imgCover("common/C_kv-board.webp");
    background-position: center top;
    bottom: s(13);
    left: 0;
    right: 0;
    margin-inline: auto;


    .TL {
      width: 100%;
      text-align: center;
      font-size: s(28);
      font-weight: 600;
      letter-spacing: 0.1em;
      position: absolute;
      top: 39%;
      left: 49%;
      transform: translate(-50%, -50%);
      white-space: nowrap;
    }
  }

  .C_kv-char {

    .char-01 {
      width: s(105);
      position: absolute;
      bottom: s(30);
      right: s(20);
    }

    .char-02 {
      width: s(117);
      position: absolute;
      top: s(99);
      left: s(8);
    }

    .char-03 {
      width: s(124);
      position: absolute;
      bottom: s(22);
      right: s(31);
    }

    .char-04 {
      width: s(138);
      position: absolute;
      bottom: s(32);
      right: s(19);
    }

    .char-05 {
      width: s(124);
      position: absolute;
      bottom: s(20);
      left: s(19);
    }

    .char-06 {
      width: s(106);
      position: absolute;
      bottom: s(22);
      left: s(11);
    }

    .char-07 {
      width: s(88);
      position: absolute;
      bottom: s(27);
      left: s(36);
    }

    .char-08 {
      width: s(110);
      position: absolute;
      bottom: sm(-2);
      left: s(132);
    }

    .char-09 {
      width: s(77);
      position: absolute;
      bottom: s(39);
      right: s(40);
    }

    .char-10 {
      width: s(116);
      position: absolute;
      bottom: s(19);
      left: s(20);
    }

    .char-11 {
      width: s(135);
      position: absolute;
      top: s(42);
      right: sm(-7);
    }
  }
}