@use "../functions" as *;

/* -----------------------
  C_sentRoll
----------------------- */

.C_sentRoll {

  .roll__area {
    display: flex;
    overflow: hidden;

    @include pc {
      gap: pm(50);
    }

    @include sp {
      gap: s(50);
    }

    .text {
      display: flex;
      animation: infinity-scroll 150s infinite linear 0.5s both;

      @include pc {
        gap: pm(50);
      }

      @include sp {
        gap: s(50);
      }

      @keyframes infinity-scroll {
        from {
          transform: translateX(0);
        }

        to {
          transform: translateX(-100%);
        }
      }

      .TX {
        @include bona;
        @include wt400;
        line-height: 73%;
        white-space: nowrap;
        opacity: 0.3;
        background: linear-gradient(90deg, #00B8FF 0%, #ECFAFF 52.88%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @include pc {
          font-size: pm(268);
          letter-spacing: pm(21.44);
        }

        @include sp {
          font-size: s(128);
          letter-spacing: s(10.24);
        }
      }
    }
  }
}