@use "../../functions"as *;

/* -----------------------
  archive
----------------------- */

.C_other-contents--container {

  // アーカイブページ
  &.container__archive {
    @include pc {
      padding: 50px 50px 66px;
    }

    @include sp {
      padding: 36px 19px 32px;
    }

    &.terms-pa {
      @include pc {
        padding: 46px 74px 64px;
      }

      @include sp {
        padding: 27px 23px 21px;
      }
    }

    &.survey-pa {
      @include pc {
        padding: 54px 74px 69px;
      }

      @include sp {
        padding: 27px 23px 40px;
      }
    }

    &.privacy-policy-pa {
      @include pc {
        padding: 46px 74px 154px;
      }

      @include sp {
        padding: 24px 23px 63px;
      }
    }

    &.edit-pa {
      @include pc {
        padding: 54px 61px 75px;
      }

      @include sp {
        padding: 27px 23px 37px;
      }
    }
    &.company-pa {
      @include pc {
        padding: 41px 74px 44px 26px;
      }    
      @include sp {
        padding: 20px 20px 30px;
      }
    }

  }

  &--inner {

    .archive--lists {

      .list {
        border-bottom: var(--border) solid #C3C3C3;

        @include pc {
          padding: 11px 11px 12px 0;
          --border: 1px;
        }

        @include sp {
          padding: 8px 8px 9px 0;
          --border: 0.727px;
        }

        &:first-child {
          border-top: var(--border) solid #C3C3C3;
        }

        .list--link {
          display: flex;

          @include pc {
            gap: 42px;
          }

          @include sp {
            gap: 0 22px;
          }

          @include media(0px, 355px) {
            flex-direction: column;
          }

          .list--img {
            flex-shrink: 0;

            @include pc {
              width: 240px;
              height: 120px;
            }

            @include sp {
              width: 155px;
              height: 87px;
            }

            @include media(0px, 355px) {
              margin: 0 auto;
            }

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
            }
          }

          .list--title {

            @include pc {
              margin-top: 19px;
            }

            @include sp {
              margin-top: 13px;
            }

            .TL {
              color: $F-main;
              @include wt300;
              line-height: 173%;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 3;
              overflow: hidden;

              @include pc {
                font-size: 15px;
              }

              @include sp {
                font-size: 10.904px;
              }
            }
          }
        }
      }
    }
  }
}