

// フォントカラー
$F-2D889C: #2D889C;
$F-F2CB00: #F2CB00;
$F-969696: #969696;
$F-9F9F9F: #9F9F9F;
$F-FFFFFF: #FFFFFF;




// 背景カラー
$B-2D889C: #2D889C;
$B-6DC0D2: #6DC0D2;
$B-CBEDF4: #CBEDF4;


// コンテンツカラー
$C-2D889C: #2D889C;
$C-D9D9D9: #D9D9D9;
$C-C0C0C0: #C0C0C0;
$C-9F9F9F: #9F9F9F;
$C-6DC0D2: #6DC0D2;

