
$B-E56B81-03 :rgba(229, 107, 129, 0.30);
$B-FAB0C0-02 :#FAB0C0;



$P-FFEEEE: #FFEEEE;


$P-E56C81: #E56C81;
$P-F3A8B5: #F3A8B5;
$P-76B870: #76B870;
$P-71C4E5: #71C4E5;

$P-7079B8: #7079B8;
$P-E5B571: #E5B571;