@use "../functions" as *;

/* -----------------------
  front
----------------------- */
.page-front {

  .front-kv {
    width: s(375);
    margin: 0 auto;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    overflow: hidden;
    pointer-events: none;

    .front-kv-branch-l {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 3;
      width: 100%;
    }

    .front-kv-branch-r {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 4;
      width: 100%;
    }

    .front-kv-lawn {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 3;
      width: 100%;
    }

    .front-kv-contents {
      position: absolute;
      top: 52%;
      transform: translateY(-50%);
      left: 0;
      z-index: 5;
      width: 100%;

      .front-kv-contents-tree {
        width: s(309);
        margin: 0 auto;
      }

      .front-kv-contents-logo {
        width: s(173);
        margin: smax(-10) auto 0;
      }

      .front-kv-contents-char-01,
      .front-kv-contents-char-02,
      .front-kv-contents-char-03,
      .front-kv-contents-char-04,
      .front-kv-contents-char-05 {
        position: absolute;
      }

      .front-kv-contents-char-01 {
        width: s(237);
        top: -22%;
        right: 0;
      }

      .front-kv-contents-char-02 {
        width: s(91);
        bottom: 28%;
        left: s(20);
      }

      .front-kv-contents-char-03 {
        width: s(125);
        bottom: 4%;
        left: 0;
      }

      .front-kv-contents-char-04 {
        width: s(109);
        bottom: 28%;
        right: 0;
      }

      .front-kv-contents-char-05 {
        width: s(94);
        bottom: 2%;
        right: 0;
      }

    }

    .front-kv-bg {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center top;
      }
    }

    .front-kv-white-bg {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      background-color: #ffffff;
    }

  }

  .dummy-kv {
    width: 100%;
    height: 250vh;
    // background-color: #ae5151;
    @include imgCover('front/front-news-banner-bg.webp');
    background-position: center top s(1450);
  }

  .front-inr {
    position: relative;
    z-index: 1;
  }

  .front-news-banner {
    padding: s(9) s(16) s(12) s(20);
    @include imgCover('common/side-bg.webp');

    .front-news-banner-inr {
      display: flex;
      align-items: center;
      gap: s(16);

      .TL {
        flex-shrink: 0;
        font-size: s(12);
        color: #ffffff;
        background-color: #BC6729;
        height: fit-content;
        border-radius: 5px;
        padding: s(1) s(10) s(3) s(12);
      }

      .front-news-banner-link {
        color: #000;

        .TM {
          font-size: s(10);
          letter-spacing: 0.01em;
        }

        .TX {
          margin-top: s(2);
          font-size: s(12);
          letter-spacing: 0.05em;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
          overflow: hidden;
        }
      }
    }
  }

  .front-abput_schedule {
    @include imgCover('front/front-news-banner-bg.webp');
    background-position: center top;

    .front-abput {
      padding: s(77) 0 0;

      .front-abput-char {
        position: relative;
        width: s(225);
        height: s(225);
        margin: 0 auto;

        .front-abput-char-img {
          position: absolute;

          &.char-01 {
            width: s(113);
            top: 0;
            right: 0;
          }

          &.char-02 {
            width: s(125);
            bottom: 0;
            left: 0;
          }
        }
      }


      .TL {
        display: block;
        width: s(275);
        margin: s(31) auto 0;
      }

      .txt {
        margin-top: s(38);

        .TX {
          text-align: center;
          font-size: s(17);
          letter-spacing: 0.05em;
          line-height: 2.2;
        }
      }

      .btn {
        width: fit-content;
        margin: s(40) auto 0;
      }
    }

    .front-schedule {}
  }
}