@use "../../../functions" as *;
@use "../../J_functions" as *;

/* -----------------------
  standard main
----------------------- */

.FV {
    background-color: #fff;
    @include pc {
        height: pmin(419);
    }

    @include sp {
        height: s(365);
    }
}

.page {
    background-color: $main-b;
}

.standard-page {
    position: relative;


    @include pc {
        padding-inline:  pmin(218) ;
    }

    @include sp {
        padding-inline: s(20);
    }
    .standard-inner {
        margin: 0 auto;
    
        @include pc{
            @include imgCover("standard-bg.webp");
            background-position: bottom;
            width: pmin(930);
            padding-block: pmin(135) pmin(214);
        }
        @include sp{
            @include imgCover("standard-bg-sp.webp");
            background-position: bottom;
            padding-block: s(80) s(87);

        }
        .top-TX {
            line-height: 2;
            @include pc {
                font-size: pmin(17.5);
                letter-spacing: pmin(0.6);
            }
            @include sp{
                font-size: s(16.5);
                letter-spacing: s(0.8);
            }
        }

        .standard-content{
            display: flex;
            flex-direction: column;
            @include pc{
                gap: pmin(90);
                margin-top: pmin(106);
            }

            @include sp{
                gap: s(63.5);
                margin-top: s(70);
            }
            .C_KV-title{
                position: relative;
                width: 100%;
                @include pc{
                    padding-bottom: pmin(23);
                    gap: pmin(5);
                }
                @include sp{
                    flex-direction: row;
                    align-items: start;
                    line-height: 1.2;
                    gap: s(5);
                    padding-bottom: s(23);
                }
                .icon{
                    @include pc{
                        width: pmin(45);
                    }
                    @include sp{
                        width: s(37);
                    }
                }
                .TL{
                    margin: 0;
                    @include pc{
                        font-size: pmin(30);
                    }
                    @include sp{
                        font-size: s(25);
                    }
                }
                &::before{
                    content: "";
                    background-size: 100% auto;
                    position: absolute;
                    width: 100%;
                    bottom: 0;
                    left: 0;
                    @include pc{
                        @include iconContain($standard-line);
                        height: pmin(5.79);
                    }
                    @include sp{
                        @include iconContain($standard-line-sp);
                        height: s(6.81);
                    }
                }    
            }
            .textbox{
                @include pc{
                    padding-top: pmin(27);
                }
                @include sp{
                    padding-top: s(27);
                }
                .TX{
                    line-height: 2;
                    margin: 0;
                    @include pc{
                        font-size: pmin(17.5);
                    }
                    @include sp{
                        font-size: s(16.5);
                        letter-spacing: s(0.8);
                    }
                }
            }
        }
    }
}
