@use "../functions" as *;

/* -----------------------
  page-implant
----------------------- */

.page-implant {
  position: relative;
  z-index: 5;

  &--Example {

    @include pc {
      margin-bottom: p(414);
      @include column(p(125));
    }

    @include sp {
      margin-bottom: s(150);
      @include column(s(75));
    }

    &--container {

      @include pc {
        @include column(p(250));
      }

      @include sp {
        @include column(s(100));
      }

      .case {
        border: solid #937F2A;
        background: rgba(255, 255, 255, 0.50);
        backdrop-filter: blur(10px);
        margin: 0 auto;
        position: relative;

        @include pc {
          width: p(1080);
          border-width: pm(1, 1);
          padding: p(73) 0 p(87);
        }

        @include sp {
          width: s(350);
          border-width: s(1);
          padding: s(42) 0;
        }

        &:nth-child(odd) {

          .C_pointText {
            @include pc {
              left: p(-100);
            }

            @include sp {
              left: 0;
            }
          }
        }

        &:nth-child(even) {

          .C_pointText {
            @include pc {
              right: p(-100);
            }

            @include sp {
              right: 0;
            }
          }
        }

        .C_medicalCase {

          &--listsWhopper {
            .list {
              li {
                .TX {
                  &.wrap {
                    @include pc {
                      white-space: nowrap;
                    }

                    @include sp {}
                  }
                }
              }
            }
          }
        }

        .C_pointText {
          position: absolute;

          @include pc {
            top: calc(100% + p(30));
          }

          @include sp {
            top: calc(100% + s(20));
          }

          &.color {
            color: $F-F2F7FA;
          }
        }
      }
    }
  }

  &--implant {

    @include pc {
      margin-bottom: p(178);
    }

    @include sp {
      margin-bottom: s(64);
    }
  }

  &--hoverText {

    @include pc {
      @include column(p(35));
      margin-bottom: p(150);
    }

    @include sp {
      @include column(s(19));
      margin-bottom: s(100);
    }
  }

  // &--merit_demerit {

  // }

  &--price {

    @include pc {
      margin-bottom: p(150);
    }

    @include sp {
      margin-bottom: s(100);
    }

    .C_price {

      &--text {

        @include pc {
          margin-top: p(50);
        }

        @include sp {
          margin: s(60) auto 0;
          width: s(337);
        }

        .TX {
          color: $F-363636;
          line-height: 193%;

          @include pc {
            text-align: center;
            font-size: pm(16);
            letter-spacing: pm(0.8);
          }

          @include sp {
            font-size: s(16);
            letter-spacing: s(0.8);
          }
        }
      }

      &--container {

        @include pc {
          margin-top: p(82);
        }

        @include sp {
          margin-top: s(38);
        }

        &--selectors{
          .selector{
            @include sp{
              font-size: s(16);
            }
          }
        }

        &--contents{

          @include sp{
            padding-top:s(20) ;
            padding-bottom: s(25);
          }

          .list{
            li{

              @include sp{
                flex-direction: unset;
                flex-wrap: wrap;
                padding: s(10) s(38);
                gap: s(10);
              }

              .TL{

                @include sp{
                  font-size: s(18);
                  white-space: nowrap;
                }
              }

              .TX{

                @include sp{
                  font-size: s(18);
                  width: fit-content;
                  margin-left: auto;
                }
              }
            }
          }
        }

        .item--point{

          @include sp{
            top: unset;
            bottom: calc(100% + s(60));
          }
        }
      }

      &--risk {

        @include pc {
          width: p(880);
          margin-top: p(78);
        }

        @include sp {
          margin-top: s(20);
        }

        .title{

          .TL{

            @include sp {
              font-size: s(17);
            }
          }
        }

        .text {
          padding-left: 1rem;
          text-indent: -1.3rem;

          .TX {

            @include sp {
              font-size: s(13);
              letter-spacing: s(0.65);
            }

            &::before {
              content: "・";
            }
          }
        }
      }
    }
  }
}


//  ここから
.page-implant__decoration {

  .parts {

    &.parts-01 {
      opacity: 0.2;
      rotate: 65deg;

      @include pc {
        width: p(1128);
        top: p(700);
        left: p(-200);
      }

      @include sp {
        // width: s(350);
        // top: s(210);
        // left: s(-100);
      }
    }

    &.parts-02 {
      opacity: 0.11;
      rotate: 114deg;

      @include pc {
        width: p(1550);
        top: p(2420);
        right: p(-530);

      }

      @include sp {
        // width: s(350);
        // top: s(1810);
        // right: s(-100);
      }
    }

    &.parts-03 {
      opacity: 0.15;
      rotate: 78deg;

      @include pc {
        width: p(1550);
        top: p(5050);
        left: p(-410);
      }

      @include sp {
        // width: s(250);
        // top: s(3310);
        // left: s(-100);
      }
    }

    &.parts-04 {
      opacity: 0.05;
      rotate: 65deg;

      @include pc {
        width: p(2072);
        top: p(7280);
        right: p(-650);
      }

      @include sp {
        // width: s(250);
        // top: s(3310);
        // left: s(-100);
      }
    }
  }
}