@use "../functions" as *;

/* -----------------------
  page-aestheticDentistry
----------------------- */

.page-aestheticDentistry {
  position: relative;
  z-index: 5;

  @include pc {
    padding-bottom: p(150);
  }

  @include sp {
    padding-bottom: s(75);
  }

  &--Example {

    @include pc {
      margin-bottom: p(275);
      @include column(p(125));
    }

    @include sp {
      margin-bottom: s(130);
      @include column(s(75));
    }

    &--container {

      @include pc {
        @include column(p(250));
      }

      @include sp {
        @include column(s(100));
      }

      .case {
        border: solid #937F2A;
        background: rgba(255, 255, 255, 0.50);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        margin: 0 auto;
        position: relative;

        @include pc {
          width: p(1080);
          border-width: pm(1, 1);
          padding: p(73) 0 p(87);
        }

        @include sp {
          width: s(350);
          border-width: s(1);
          padding: s(42) 0;
        }

        &:nth-child(odd) {

          .C_pointText {
            @include pc {
              left: p(-100);
            }

            @include sp {
              left: 0;
            }
          }
        }

        &:nth-child(even) {

          .C_pointText {
            @include pc {
              right: p(-100);
            }

            @include sp {
              right: 0;
            }
          }
        }

        .C_medicalCase {

          &--listsWhopper {
            .list {
              li {
                .TX {
                  &.wrap {
                    @include pc {
                      white-space: nowrap;
                    }

                    @include sp {}
                  }
                }
              }
            }
          }
        }

        .C_pointText {
          position: absolute;

          @include pc {
            top: calc(100% + p(30));
          }

          @include sp {
            top: calc(100% + s(20));
          }

          &.color {
            color: $F-F2F7FA;
          }
        }
      }
    }
  }

  &--OurTreatment {

    @include pc {
      margin-bottom: p(181);
    }

    @include sp {
      margin-bottom: s(100);
    }

    .C_TL {

      .TL-bg {
        @include sp {
          letter-spacing: 0.03em;
          white-space: nowrap;
        }
      }
    }
  }

  &--Material {

    @include pc {
      margin-bottom: p(150);
    }

    @include sp {
      margin-bottom: s(120);
    }
  }

  &--Whitening {

    @include pc {
      @include column(p(71));
    }

    @include sp {
      @include column(s(68));
    }

    .Whitening--title {

      @include pc {
        @include column(p(50));
      }

      @include sp {
        @include column(s(65));
      }

      .C_TL {

        .TL-bg{

          @include pc{
            letter-spacing: 0.28em;
          }
          
          @include sp{}
        }

        .main-TL {

          @include sp {
            white-space: nowrap;
            line-height: 1.3;
            top: -15%;
          }
        }
      }

      .subTitle {

        .TX {
          color: $F-363636;
          text-align: center;
          line-height: 187%;

          @include pc {
            font-size: pm(16);
          }

          @include sp {}
        }
      }
    }
  }

  &--price {

    .C_price {

      @include sp {
        padding-top: s(135);
      }

      &--container {

        @include pc {
          margin-top: p(78);
        }

        @include sp {
          margin-top: s(94);
        }

        &--selectors {
          .selector {
            @include center;

            @include sp {
              font-size: s(16);
              line-height: 1.18;
              padding: s(7) 0;
            }

            &.long {
              @include pc {
                width: p(407);
              }
            }
          }
        }

        &--contents {

          .item {

            li {

              @include pc {
                padding-left: p(80);
                padding-right: p(40);
              }

              @include sp {
                gap: s(20);
                padding-bottom: s(10);
                align-items: center;
              }

              .TX {
                margin: unset;
              }
            }
          }
        }

        .item--point {

          @include sp {
            top: unset;
            bottom: calc(100% + s(65));
          }
        }
      }
    }
  }
}

.page-aestheticDentistry__decoration {

  .parts {

    &.parts-01 {
      opacity: 0.1;
      rotate: 65deg;

      @include pc {
        width: p(1128);
        top: p(1100);
        left: p(-250);
      }

      @include sp {
        width: s(350);
        top: s(210);
        left: s(-100);
      }
    }

    &.parts-02 {
      opacity: 0.1;
      rotate: 157deg;

      @include pc {
        width: p(1590);
        top: p(2500);
        left: p(0);

      }

      @include sp {
        width: s(350);
        top: s(1810);
        right: s(-100);
      }
    }

    &.parts-03 {
      opacity: 0.2;
      rotate: 78deg;

      @include pc {
        width: p(1590);
        top: p(4650);
        left: p(-1000);
      }

      @include sp {
        width: s(250);
        top: s(3310);
        left: s(-100);
      }
    }

    &.parts-04 {
      opacity: 0.05;
      rotate: 22deg;

      @include pc {
        width: p(1594);
        top: p(6230);
        right: p(-1080);
      }

      @include sp {
        width: s(350);
        top: s(4510);
        right: s(-80);
      }
    }

    &.parts-05 {
      opacity: 0.05;
      rotate: 114deg;

      @include pc {
        width: p(1550);
        top: p(9100);
        left: p(50);
      }

      @include sp {
        width: s(350);
        top: s(7200);
        left: s(-50);
      }
    }
  }
}