@use "../functions" as *;

/* -----------------------
  C_flag-number
----------------------- */


.C_flag-number {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  aspect-ratio: 48/54;

  @include pc {
    width: 48px;
  }

  @include sp {
    width: 28px;
  }


  &.flag-01 {
    background-image: overview-flag(encode('#FEF9CB'), encode('#DECC2A'));

    .TX {
      width: calc((11 / 48) * 100%);
    }
  }

  &.flag-02 {
    background-image: overview-flag(encode('#FBFBF5'), encode('#BDBCB3'));

    .TX {
      width: calc((19 / 48) * 100%);
    }
  }

  &.flag-03 {
    background-image: overview-flag(encode('#E9DBD4'), encode('#B49A62'));

    .TX {
      width: calc((19 / 48) * 100%);
    }
  }

  &.flag-04 {
    background-image: overview-flag(encode('#F4B1B4'), encode('#FDA5A8'));

    .TX {
      width: calc((20 / 48) * 100%);
    }
  }

  &.flag-05 {
    background-image: overview-flag(encode('#F4B1B4'), encode('#FDA5A8'));

    .TX {
      width: calc((19 / 48) * 100%);
    }
  }

  .TX {
    position: absolute;
    top: 40%;
    left: 49%;
    translate: -50% -50%;
  }
}