@use "../functions" as *;

/* -----------------------
  C_other-contents
----------------------- */

.C_other-contents {

  @include pc {
    @include column(22px);
  }

  @include sp {
    @include column(60px);
  }

  .title {
    background: linear-gradient(90deg, #FAB0C0 0%, #F7E5ED 100%);

    @include pc {
      padding: 10px 26px 11px;
    }

    @include sp {
      padding: 10px 24px 11px;
    }

    .TL {
      color: #FFF;
      @include kiwi;
      @include wt500;
      line-height: 1.5;
      font-size: 24px;
    }
  }

  &--container {
    border-radius: 9px;
    background: $B-FFF;
  }
}