@use "../functions" as *;

/* -----------------------
  C_ranking-contents
----------------------- */

.C_ranking-contents {
  display: flex;

  @include pc {
    gap: 19px;
  }

  @include media(768px, 900px) {
    flex-direction: column;
  }

  @include sp {
    flex-direction: column;
    gap: 15px;
  }


  .site-img {
    border: var(--border) solid $P-FEA3A6;
    height: fit-content;
    display: block;

    @include pc {
      flex-shrink: 0;
      width: 258px;
      --border: 1.969px;
    }

    @include media(768px, 900px) {
      width: 100%;
    }

    @include sp {
      width: 100%;
      --border: 1.477px;
    }

    img {
      width: 100%;
    }
  }

  .site-contents {
    background: $P-FFF;
    width: 100%;

    @include pc {
      padding: 19px 27px 23px;
      min-height: 213px;
    }

    @include sp {
      padding: 19px 17px 20px;
    }

    .title {
      position: relative;
      margin-bottom: 18px;

      @include pc {
        padding-bottom: 6px;
      }

      @include sp {
        padding: 0 0 6px 2px;
      }

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        @include iconContain($dot-border);
        background-position: left center;
        background-repeat: repeat-x;

        @include pc {
          height: 5px;
        }

        @include sp {
          height: 3px;
        }
      }

      .TL {
        color: $F-E56B81;
        @include wt600;
        line-height: 1.5;

        @include pc {
          font-size: 16px;
          letter-spacing: 1.6px;
        }

        @include sp {
          font-size: 16.218px;
          letter-spacing: 1.622px;
        }
      }
    }


    .text {

      .lists {

        @include pc {
          @include column(12px);
        }

        @include sp {
          @include column(15px);
        }

        .list {
          position: relative;

          @include pc {
            padding-left: 34px;
          }

          @include sp {
            padding-left: 38px;
          }

          &::before {
            content: "";
            display: block;
            @include iconContain($check-icon);
            position: absolute;
            aspect-ratio: 22/18;
            width: 22px;
            
            @include pc {
              top: 50%;
              translate: 0 -50%;
              left: 0;
            }

            @include sp {
              top: 0;
              left: 8px;
            }
          }

          .TX {
            @include wt300;
            line-height: 1.5;

            @include pc {
              font-size: 13px;
              letter-spacing: 1.3px;
            }

            @include sp {
              font-size: 13.178px;
              letter-spacing: 1.318px;
            }

            .pink {
              color: $F-EFA3B0;
            }
          }
        }
      }
    }
  }
}