@use "../../functions" as *;
@use "../J_functions" as *;

/* -----------------------
  frontPage
----------------------- */

.page-children {
  @include pc{
    padding-bottom: p(150);
  }
  @include sp{
    padding-bottom: p(60);
  }
  .children{
    .TX{
      line-height: 205%;
      text-align: center;
      @include pc{
        font-size: pm(17);
        letter-spacing: p(0.85);
        margin-top: p(73);
      }
      @include sp{
        font-size: s(17);
        margin-top: s(65);
        padding: 0 s(20);
      }
    }
  }
  .C_mainTelButton{
    @include sp{
      margin: s(75) auto 0;
    }
  }
  .C_careContainer{
    @include pc{
      margin-top: p(150);
    }
    @include sp{
      margin-top: s(90);
    }
  }
  .C_textbox{
    @include pc{
      margin: p(150) auto 0;
    }
    @include sp{
      margin: s(77) auto 0;
    }
    &_TL{
      display: flex;
      align-items: center;
      @include pc{
        padding-left: p(36);
      }
      @include sp{
        padding-left: s(36);
      }
      .icon{
        @include iconContain($brush-icon);
        @include pc{
          width: p(30);
          height: p(23);
          margin-right: p(10);
        }
        @include sp{
          width: s(30);
          height: s(23);
          margin-right: s(10);

        }
      }
    }
    &_TX{
      @include pc{
        padding:p(42) 0 p(43) p(36) ;
      }
      @include sp{
        padding: s(43) s(38) s(47) s(27);
        line-height: 187%;
      }
      .top-TL{
        @include pc{
          font-size: pm(16);
        }
        @include sp{
          font-size: s(16);
        }
      }
      .list{
        @include pc{
          margin-left: p(30);
        }
        @include sp{
          width: fit-content;
        }
        li{
          @include pc{
            margin-top: p(30);
          }
          @include sp{
            margin-top: s(30);
          }
          .icon{
            @include sp{
              min-width: s(13);
            }
          }
          .TX{
            @include pc{
              font-size: pm(16);
            }
            @include sp{
              font-size: s(16);
            }
          }
        }
      }
    }
  }
}
.page-children__decoration{
  .parts {
    z-index: -1;

    &.parts-01 {
      opacity: 0.1;
      rotate:64deg;

      @include pc {
        width: p(1128);
        top: p(95);
        left: p(-754);
      }

      @include sp {
        width: s(682);
        top: s(320);
        left: s(-380);
      }
    }

  }

}