@use "../../functions" as *;
@use "../J_functions" as *;

/* -----------------------
  frontPage
----------------------- */

.page-homeVisit {
  @include pc{
    padding-bottom: p(150);
  }
  @include sp{
    padding-bottom: s(60);
  }

  .ourTreatment {
    .TL-bg{
      @include sp{
        letter-spacing: 0.08rem;
      }
    }
    .TX {
      line-height: 172%;
      text-align: center;
      @include pc{
        font-size: pm(18);
        margin-top: p(55);
      }
      @include sp{
        font-size: s(18);
        // letter-spacing: s(2.9);
        margin-top: s(60);
        padding: 0 s(20);
      }
    }
  }

  .point {
    @include pc{
      margin-top: p(150);
    }
    @include sp{
      margin-top: s(125);
    }
    .C_point {
      @include pc{
        margin: p(104) auto 0;
      }
      @include sp{
        margin: s(100) auto 0;
      }
    }
  }
  .C_mainTelButton {
    @include pc{
      margin: p(100) auto 0;
    }
    @include sp{
      margin: s(100) auto 0;
    }
  }
  .medicalCere{
    @include pc{
      margin-top: p(150);
      padding: 0 p(200);
    }
    @include sp{
      margin-top: s(130);
      padding: 0 s(20)
    }
    .C_TL{
      .main-TL{
        @include sp{
          top: s(-10);
          line-height: 150%;
        }
      }
    }
    .medicalCere_content{
      @include pc{
        margin-top: p(70);
        display: flex;
        justify-content: space-between;
      }
      @include sp{
        margin-top: s(60);
      }
      .img{
        @include imgCover("medicalCare.jpg");
        @include pc{
          width: p(309);
          height: p(314);
        }
        @include sp{
          width: s(350);
          height: s(225);
        }
      }
      .C_medicalText{
        @include sp{
          margin-top: s(30);
        }
      }
    }
    .medicalCare_textbox{
      @include pc{
        margin-top: p(78);
      }
      @include sp{
        margin-top: s(68);
      }
      .C_textbox{
        &_TL{
          display: flex;
          align-items: center;
          @include pc{
            justify-content: center;
          }
          @include sp{
            padding-left: s(10);
          }
          .icon{
            @include iconContain($brush-icon);
            @include pc{
              width: p(30);
              height:p(23) ;
              margin-right: p(9);
            }
            @include sp{
              width: s(30);
              height:s(23) ;
              margin-right: s(9);
            }
          }
          .TL{
            @include Extrabold;
            text-shadow: 0 0 1px $F-FFFFFF;
            @include pc{
              font-size: pm(20);
            }
            @include sp{
              font-size: s(20);
            }
          }
        }
        &_TX{
          border-top:none;
          .C_medicalConsider{
            @include pc{
              margin-top: p(40);
              
            }
            @include sp{
              margin-top: s(40);
            }
            &:first-child{
              margin-top: 0;
            }
          }
        }
      }
    }
  }
}
.page-homeVisit__decoration{
  .parts {
    z-index: -1;

    &.parts-01 {
      opacity: 0.1;
      rotate:64deg;

      @include pc {
        width: p(1128);
        top: p(555);
        left: p(-460);
      }

      @include sp {
        width: s(682);
        top: s(420);
        left: s(-380);
      }
    }

    &.parts-02 {
      opacity: 0.05;
      rotate:85.25deg;

      @include pc {
        width: p(1594);
        top: p(1500);
        right: p(-720);
      }

      @include sp {
        width: s(583);
        top: s(2000);
        right: s(-300);
      }
    }


    &.parts-03 {
      opacity: 0.05;
      rotate:-85.25deg;

      @include sp {
        width: s(583);
        top: s(3000);
        left: s(-300);
      }
    }

  }

}