@use "../../functions" as *;
@use "../J_functions" as *;

/* -----------------------
  page-medicalExamination
----------------------- */

.page-medicalExamination{
  @include pc{
    padding-bottom: p(150);
  }
  @include sp{
    padding-bottom: s(100);
  }
  .notice{
    .C_TL{
      .main-TL{
        @include sp{
          width: s(213);
        }
      }
    }
    
    &_content{
      @include pc{
        padding: 0 p(200);
        margin-top: p(65);
      }
      @include sp{
        padding: 0 s(20);
        margin-top: s(55);
      }
    }
    .C_notice{
      background: $B-FFFFFF-05;
      @include pc{
        padding: p(67) p(28) p(28) p(39);
      }
      &-content{
        .TL{
          @include Extrabold;
          @include pc{
            font-size: pm(18);
            margin-bottom: p(25);
          }
          @include sp{
            font-size: s(16);
            margin-bottom: s(30);
            line-height: 156%;
          }
        }
      }
    }
  }
  .C_mainTelButton{
    @include pc{
      margin: p(83) auto 0;
    }
    @include sp{
      margin: s(60) auto 0;
    }
  }
  .flow{
    @include pc{
      margin-top: p(178);
    }
    @include sp{
      margin-top: s(120);
    }
    .C_flow{
      @include pc{
        margin-top: p(70);
      }
      @include sp{
        margin-top: s(64);
      }
    }
  }
}