
/* -----------------------
  Font-Color
----------------------- */
$Font--333333: #333333;
$Font--C14847: #C14847;
$Font--4E6D45: #4E6D45;
$Font--365A2C: #365A2C;
$Font--34572A: #34572A;
$Font--FFFFFF: #FFFFFF;


/* -----------------------
  Background-Color
----------------------- */
$Bg--FFFFFF: #FFFFFF;
$Bg--34572A: #34572A;