@use "../../functions" as *;
@use "../J_functions" as *;


/* -----------------------
  C_bacterial
----------------------- */

.C_bacterial {
  background: $B-0A0705-04;
  @include pc{
    padding: p(40) p(70);
    border: p(2) solid $B-937F2A-04;
  }
  @include sp{
    padding: s(51) 0;
    border: s(2) solid $B-937F2A-04;

  }
  .C_toothTL {
    .icon {
      background-image: tooth-8(encode('#C09933'));
    }
    .TL {
      color: $F-C09933;
    }
  }
  .C_toothContent {
    @include pc{
      align-items: start;
    }
    
    .img {
      @include pc{
        height: p(102);
      }
      @include sp{
        height: s(102);
      }
    }
    .bacterial01 {
      @include imgContain("bacterial01.svg");
    }  
    .bacterial02 {
      @include imgContain("bacterial02.svg");
    }    
    .bacterial03 {
      @include imgContain("bacterial03.svg");
    }    
    .bacterial04 {
      @include imgContain("bacterial04.svg");
      @include pc{
        width: p(130);
        height: p(106);
      }
      @include sp{
        width: s(130);
        height: s(106);
      }
    }    
    .TX {
      color: $F-FFFFFF;
      line-height: 140%;
      @include pc{
        margin-top: p(20);
      }
      @include sp{
        margin-top: s(24);
      }
    }
    
  }
  
}

