@use "../../functions" as *;
@use "../J_functions" as *;


/* -----------------------
  C_clinicIntroduction
----------------------- */

.C_clinicIntroduction{
  display: flex;
  align-items: center;
  @include pc{
    gap: p(44);
  }
  @include sp{
    gap: s(25);
  }
  .aaa{
    display: flex;
    animation: loop-slide 80s infinite linear 1s both;
    @keyframes loop-slide {
      from {
        transform: translateX(-10%);
      }
      to {
        transform: translateX(-110%);
      }
    }
    @include pc{
      gap: p(44);
    }
    @include sp{
      gap: s(25);
    }  
  }
  .img{
    position: relative;
    @include pc{
      width: p(449);
      height: p(299);
    }
    @include sp{
      width: s(258);
      height: s(172);
    }
    &::before{
      background: $B-FFFFFF;
      position: absolute;
      top: 0;
      left: 0;
      @include Extrabold;
      @include pc{
        font-size: p(20);
        padding: p(10) p(30);
      }
      @include sp{
        font-size: s(17);
        padding: s(5) s(10);
      }
    }
    width: 100%;
    @include imgCover("clinic_01.jpg");
    &::before{
      content: "外観";
    }
  }
  .clinic02{
    @include imgCover("clinic_02.jpg");
    &::before{
      content: "エントランス";
    }
  }
  .clinic03{
    @include imgCover("clinic_03.jpg");
    &::before{
      content: "受付";
    }
  }
  .clinic04{
    @include imgCover("clinic_04.jpg");
    &::before{
      content: "待合室";
    }
  }
  .clinic05{
    @include imgCover("clinic_05.jpg");
    &::before{
      content: "バリアフリーの廊下";
    }
  }
  .clinic06{
    @include imgCover("clinic_06.jpg");
    &::before{
      content: "キッズルーム";
    }
  }
  .clinic07{
    @include imgCover("clinic_07.jpg");
    &::before{
      content: "完全個室診察室";
    }
  }
  .clinic08{
    @include imgCover("clinic_08.jpg");
    &::before{
      content: "処置室";
    }
  }
  .clinic09{
    @include imgCover("clinic_09.jpg");
    &::before{
      content: "トイレ";
    }
  }
  .clinic010{
    @include imgCover("clinic_10.jpg");
    &::before{
      content: "駐車場";
    }
  }
}