@use "../../functions" as *;
@use "../J_functions" as *;

/* -----------------------
  C_fotterIcon
----------------------- */

.C_footerIcon{
  @include yuMincho;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  @include pc{
    width: p(240);
    height: p(244);
  }
  @include sp{
    width: s(100);
    height: s(134);
  }
  text-align: center;
  .icon-TL{
    @include Demibold;
    @include pc{
      font-size: p(20);
    }
    @include sp{
      font-size: s(13);
    }
  }
  .icon{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .ft-icon01{
    background-image: tooth-1(encode('#C09933'));
    @include pc{
      width: p(112);
      height: p(34);
    }
    @include sp{
      width: s(50);
      height: s(15);
    }
  }
  .ft-icon02{
    background-image: tooth-2(encode('#C09933'));
    @include pc{
      width: p(70);
      height: p(101);
    }
    @include sp{
      width: s(29);
      height: s(45);
    }

  }
  .ft-icon03{
    background-image: tooth-3(encode('#C09933'));
    @include pc{
      width: p(84);
      height: p(96);
    }
    @include sp{
      width: s(37);
      height: s(43);
    }

  }
  .ft-icon04{
    background-image: tooth-4(encode('#C09933'));
    @include pc{
      width: p(123);
      height: p(70);
    }
    @include sp{
      width: s(53);
      height: s(30);
    }

  }
  .ft-icon05{
    background-image: tooth-5(encode('#C09933'));
    @include pc{
      width: p(122);
      height: p(48);
    }
    @include sp{
      width: s(53);
      height: s(23);
    }

  }
  .ft-icon06{
    background-image: tooth-6(encode('#C09933'));
    @include pc{
      width: p(47);
      height: p(93);
    }
    @include sp{
      width: s(19);
      height: s(40);
    }
  }
  .ft-icon07{
    background-image: tooth-7(encode('#C09933'));
    @include pc{
      width: p(73);
      height: p(92);
    }
    @include sp{
      width: s(33);
      height: s(40);
    }

  }
  .ft-icon08{
    background-image: tooth-8(encode('#C09933'));
    @include pc{
      width: p(86);
      height: p(91);
    }
    @include sp{
      width: s(39);
      height: s(40);
    }

  }

  .ft-icon09{
    background-image: tooth-9(encode('#C09933'));
    @include pc{
      width: p(101);
      height: p(75.5);
    }
    @include sp{
      width: s(45);
      height: s(34);
    }

  }


  .icon-TX{
    @include Medium;
    @include pc{
      font-size: p(16);
    }
    @include sp{
      font-size: s(10);
    }
  }
  &::before{
    @include iconContain($icon-bg);
    content: "";
    position: absolute;
    transition: all 0.5s ease; 
    opacity: 0;
    @include pc{
      top: p(30);
      width: p(199);
      height: p(196);
    }
    @include sp{
      top: s(20);
      width: s(87);
      height: s(87);
    }
  }
  &:hover{
    &::before{
      opacity: 1;
    }
  }
}