@use "../../functions" as *;
@use "../J_functions" as *;


/* -----------------------
  C_forParents
----------------------- */

.C_forParents{
  li{
    display: flex;
    @include pc{
      align-items: center;
      margin-top: p(30);
    }
    @include sp{
      margin-top: s(30);
    }
    .icon{
      @include iconContain($list-thooth);
      @include pc{
        width: p(13);
        height: p(16);
        margin-right: p(20);
      }
      @include sp{
        width: s(13);
        height: s(16);
        margin:s(5) s(20) 0 0;
      }
    }
    .TX{
      line-height: 168%;
      @include pc{
        font-size: pm(16);
      }
      @include sp{
        font-size: s(16);
        width: s(260);
      }
    }
    &:first-child{
      margin-top: 0;
    }
  }
}