@use "../../functions"as *;
@use "../J_functions"as *;


/* -----------------------
  C_greeting
----------------------- */

.C_greeting {
  @include pc {
    width: p(980);
  }
  @include sp{
    padding: 0 s(18);
  }

  &.C_greeting__visiting{
    @include sp{
      padding: 0 s(22);
    }
  }

  &_TL {
    @include Extrabold;
    color: $F-C09933;
    position: relative;
    text-align: center;
    margin: 0 auto;
    text-shadow: 0 0 1px $F-C09933;

    @include pc {
      font-size: p(30);
      padding: p(36) 0;
      letter-spacing: p(3);
      width: fit-content;
    }

    @include sp{
      width: s(350);
      font-size: s(30);
      padding: s(36) 0;
      letter-spacing: s(3);
      line-height: 116%;
    }

    &::before,&::after {
      content: "";
      position: absolute;
      width: 100%;
      background: linear-gradient(90deg, rgba(147, 127, 42, 0.00) 0%, #937F2A 13%, #937F2A 88%, rgba(147, 127, 42, 0.00) 100%);

      @include pc {
        height: p(1);
      }
      @include sp{
        height: s(1);
      }
    }

    &::before {
      top: 0;
      left: 0;
    }

    &::after {
      left: 0;  
      @include pc{
        top: p(107);
      }
      @include sp{
        bottom: 0;
      }
    }
  }
  &_content{
    @include pc{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: p(60);
    }
    .img{
      @include pc{
        width: p(390);
        height: p(490);
      }
      @include sp{
        width: s(257);
        height: s(323);
        margin: s(60) auto 0;
      }
    }
    .greeting01{
      @include imgCover("greeting01.jpg");
    }
    .greeting02{
      @include imgCover("greeting02.jpg");
    }

    .TX{
      color: $F-FFFFFF;
      @include pc{
        font-size: pm(16);
        width: p(540);
        line-height: 187%;
        margin-top: p(5);
      }
      @include sp{
        font-size: s(16);
        line-height: 187%;
        margin-top: s(60);
      }
    }
  }
  .name {
    color: $F-FFFFFF;
    @include Extrabold;
    text-shadow: 0 0 1px $F-FFFFFF;
    text-align: right;
    @include pc{
      font-size: p(25);
      margin-top: p(30);
    }
    @include sp{
      font-size: s(20);
      margin-top: s(30);
    }
  }
}



