@use "../../functions" as *;
@use "../J_functions" as *;

/* -----------------------
  C_point
----------------------- */

.C_point{
  counter-reset:point;
  position: relative;
  @include pc{
    width: p(884);
  }
  @include sp{
    width: s(350);
  }
  li{
    @include pc{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: p(796);
      margin:p(55) 0 0  p(54);
    }
    @include sp{
      margin-top: s(100);
    }
    .img_box{
      position: relative;
      z-index: 10;  
      .img {
        @include pc{
          width: p(280);
          height: p(233);
        }
        @include sp{
          width: s(280);
          height: s(233);
          margin: 0 auto;
        }
      }
      .point01 {
        @include imgCover("point01.jpg");
      }
      .point02 {
        @include imgCover("point02.jpg");
      } 
      .point03 {
        @include imgCover("point03.jpg");
      } 

      &::before{
        content: "";
        position: absolute;
        z-index: -1;
        display: block;
        @include pc{
          width: p(361);
          height: p(300);
          border: p(2) solid $B-C09933-02;
          top: p(-94);
          left: p(-254);
        }
        @include sp{
          width: s(361);
          height: s(300);
          border: s(2) solid $B-C09933-02;
          top: s(-75);
          left: s(-254);
        }
      }     
    }

    .textbox {
      position: relative;
      @include pc{
        width: p(464);
      }
      @include sp{
        margin-top: s(60);
      }
      .TL{
        @include Extrabold;
        text-shadow: 0 0 1px;
        @include pc{
          font-size: pm(20);
          line-height: 155%;
          padding-bottom: p(5);
          border-bottom: p(1) solid $P-C09933;
        }
        @include sp{
          font-size: s(20);
          line-height: 155%;
          padding-bottom: s(10);
          border-bottom: s(1) solid $P-C09933;

        }
      }
      .TX{
        line-height: 187%;
        @include pc{
          font-size: pm(16);
          margin-top: p(27);
        }
        @include sp{
          font-size: s(16);
          letter-spacing: s(0.8);
          margin-top: s(20);
        }
      }
      &::before{
        @include cinzel;
        @include Regular;
        content: "";
        -webkit-text-stroke-color: $F-BD9C45;
        color: transparent;
        content: counter(point, decimal-leading-zero);
        counter-increment: point;
        position: absolute;
        @include pc{
          -webkit-text-stroke-width: p(1);
          font-size: p(64);
          top: p(-25);
          right: 0;
        }
        @include sp{
          -webkit-text-stroke-width: s(1);
          font-size: s(64);
          bottom: s(-10);
          right: 0;
        }
      }    
    }
    &:first-child{
      margin-top: 0;
    }
    &:last-child{
      .img_box{
        &::before{
          @include pc{
            top: p(-35);
          }
          @include sp{
            top: s(-40);
            left: s(-199);
          }
        }
      }
      .textbox{
        .TX{
          @include sp{
            letter-spacing: s(0);
          }
        }
        &::before{
          @include sp{
            top: 0;
          }
        }  
      }
    }
  }
  .reverse{
    @include pc{
      flex-direction: row-reverse;
      margin: p(55) 0 0 0 ;
      margin-left: 0;
    }
    .img_box{
      &::before{
        @include pc{
          top: p(-86);
          left: p(203);
        }
        @include sp{
          top: s(21);
          left: s(273);
        }
      }  
    }
    .textbox{
      @include sp{
        margin-top: s(60);
      }
      &::before{
        @include sp{
          top: s(130);
        }
      }
    }
  }
}

