@use "../../functions" as *;
@use "../J_functions" as *;


/* -----------------------
  C_periodontalTreatment
----------------------- */

.C_periodontalTreatment{
  @include pc{
    display: flex;
    gap: p(16);
  }
  li{
      background: $B-0A0705-04;
    @include pc{
      width: p(284);
      padding: p(34) 0 p(56);
      border: p(2) solid $B-937F2A-04;
    }
    @include sp{
      width: s(284);
      padding: s(34) 0 s(56);
      border: s(2) solid $B-937F2A-04;
      margin-top: s(30);
    }
    &:first-child{
      @include sp{
        margin-top: 0;
      }
    }
    &:last-child{
      @include pc{
        padding-top: p(19);
      }
      @include sp{
        padding-top: s(19);
      }
    }
    .TL{
      text-align: center;
      color:$F-C09933;
      line-height: 150%;
      @include Extrabold;
      @include pc{
        font-size: pm(20);
      }
    }
    .periodontal01{
      @include imgCover("periodontal01.png");
      @include pc{
        width: p(254);
        height: p(191);
        margin: p(10) p(21) 0 p(10)
      }
      @include sp{
        width: s(254);
        height: s(191);
        margin: s(10) s(21) 0 s(10)

      }
    }
    .periodontal02{
      @include imgCover("periodontal02.png");
      @include pc{
        width: p(239);
        height: p(179);
        margin: p(18) p(23) 0 p(22)
      }
      @include sp{
        width: s(239);
        height: s(179);
        margin: s(18) s(23) 0 s(22)

      }
    }
    .periodontal03{
      @include imgCover("periodontal03.png");
      @include pc{
        width: p(195);
        height: p(191);
        margin: p(-2) p(74) 0 p(15);
      }
      @include sp{
        width: s(195);
        height: s(191);
        margin: s(-2) s(74) 0 s(15);
      }
    }
  
  }

}