@use "../../functions" as *;
@use "../J_functions" as *;


/* -----------------------
  C_TL
----------------------- */

.C_TL {
  position: relative;
  text-align: center;

  .TL-bg {
    @include contrail;
    font-weight: 400;

    @include pc {
      opacity: 0.3;
      color: $F-BCAB64;
      font-size: p(122);
      letter-spacing: p(18.3);
    }

    @include sp {
      color: #E6E6D8;
      font-size: s(60);
      letter-spacing: s(10);
    }

    &.color {
      @include sp {
        color: $F-8E8048;
        opacity: 0.3;
      }
    }

    &.rollAnime.roll span {
      transition-property: opacity, transform;
      transform: rotateY(360deg);
      transition: all .8s cubic-bezier(.77, 0, .175, 1);
      transition-timing-function: cubic-bezier(.77, 0, .175, 1);
      display: inline-block;
    }
  }

  .main-TL {
    color: $F-8B761F;
    @include Extrabold;
    text-shadow: 0 0 0.5px $F-8B761F;
    position: absolute;
    left: 50%;
    width: 100%;

    @include pc {
      font-size: pm(35);
      top: 50%;
      translate: -50%;
    }

    @include sp {
      font-size: s(28);
      top: 40%;
      translate: -50% 0;
    }
  }
}