@use "../functions" as *;

/* -----------------------
C_about_introduction
----------------------- */

.C_about_introduction {
	img {
		width: 100%;
		height: auto;
		object-fit: contain;
		object-position: center;
	}

	&-txt {
		@include pc {
			margin-bottom: pmin(152);
		}

		@include sp {
			margin-bottom: s(61);
			padding-inline: s(20);
		}

		.TX {
			@include pc {
				text-align: center;
				font-size: pmin(17);
				letter-spacing: 0.05em;
			}

			@include sp {
				font-size: s(17);
			}
		}
	}

	&-contents {
		position: relative;

		@include pc {
			@include column(pmin(145));
		}

		@include sp {
			@include column(s(51));
			padding-inline: s(10);
		}

		&-inner {
			position: relative;

			.decoration {
				position: absolute;
				bottom: 0%;
				left: 50%;
				transform: translateX(-135%);

				&.deco-01 {
					aspect-ratio: 956/847;
					width: pmin(478);
					@include imgContain("about/about_introduction-bg-01.webp");
				}

				&.deco-02 {
					aspect-ratio: 843/861;
					width: pmin(422);
					@include imgContain("about/about_introduction-bg-02.webp");
				}
			}

			.items-wrap {
				width: 100%;
				position: relative;
				z-index: 2;

				@include pc {
					scroll-behavior: smooth;
					scroll-padding-top: 15%;
					overflow-y: scroll;
					height: pmin(614);
				}

				@include sp {
				}

				.items-inner {
					margin-inline: auto;

					@include pc {
						width: pmin(1064);
						display: flex;
						justify-content: space-between;
					}

					@include sp {
					}

					.sticky-menu {
						width: fit-content;
						z-index: 2;

						@include pc {
							position: sticky;
							top: 0;
							left: 0;
							height: fit-content;
						}

						@include sp {
							margin-inline: auto;
							margin-bottom: s(30);
						}

						.ttl {
							@include sp {
								width: s(200);
								margin-inline: auto;
								transform: translateX(-10%);
							}

							&.type-01 {
								@include pc {
									width: pmin(199);
								}
							}

							&.type-02 {
								@include pc {
									width: pmin(202);
								}
							}

							.TL {
								display: block;
								width: 100%;
							}
						}

						.menu-lists {
							@include pc {
								margin-top: pmin(41);
								padding-left: pmin(35);
								@include column(pmin(25));
							}

							@include sp {
								margin-top: s(37);
								display: flex;
								flex-direction: column;
								flex-wrap: wrap;
								gap: s(10) s(50);
								height: s(180);
							}

							&.type-02 {
								@include sp {
									height: s(80);
								}
							}

							li {
								a {
									display: block;
									width: fit-content;
									line-height: 1;
									@include yuGothic-b;
									letter-spacing: 0.05em;

									@include pc {
										font-size: pmin(18);
									}

									@include sp {
										font-size: s(17);
										line-height: 1.5;
									}

									&::before {
										content: "-";
									}
								}
							}
						}
					}

					.items-lists {
						position: relative;
						z-index: 2;

						@include pc {
							width: pmin(744);
							flex-shrink: 0;
							@include column(pmin(85));
						}

						@include sp {
							@include imgCover("about/about_introduction-bg-sp.webp");
							background-size: 100% 100%;
							scroll-behavior: smooth;
							scroll-padding-top: 15%;
							overflow-y: scroll;
							height: s(433);
							padding: s(61) s(21) s(35);
							@include column(s(30));
						}

						&::before {
							@include sp {
								content: "";
								position: absolute;
								top: s(20);
								left: 0;
								right: 0;
								margin-inline: auto;
								aspect-ratio: 62/32;
								width: s(62);
								@include imgContain("about/about_introduction-sl-sp.svg");
							}
						}

						li {
							.ttl {
								position: relative;
								@include pc {
									margin-bottom: pmin(22);
									padding: pmin(8) 0;
								}

								@include sp {
									margin-bottom: s(9);
									padding: s(10) 0;
								}

								&::before {
									content: "";
									position: absolute;
									bottom: 0;
									left: 0;
									width: 100%;
									background-repeat: no-repeat;
									background-position: center;
									background-size: 100% 100%;

									@include pc {
										background-image: about_introduction-line(encode("#f4d7c2"));
										height: pmin(7);
									}

									@include sp {
										background-image: about_introduction-line(encode("#fff"));
										height: s(3);
									}
								}

								.TL {
									width: 100%;
								}
							}
							.txt {
								@include pc {
									margin-bottom: pmin(33);
								}
								@include sp {
									margin-bottom: s(20);
								}

								.TX {
									letter-spacing: 0.05em;

									@include pc {
										font-size: pmin(17);
									}

									@include sp {
										font-size: s(17);
									}
								}
							}

							.img {
								width: 100%;
							}
						}
					}
				}
			}
		}
	}

	&-btn {
		@include pc {
			margin-top: pmin(202);
		}

		@include sp {
			margin-top: s(28);
		}

		a {
			display: block;
			margin-inline: auto;

			@include pc {
				width: pmin(344);
			}

			@include sp {
				width: s(239);
			}

			img {
				width: 100%;
				height: auto;
				object-fit: contain;
				object-position: center;
			}
		}
	}
}
