@use "../global" as *;


.feature {

  @include pc {
    padding: calc((127 / 1280) * 100vw) 0 0;
  }

  @include sp {
    padding: calc((120 / 390) * 100vw) calc((0 / 390) * 100vw) 0;
  }

  .decoration{

    .deco{
      position: absolute;
      z-index: -1;

      &.deco--8{
        
        @include pc{
          @include icon($deco--8);
          aspect-ratio: 239 / 269;
          width: calc((269 / 1280) * 100vw);
          bottom: calc((-550 / 1280) * 100vw);
          right: calc((-120 / 1280) * 100vw);
          scale: -1 1;
        }

        @include sp{
          @include icon($deco--8);
          aspect-ratio: 239 / 269;
          width: calc((269 / 390) * 100vw);
          bottom: calc(( -410 / 390) * 100vw);
          right: calc((-170 / 390) * 100vw);
          scale: -1 1;
          rotate: 308deg;
        }
      }

      &.deco--9{
        
        @include pc{
          @include icon($deco--9);
          aspect-ratio: 748/682;
          width: calc((786 / 1280) * 100vw);
          bottom: calc((-480 / 1280) * 100vw);
          right: calc((-120 / 1280) * 100vw);
          scale: -1 1;
        }

        @include sp{
          @include icon($deco--9);
          aspect-ratio: 748/682;
          width: calc((400 / 390) * 100vw);
          bottom: calc((-300 / 390) * 100vw);
          right:  calc((-140 / 390) * 100vw);
          scale: -1 1;
          rotate: -60deg;
        }
      }

      &.deco--10{
        
        @include pc{
          @include icon($deco--9);
          aspect-ratio: 748/682;
          width: calc((786 / 1280) * 100vw);
          top: calc((1250 / 1280) * 100vw);
          left: calc((-440 / 1280) * 100vw);
        }

        @include sp{
          @include icon($deco--9);
          aspect-ratio: 748/682;
          width: calc((542 / 390) * 100vw);
          top: calc((900 / 390) * 100vw);
          right:  calc((-300 / 390) * 100vw);
          scale: -1 1;
        }
      }
    }
  }

  .C-title {

    @include pc {
      margin: 0 calc((280 / 1280) * 100vw) calc((130 / 1280) * 100vw) auto;
      position: relative;

      &::before {
        content: '';
        display: block;
        // width: calc(( 168 / 1280) * 100vw);
        width: calc((0 / 1280) * 100vw);
        height: calc((1 / 1280) * 100vw);
        background-color: $mainColor;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        right: calc((-280 / 1280) * 100vw);
      }
    }

    @include sp {}
  }

  &--main{
    @include pc {
      width: 100%;
      @include column(calc((150 / 1280) * 100vw));
    }
  
    @include sp {
      width: 100%;
      @include column(calc((40 / 390) * 100vw));
      padding: 0 calc((20 / 390) * 100vw);
    }
  }
}