@charset "UTF-8";
/* -----------------------
リセット
----------------------- */
html, body, h1, h2, h3, h4, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
}

article, header, footer, aside, figure, figcaption, nav, section {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

ol, ul {
  list-style: none;
  list-style-type: none;
}

button {
  background: none;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

/* -----------------------
  C_title
----------------------- */
.C_title {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
@media screen and (min-width: 768px) {
  .C_title {
    gap: 0.625vw;
  }
}
@media screen and (max-width: 767px) {
  .C_title {
    gap: 2.5641025641vw;
  }
}
.C_title--check {
  background-image: url('data:image/svg+xml;utf-8,<svg viewBox="0 0 29 28" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="1" y="7" width="20" height="20" stroke="%23000" stroke-width="2"/><line x1="4.2" y1="12.1" x2="10.2" y2="20.1" stroke="%23000" stroke-width="3"/><path d="M27.6807 2.07617L18.0903 11.1301L8.49988 20.1841" stroke="%23000" stroke-width="3"/></svg>');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  aspect-ratio: 1/1;
}
@media screen and (min-width: 768px) {
  .C_title--check {
    width: max(2.34375vw, 25px);
  }
}
@media screen and (max-width: 767px) {
  .C_title--check {
    width: 4.358974359vw;
  }
}
.C_title--text {
  padding-bottom: 0.03rem;
}
.C_title--text h2 {
  font-family: "Economica", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.2rem;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  .C_title--text h2 {
    font-size: max(1.71875vw, 20px);
  }
}
@media screen and (max-width: 767px) {
  .C_title--text h2 {
    font-size: 4.6153846154vw;
  }
}

/* -----------------------
  C_menuTitle
----------------------- */
.C_menuTitle {
  margin: 0 auto;
  background: #ebe6c8;
  aspect-ratio: 210/30;
  position: relative;
}
@media screen and (min-width: 768px) {
  .C_menuTitle {
    width: max(16.40625vw, 200px);
  }
}
@media screen and (max-width: 767px) {
  .C_menuTitle {
    width: 46.1538461538vw;
  }
}
.C_menuTitle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 108%;
  border-bottom: 1px solid #000;
}
.C_menuTitle h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  font-family: "Mrs Saint Delafield", cursive;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  text-align: center;
  letter-spacing: 0.2rem;
}
@media screen and (min-width: 768px) {
  .C_menuTitle h3 {
    font-size: max(2.8125vw, 26px);
  }
}
@media screen and (max-width: 767px) {
  .C_menuTitle h3 {
    font-size: 7.6923076923vw;
  }
}

/* -----------------------
  commons
----------------------- */
@media screen and (min-width: 768px) {
  .sp {
    display: none !important;
  }
}

@media screen and (max-width: 767px) {
  .pc {
    display: none !important;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 10%;
}

body.active {
  overflow: hidden;
}

.wapper {
  overflow: hidden;
}

.inner {
  position: relative;
  z-index: 1;
  background-image: url("/img/all-back.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
  background-repeat: repeat-y;
}
@media screen and (min-width: 768px) {
  .inner {
    margin-top: -11.71875vw;
    padding-top: 11.71875vw;
  }
}
@media screen and (max-width: 767px) {
  .inner {
    margin-top: -26.6666666667vw;
    padding-top: 26.6666666667vw;
  }
}

.decoList .deco {
  position: absolute;
  z-index: 11;
}
.decoList .deco.deco--1 {
  aspect-ratio: 852/475;
  background-image: url("/img/deco-1.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .decoList .deco.deco--1 {
    top: -7.8125vw;
    right: -31.25vw;
    width: 66.5625vw;
  }
}
@media screen and (max-width: 767px) {
  .decoList .deco.deco--1 {
    top: -25.641025641vw;
    left: -51.2820512821vw;
    width: 102.5641025641vw;
  }
}
.decoList .deco.deco--2 {
  aspect-ratio: 845/584;
  background-image: url("/img/deco-2.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .decoList .deco.deco--2 {
    top: -70.3125vw;
    right: -31.25vw;
    width: 66.015625vw;
  }
}
@media screen and (max-width: 767px) {
  .decoList .deco.deco--2 {
    top: -256.4102564103vw;
    right: -51.2820512821vw;
    width: 102.5641025641vw;
  }
}
.decoList .deco.deco--3 {
  aspect-ratio: 358/762;
  background-image: url("/img/deco-3.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .decoList .deco.deco--3 {
    top: 0;
    left: -11.71875vw;
    width: 27.96875vw;
  }
}
@media screen and (max-width: 767px) {
  .decoList .deco.deco--3 {
    top: 0;
    left: -25.641025641vw;
    width: 51.2820512821vw;
  }
}
.decoList .deco.deco--4 {
  aspect-ratio: 845/584;
  background-image: url("/img/deco-4.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .decoList .deco.deco--4 {
    top: -200vw;
    left: -35.15625vw;
    width: 66.015625vw;
  }
}
@media screen and (max-width: 767px) {
  .decoList .deco.deco--4 {
    top: -512.8205128205vw;
    right: -76.9230769231vw;
    width: 102.5641025641vw;
  }
}

/* -----------------------
  anime
----------------------- */
.show {
  animation: anime 15s 0s infinite;
  z-index: 0;
  opacity: 0;
}
.show:nth-child(1) {
  animation-delay: 0s;
}
.show:nth-child(2) {
  animation-delay: 5s;
}
.show:nth-child(3) {
  animation-delay: 10s;
}
@keyframes anime {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0;
    z-index: 10;
  }
  100% {
    opacity: 0;
  }
}

/* -----------------------
  header
----------------------- */
header {
  width: 100%;
}
@media screen and (min-width: 768px) {
  header {
    padding: 2.734375vw 7.8125vw;
  }
}
@media screen and (max-width: 767px) {
  header {
    padding: 8vw 5.3333333333vw;
  }
}
@media screen and (min-width: 768px) {
  header h1 {
    width: 15.625vw;
    height: 1.71875vw;
  }
}
@media screen and (max-width: 767px) {
  header h1 {
    width: 26.6666666667vw;
    height: 2.9333333333vw;
  }
}
header h1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* -----------------------
  side
----------------------- */
.side {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 20;
  transform: rotate(90deg);
  transform-origin: bottom right;
  top: 80%;
}
@media screen and (min-width: 768px) {
  .side {
    gap: 5.46875vw;
    right: 6.25vw;
  }
}
@media screen and (max-width: 767px) {
  .side {
    gap: 7.6923076923vw;
    right: 8.9743589744vw;
  }
}
.side--text p {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  color: #666;
  letter-spacing: 0.2em;
}
@media screen and (min-width: 768px) {
  .side--text p {
    font-size: max(1.25vw, 12px);
  }
}
@media screen and (max-width: 767px) {
  .side--text p {
    font-size: 3.0769230769vw;
  }
}
.side .burger {
  position: relative;
  cursor: pointer;
  aspect-ratio: 1.5/1;
  transform: rotate(90deg);
}
@media screen and (min-width: 768px) {
  .side .burger {
    width: 2.34375vw;
  }
}
@media screen and (max-width: 767px) {
  .side .burger {
    width: 5.1282051282vw;
  }
}
.side .burger::before, .side .burger::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #666;
  transition: 0.3s;
}
.side .burger::after {
  top: unset;
  bottom: 0;
}
.side .burger.active::before {
  transform: rotate(45deg) translateY(-50%);
  top: 50%;
}
.side .burger.active::after {
  transform: rotate(-45deg) translateY(50%);
  bottom: 50%;
}
.side--SNS {
  display: block;
  aspect-ratio: 1/1;
  background-image: url('data:image/svg+xml;utf-8,<svg viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.9828 5.88C10.7664 5.88 9.57737 6.24069 8.56601 6.91646C7.55465 7.59223 6.76639 8.55273 6.30091 9.6765C5.83543 10.8003 5.71364 12.0368 5.95094 13.2298C6.18824 14.4228 6.77397 15.5186 7.63406 16.3787C8.49415 17.2388 9.58998 17.8245 10.783 18.0618C11.9759 18.2991 13.2125 18.1773 14.3363 17.7119C15.46 17.2464 16.4205 16.4581 17.0963 15.4468C17.7721 14.4354 18.1328 13.2464 18.1328 12.03C18.1341 11.222 17.9759 10.4217 17.6673 9.67494C17.3587 8.92819 16.9058 8.2497 16.3344 7.67836C15.7631 7.10701 15.0846 6.65406 14.3378 6.34546C13.5911 6.03686 12.7908 5.87868 11.9828 5.88ZM11.9828 16.03C11.1916 16.03 10.4183 15.7954 9.76049 15.3559C9.10269 14.9164 8.59 14.2916 8.28725 13.5607C7.9845 12.8298 7.90529 12.0256 8.05963 11.2496C8.21397 10.4737 8.59493 9.76098 9.15434 9.20157C9.71375 8.64216 10.4265 8.2612 11.2024 8.10686C11.9783 7.95252 12.7826 8.03173 13.5135 8.33448C14.2444 8.63723 14.8691 9.14992 15.3086 9.80772C15.7482 10.4655 15.9828 11.2389 15.9828 12.03C15.9828 13.0909 15.5613 14.1083 14.8112 14.8584C14.061 15.6086 13.0436 16.03 11.9828 16.03ZM19.8228 5.63C19.8228 5.91523 19.738 6.19403 19.5794 6.43105C19.4207 6.66807 19.1952 6.85263 18.9315 6.96132C18.6678 7.07001 18.3777 7.09793 18.0981 7.04155C17.8185 6.98518 17.562 6.84703 17.361 6.64464C17.16 6.44226 17.0237 6.18474 16.9692 5.90475C16.9148 5.62476 16.9447 5.33492 17.0553 5.07197C17.1658 4.80903 17.3519 4.58483 17.59 4.42781C17.8282 4.27079 18.1075 4.18802 18.3928 4.19C18.5814 4.18999 18.7682 4.22731 18.9423 4.2998C19.1165 4.37229 19.2746 4.47852 19.4075 4.61237C19.5404 4.74622 19.6455 4.90504 19.7168 5.07969C19.7881 5.25434 19.8241 5.44137 19.8228 5.63ZM23.9028 7.08C23.9522 5.20961 23.2623 3.39513 21.9828 2.03C20.6333 0.755431 18.8388 0.059177 16.9828 0.09C14.9828 -0.03 9.06277 -0.03 7.08277 0.09C5.19316 0.0370586 3.35947 0.734577 1.98277 2.03C0.710935 3.38124 0.0151299 5.17456 0.042769 7.03C-0.017231 9.03 -0.0172315 15.03 0.0627685 17.03C0.0265518 18.8832 0.715486 20.6773 1.98277 22.03C3.33229 23.3046 5.12676 24.0008 6.98277 23.97C8.98277 24.09 14.9028 24.09 16.8828 23.97C17.8187 23.9984 18.7511 23.8416 19.6263 23.5087C20.5015 23.1758 21.3023 22.6733 21.9828 22.03C23.2528 20.6776 23.9483 18.8851 23.9228 17.03C24.0328 15.03 24.0328 9.11 23.9228 7.13L23.9028 7.08ZM21.3428 19.08C21.1386 19.5956 20.8309 20.0639 20.4388 20.456C20.0467 20.8482 19.5784 21.1558 19.0628 21.36C17.4828 21.99 13.7328 21.85 11.9828 21.85C10.2328 21.85 6.48277 21.98 4.91277 21.36C4.39532 21.159 3.92538 20.8524 3.53285 20.4599C3.14032 20.0674 2.83379 19.5974 2.63277 19.08C2.00277 17.5 2.15277 13.76 2.15277 12.01C2.15277 10.26 2.01277 6.51 2.63277 4.94C2.83695 4.42439 3.14459 3.95609 3.53672 3.56395C3.92885 3.17182 4.39716 2.86418 4.91277 2.66C6.49277 2.03 10.2428 2.17 11.9828 2.17C13.7228 2.17 17.4828 2.04 19.0628 2.66C19.5784 2.86418 20.0467 3.17182 20.4388 3.56395C20.8309 3.95609 21.1386 4.42439 21.3428 4.94C21.9628 6.52 21.8228 10.26 21.8228 12.01C21.8228 13.76 21.9828 17.53 21.3428 19.1V19.08Z" fill="%23666"/></svg>');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .side--SNS {
    width: 1.5625vw;
  }
}
@media screen and (max-width: 767px) {
  .side--SNS {
    width: 3.8461538462vw;
  }
}

/* -----------------------
  navMenu
----------------------- */
.navMenu {
  position: fixed;
  z-index: 9;
  top: 0;
  right: -100%;
  height: 100vh;
  min-height: 100vh;
  background: #FFF;
  overflow-y: scroll;
  transition: 0.3s;
}
@media screen and (min-width: 768px) {
  .navMenu {
    width: 45%;
  }
}
@media screen and (max-width: 767px) {
  .navMenu {
    width: 80%;
  }
}
.navMenu.active {
  right: 0;
}
@media screen and (min-width: 768px) {
  .navMenu--item {
    padding: 7.8125vw 0 7.8125vw 6.25vw;
    display: flex;
    flex-direction: column;
    gap: 6.25vw;
  }
}
@media screen and (max-width: 767px) {
  .navMenu--item {
    padding: 51.2820512821vw 0 25.641025641vw 7.6923076923vw;
    display: flex;
    flex-direction: column;
    gap: 7.6923076923vw;
  }
}
.navMenu--item .logo {
  aspect-ratio: 200/24;
  background-image: url("/img/header-logo.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .navMenu--item .logo {
    width: 15.625vw;
  }
}
@media screen and (max-width: 767px) {
  .navMenu--item .logo {
    width: 51.2820512821vw;
  }
}
@media screen and (min-width: 768px) {
  .navMenu--item ul {
    display: flex;
    flex-direction: column;
    gap: 2.34375vw;
  }
}
@media screen and (max-width: 767px) {
  .navMenu--item ul {
    display: flex;
    flex-direction: column;
    gap: 5.1282051282vw;
  }
}
.navMenu--item ul li a {
  border-bottom: 1px solid #666;
  margin-left: 2rem;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  color: #666;
  letter-spacing: 0.2em;
  position: relative;
}
@media screen and (min-width: 768px) {
  .navMenu--item ul li a {
    font-size: max(1.25vw, 12px);
  }
}
@media screen and (max-width: 767px) {
  .navMenu--item ul li a {
    font-size: 3.0769230769vw;
  }
}
.navMenu--item ul li a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -2rem;
  width: 1rem;
  aspect-ratio: 1/1;
  border: 1px solid #666;
  transform: translateY(-50%);
}

/* -----------------------
  fv
----------------------- */
.fv {
  width: 100%;
  position: relative;
  z-index: 5;
}
@media screen and (min-width: 768px) {
  .fv {
    padding-right: 9.375vw;
  }
}
@media screen and (max-width: 767px) {
  .fv {
    padding-right: 20.5128205128vw;
  }
}
.fv--img {
  position: relative;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .fv--img {
    height: 50.78125vw;
  }
}
@media screen and (max-width: 767px) {
  .fv--img {
    height: 141.0256410256vw;
  }
}
.fv--img--item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.fv--img--item.img--1 {
  background-image: url("/img/FV-1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.fv--img--item.img--2 {
  background-image: url("/img/FV-2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position: top;
}
.fv--img--item.img--3 {
  background-image: url("/img/FV-3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* -----------------------
  concept
----------------------- */
.concept {
  position: relative;
}
@media screen and (min-width: 768px) {
  .concept {
    padding: 10.9375vw 0 14.0625vw;
  }
}
@media screen and (max-width: 767px) {
  .concept {
    padding: 23.0769230769vw 0 28.2051282051vw;
  }
}
.concept--logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .concept--logo {
    margin-bottom: 3.125vw;
  }
}
@media screen and (max-width: 767px) {
  .concept--logo {
    margin-bottom: 2.5641025641vw;
  }
}
@media screen and (min-width: 768px) {
  .concept--logo {
    gap: 1.5625vw;
  }
}
@media screen and (max-width: 767px) {
  .concept--logo {
    gap: 2.5641025641vw;
  }
}
.concept--logo--img {
  aspect-ratio: 1/1;
  height: fit-content;
}
@media screen and (min-width: 768px) {
  .concept--logo--img {
    width: 9.375vw;
  }
}
@media screen and (max-width: 767px) {
  .concept--logo--img {
    width: 25.641025641vw;
  }
}
.concept--logo--img.img--1 {
  background-image: url("/img/logo.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.concept--logo--img.img--2 {
  background-image: url("/img/concept-logo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.concept--logo--sign {
  aspect-ratio: 1/1;
  position: relative;
}
@media screen and (min-width: 768px) {
  .concept--logo--sign {
    width: 4.6875vw;
  }
}
@media screen and (max-width: 767px) {
  .concept--logo--sign {
    width: 12.8205128205vw;
  }
}
.concept--logo--sign::before, .concept--logo--sign::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 100%;
  height: 1px;
  background-color: #000;
  z-index: -1;
}
.concept--logo--sign::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.concept--text {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .concept--text {
    display: flex;
    flex-direction: column;
    gap: 3.90625vw;
    margin-bottom: 7.8125vw;
  }
}
@media screen and (max-width: 767px) {
  .concept--text {
    display: flex;
    flex-direction: column;
    gap: 11.5384615385vw;
    margin-bottom: 28.2051282051vw;
  }
}
.concept--text--title p {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5em;
  color: #000;
}
@media screen and (min-width: 768px) {
  .concept--text--title p {
    font-size: max(1.71875vw, 16px);
  }
}
@media screen and (max-width: 767px) {
  .concept--text--title p {
    font-size: 4.1025641026vw;
  }
}
.concept--text--subTitle p {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5em;
  color: #000;
}
@media screen and (min-width: 768px) {
  .concept--text--subTitle p {
    font-size: max(2.5vw, 22px);
  }
}
@media screen and (max-width: 767px) {
  .concept--text--subTitle p {
    font-size: 4.6153846154vw;
  }
}
@media screen and (min-width: 768px) {
  .concept--text--main {
    display: flex;
    flex-direction: column;
    gap: 3.125vw;
  }
}
@media screen and (max-width: 767px) {
  .concept--text--main {
    display: flex;
    flex-direction: column;
    gap: 7.6923076923vw;
  }
}
.concept--text--main p {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5em;
  color: #000;
}
@media screen and (min-width: 768px) {
  .concept--text--main p {
    font-size: max(1.25vw, 10px);
  }
}
@media screen and (max-width: 767px) {
  .concept--text--main p {
    font-size: 3.0769230769vw;
  }
}
.concept--tag {
  position: relative;
}
@media screen and (min-width: 768px) {
  .concept--tag {
    padding: 41.40625vw 0 29.6875vw;
  }
}
@media screen and (max-width: 767px) {
  .concept--tag {
    padding: 71.7948717949vw 0 105.1282051282vw;
  }
}
.concept--tag--title {
  background: #fff;
  box-shadow: -10px 20px 20px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  width: fit-content;
  position: relative;
  z-index: 10;
}
@media screen and (min-width: 768px) {
  .concept--tag--title {
    padding: 1.5625vw 6.25vw;
  }
}
@media screen and (max-width: 767px) {
  .concept--tag--title {
    padding: 2.5641025641vw 10.2564102564vw;
  }
}
.concept--tag--title p {
  font-family: "Mrs Saint Delafield", cursive;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  color: #666;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .concept--tag--title p {
    font-size: 2.34375vw;
  }
}
@media screen and (max-width: 767px) {
  .concept--tag--title p {
    font-size: 5.1282051282vw;
  }
}
.concept--tag--pict--img {
  position: absolute;
  box-shadow: -10px 20px 20px rgba(0, 0, 0, 0.1);
}
.concept--tag--pict--img.img--1 {
  background-image: url("/img/concept-img-1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  aspect-ratio: 650/450;
  z-index: 2;
  top: 0;
}
@media screen and (min-width: 768px) {
  .concept--tag--pict--img.img--1 {
    left: 9.765625vw;
    width: 50.78125vw;
  }
}
@media screen and (max-width: 767px) {
  .concept--tag--pict--img.img--1 {
    left: 0;
    width: 84.6153846154vw;
  }
}
.concept--tag--pict--img.img--2 {
  background-image: url("/img/concept-img-2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  aspect-ratio: 430/650;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .concept--tag--pict--img.img--2 {
    top: 15.625vw;
    right: 10.15625vw;
    width: 33.59375vw;
  }
}
@media screen and (max-width: 767px) {
  .concept--tag--pict--img.img--2 {
    top: 46.1538461538vw;
    right: 0;
    width: 56.4102564103vw;
  }
}
.concept--tag--pict--img.img--3 {
  background-image: url("/img/concept-img-3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  aspect-ratio: 360/230;
}
@media screen and (min-width: 768px) {
  .concept--tag--pict--img.img--3 {
    bottom: 0;
    left: 19.53125vw;
    width: 28.125vw;
  }
}
@media screen and (max-width: 767px) {
  .concept--tag--pict--img.img--3 {
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 56.4102564103vw;
  }
}
.concept--tag--pict--img.img--4 {
  background-image: url("/img/concept-img-4.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  aspect-ratio: 350/290;
  box-shadow: unset;
}
@media screen and (min-width: 768px) {
  .concept--tag--pict--img.img--4 {
    top: -7.03125vw;
    right: 10.15625vw;
    width: 27.34375vw;
  }
}
@media screen and (max-width: 767px) {
  .concept--tag--pict--img.img--4 {
    top: -25.641025641vw;
    right: -12.8205128205vw;
    width: 46.1538461538vw;
    z-index: 3;
  }
}
.concept--tag--pict--img.img--5 {
  background-image: url("/img/concept-img-5.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  aspect-ratio: 290/290;
  box-shadow: unset;
}
@media screen and (min-width: 768px) {
  .concept--tag--pict--img.img--5 {
    bottom: 10.15625vw;
    left: 6.25vw;
    width: 22.65625vw;
  }
}
@media screen and (max-width: 767px) {
  .concept--tag--pict--img.img--5 {
    bottom: 20.5128205128vw;
    left: -10.2564102564vw;
    width: 38.4615384615vw;
  }
}

/* -----------------------
  menu
----------------------- */
.menu {
  position: relative;
}
@media screen and (min-width: 768px) {
  .menu {
    padding-bottom: 11.71875vw;
  }
}
@media screen and (max-width: 767px) {
  .menu {
    padding-bottom: 25.641025641vw;
  }
}
.menu--text {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .menu--text {
    margin: 3.125vw 0 10.15625vw;
    display: flex;
    flex-direction: column;
    gap: 4.6875vw;
  }
}
@media screen and (max-width: 767px) {
  .menu--text {
    margin: 7.6923076923vw 0 15.3846153846vw;
    display: flex;
    flex-direction: column;
    gap: 7.6923076923vw;
  }
}
.menu--text--title p {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5em;
  color: #000;
  line-height: 2;
}
@media screen and (min-width: 768px) {
  .menu--text--title p {
    font-size: max(2.5vw, 20px);
  }
}
@media screen and (max-width: 767px) {
  .menu--text--title p {
    font-size: 4.6153846154vw;
  }
}
.menu--text--sentence p {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  color: #000;
  line-height: 3;
}
@media screen and (min-width: 768px) {
  .menu--text--sentence p {
    letter-spacing: 0.5em;
    font-size: max(1.25vw, 12px);
  }
}
@media screen and (max-width: 767px) {
  .menu--text--sentence p {
    letter-spacing: 0.2em;
    font-size: 3.0769230769vw;
  }
}
@media screen and (min-width: 768px) {
  .menu--food {
    display: flex;
    flex-direction: column;
    gap: 6.25vw;
    margin-bottom: 15.625vw;
  }
}
@media screen and (max-width: 767px) {
  .menu--food {
    display: flex;
    flex-direction: column;
    gap: 15.3846153846vw;
    margin-bottom: 25.641025641vw;
  }
}
.menu--food--content--item {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .menu--food--content--item {
    width: 90%;
    gap: 2.34375vw;
    margin-top: -9.375vw;
    margin-left: auto;
  }
}
@media screen and (max-width: 767px) {
  .menu--food--content--item {
    flex-direction: column-reverse;
    width: 90%;
    gap: 5.1282051282vw;
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) {
  .menu--food--content--item:first-child {
    margin-top: 0;
  }
}
@media screen and (min-width: 768px) {
  .menu--food--content--item:nth-child(2n) {
    flex-direction: row-reverse;
    margin-left: unset;
    margin-right: auto;
  }
}
@media screen and (max-width: 767px) {
  .menu--food--content--item:nth-child(2n) {
    margin-left: unset;
    margin-right: auto;
  }
}
@media screen and (max-width: 767px) {
  .menu--food--content--item:nth-child(2n) .menu--food--content--item--img {
    margin-right: unset;
    margin-left: -25.641025641vw;
  }
}
@media screen and (max-width: 767px) {
  .menu--food--content--item--text {
    width: 70%;
  }
}
.menu--food--content--item--text h4 {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.2rem;
}
@media screen and (min-width: 768px) {
  .menu--food--content--item--text h4 {
    font-size: max(1.25vw, 12px);
  }
}
@media screen and (max-width: 767px) {
  .menu--food--content--item--text h4 {
    font-size: 3.0769230769vw;
  }
}
.menu--food--content--item--text .title {
  font-family: "Economica", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.2rem;
}
@media screen and (min-width: 768px) {
  .menu--food--content--item--text .title {
    font-size: max(2.5vw, 16px);
    margin-top: 0.78125vw;
  }
}
@media screen and (max-width: 767px) {
  .menu--food--content--item--text .title {
    font-size: 4.6153846154vw;
    margin-top: 1.2820512821vw;
  }
}
.menu--food--content--item--text .sentence {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.2rem;
}
@media screen and (min-width: 768px) {
  .menu--food--content--item--text .sentence {
    font-size: max(1.25vw, 12px);
    margin-top: 1.5625vw;
  }
}
@media screen and (max-width: 767px) {
  .menu--food--content--item--text .sentence {
    font-size: 3.0769230769vw;
    margin-top: 2.5641025641vw;
  }
}
.menu--food--content--item--img {
  aspect-ratio: 740/550;
  flex-shrink: 0;
}
@media screen and (min-width: 768px) {
  .menu--food--content--item--img {
    width: 57.8125vw;
  }
}
@media screen and (max-width: 767px) {
  .menu--food--content--item--img {
    width: 100%;
    margin-right: -25.641025641vw;
  }
}
.menu--food--content--item--img.img--1 {
  background-image: url("/img/menu-food-1.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.menu--food--content--item--img.img--2 {
  background-image: url("/img/menu-food-2.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.menu--food--content--item--img.img--3 {
  background-image: url("/img/menu-food-3.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .menu--drink {
    display: flex;
    flex-direction: column;
    gap: 6.25vw;
  }
}
@media screen and (max-width: 767px) {
  .menu--drink {
    display: flex;
    flex-direction: column;
    gap: 15.3846153846vw;
    padding: 0 10.2564102564vw;
  }
}
@media screen and (min-width: 768px) {
  .menu--drink--content {
    display: flex;
    flex-direction: column;
    gap: 10.9375vw;
  }
}
@media screen and (max-width: 767px) {
  .menu--drink--content {
    display: flex;
    flex-direction: column;
    gap: 14.1025641026vw;
  }
}
.menu--drink--content--itemTop {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .menu--drink--content--itemTop {
    gap: 7.8125vw;
  }
}
@media screen and (max-width: 767px) {
  .menu--drink--content--itemTop {
    flex-direction: column;
    gap: 5.1282051282vw;
  }
}
.menu--drink--content--itemTop--img {
  aspect-ratio: 1/1;
  background-image: url("/img/menu-drink-1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-shrink: 0;
}
@media screen and (min-width: 768px) {
  .menu--drink--content--itemTop--img {
    width: 37.5vw;
  }
}
@media screen and (max-width: 767px) {
  .menu--drink--content--itemTop--img {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .menu--drink--content--itemTop--sentence {
    width: 35%;
  }
}
@media screen and (max-width: 767px) {
  .menu--drink--content--itemTop--sentence {
    width: 100%;
  }
}
.menu--drink--content--itemMiddle {
  display: flex;
}
@media screen and (min-width: 768px) {
  .menu--drink--content--itemMiddle {
    gap: 9.375vw;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 767px) {
  .menu--drink--content--itemMiddle {
    flex-direction: column-reverse;
    gap: 5.1282051282vw;
    width: 70%;
    margin-left: auto;
  }
}
.menu--drink--content--itemMiddle--img {
  aspect-ratio: 510/340;
  background-image: url("/img/menu-drink-2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-shrink: 0;
}
@media screen and (min-width: 768px) {
  .menu--drink--content--itemMiddle--img {
    width: 39.84375vw;
  }
}
@media screen and (max-width: 767px) {
  .menu--drink--content--itemMiddle--img {
    width: 100%;
  }
}
.menu--drink--content--itemBottom {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .menu--drink--content--itemBottom {
    gap: 12.5vw;
  }
}
@media screen and (max-width: 767px) {
  .menu--drink--content--itemBottom {
    flex-direction: column;
    gap: 10.2564102564vw;
  }
}
@media screen and (min-width: 768px) {
  .menu--drink--content--itemBottom--section {
    display: flex;
    flex-direction: column;
    gap: 1.5625vw;
  }
}
@media screen and (max-width: 767px) {
  .menu--drink--content--itemBottom--section {
    display: flex;
    flex-direction: column;
    gap: 5.1282051282vw;
    width: 75%;
  }
}
@media screen and (min-width: 768px) {
  .menu--drink--content--itemBottom--section:nth-child(2) {
    margin-top: 9.375vw;
  }
}
@media screen and (max-width: 767px) {
  .menu--drink--content--itemBottom--section:nth-child(2) {
    margin-left: auto;
  }
}
.menu--drink--content--itemBottom--section--img {
  aspect-ratio: 400/200;
  flex-shrink: 0;
}
@media screen and (min-width: 768px) {
  .menu--drink--content--itemBottom--section--img {
    width: 31.25vw;
  }
}
@media screen and (max-width: 767px) {
  .menu--drink--content--itemBottom--section--img {
    width: 100%;
  }
}
.menu--drink--content--itemBottom--section--img.img--1 {
  background-image: url("/img/menu-drink-3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.menu--drink--content--itemBottom--section--img.img--2 {
  background-image: url("/img/menu-drink-4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.menu--drink--content .menu--drink--sentence .title {
  font-family: "Economica", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5rem;
}
@media screen and (min-width: 768px) {
  .menu--drink--content .menu--drink--sentence .title {
    font-size: max(2.5vw, 20px);
    margin: 0.625vw 0 1.5625vw;
  }
}
@media screen and (max-width: 767px) {
  .menu--drink--content .menu--drink--sentence .title {
    font-size: 5.641025641vw;
    margin: 1.2820512821vw 0 2.5641025641vw;
  }
}
.menu--drink--content .menu--drink--sentence .text {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.2rem;
  line-height: 2;
}
@media screen and (min-width: 768px) {
  .menu--drink--content .menu--drink--sentence .text {
    font-size: max(1.25vw, 12px);
  }
}
@media screen and (max-width: 767px) {
  .menu--drink--content .menu--drink--sentence .text {
    font-size: 3.0769230769vw;
  }
}
@media screen and (min-width: 768px) {
  .menu--drink--content .menu--drink--sentence .text:nth-of-type(2) {
    margin-bottom: 0.546875vw;
  }
}
@media screen and (max-width: 767px) {
  .menu--drink--content .menu--drink--sentence .text:nth-of-type(2) {
    margin-bottom: 1.2820512821vw;
  }
}

/* -----------------------
  picture
----------------------- */
.picture {
  aspect-ratio: 1280/790;
  width: 100%;
  background-image: url("/img/picture.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

/* -----------------------
  shop
----------------------- */
@media screen and (min-width: 768px) {
  .shop {
    padding: 9.375vw 0 15.234375vw;
  }
}
@media screen and (max-width: 767px) {
  .shop {
    padding: 28.2051282051vw 0;
  }
}
.shop--text {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .shop--text {
    margin: 3.125vw 0 10.15625vw;
    display: flex;
    flex-direction: column;
    gap: 4.6875vw;
  }
}
@media screen and (max-width: 767px) {
  .shop--text {
    margin: 7.6923076923vw 0 15.3846153846vw;
    display: flex;
    flex-direction: column;
    gap: 7.6923076923vw;
  }
}
.shop--text--title p {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5em;
  color: #000;
  line-height: 2;
}
@media screen and (min-width: 768px) {
  .shop--text--title p {
    font-size: max(2.5vw, 20px);
  }
}
@media screen and (max-width: 767px) {
  .shop--text--title p {
    font-size: 4.6153846154vw;
  }
}
.shop--text--sentence p {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  color: #000;
  line-height: 3;
}
@media screen and (min-width: 768px) {
  .shop--text--sentence p {
    letter-spacing: 0.5em;
    font-size: max(1.25vw, 12px);
  }
}
@media screen and (max-width: 767px) {
  .shop--text--sentence p {
    letter-spacing: 0.2em;
    font-size: 3.0769230769vw;
  }
}
.shop--content {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .shop--content {
    padding: 0 6.25vw;
    display: flex;
    flex-direction: column;
    gap: 6.25vw;
  }
}
@media screen and (max-width: 767px) {
  .shop--content {
    display: flex;
    flex-direction: column;
    gap: 17.9487179487vw;
  }
}
.shop--content--itemTop {
  position: relative;
}
.shop--content--itemTop--img {
  aspect-ratio: 930/618;
  background-image: url("/img/shop-img-1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .shop--content--itemTop--img {
    width: 72.65625vw;
  }
}
@media screen and (max-width: 767px) {
  .shop--content--itemTop--img {
    width: 85%;
  }
}
.shop--content--itemTop--tag {
  position: absolute;
}
@media screen and (min-width: 768px) {
  .shop--content--itemTop--tag {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 1.171875vw;
  }
}
@media screen and (max-width: 767px) {
  .shop--content--itemTop--tag {
    right: 5.1282051282vw;
    bottom: -10.2564102564vw;
    display: flex;
    flex-direction: column;
    gap: 1.7948717949vw;
  }
}
.shop--content--itemTop--tag--item {
  background: #fff;
  box-shadow: -10px 20px 20px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 768px) {
  .shop--content--itemTop--tag--item {
    width: 23.4375vw;
    padding: 1.171875vw 0;
  }
}
@media screen and (max-width: 767px) {
  .shop--content--itemTop--tag--item {
    width: 33.3333333333vw;
    padding: 1.7948717949vw 0;
  }
}
.shop--content--itemTop--tag--item p {
  font-family: "Mrs Saint Delafield", cursive;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.2em;
  color: #000;
  line-height: 1;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .shop--content--itemTop--tag--item p {
    font-size: max(1.71875vw, 16px);
  }
}
@media screen and (max-width: 767px) {
  .shop--content--itemTop--tag--item p {
    font-size: 3.0769230769vw;
  }
}
.shop--content--itemBottom {
  display: flex;
}
@media screen and (min-width: 768px) {
  .shop--content--itemBottom {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 767px) {
  .shop--content--itemBottom {
    flex-direction: column;
    padding: 0 6.4102564103vw;
    display: flex;
    flex-direction: column;
    gap: 15.3846153846vw;
  }
}
@media screen and (min-width: 768px) {
  .shop--content--itemBottom--access {
    display: flex;
    flex-direction: column;
    gap: 2.34375vw;
  }
}
@media screen and (max-width: 767px) {
  .shop--content--itemBottom--access {
    display: flex;
    flex-direction: column;
    gap: 5.1282051282vw;
  }
}
.shop--content--itemBottom--access--text p {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  color: #000;
  line-height: 2.5;
  letter-spacing: 0.2em;
}
@media screen and (min-width: 768px) {
  .shop--content--itemBottom--access--text p {
    font-size: max(1.25vw, 10px);
  }
}
@media screen and (max-width: 767px) {
  .shop--content--itemBottom--access--text p {
    font-size: 3.0769230769vw;
  }
}
.shop--content--itemBottom--access--strong {
  background: #fff;
  box-shadow: -10px 20px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  border: #cccccc solid 1px;
}
@media screen and (min-width: 768px) {
  .shop--content--itemBottom--access--strong {
    padding: 1.5625vw 0 1.5625vw 2.34375vw;
  }
}
@media screen and (max-width: 767px) {
  .shop--content--itemBottom--access--strong {
    padding: 5.1282051282vw 6.4102564103vw;
  }
}
.shop--content--itemBottom--access--strong p {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  color: #000;
  line-height: 2;
  letter-spacing: 0.2em;
}
@media screen and (min-width: 768px) {
  .shop--content--itemBottom--access--strong p {
    font-size: max(1.40625vw, 10px);
  }
}
@media screen and (max-width: 767px) {
  .shop--content--itemBottom--access--strong p {
    font-size: 3.3333333333vw;
  }
}
.shop--content--itemBottom--access--map {
  background: #4d4d4d;
  position: relative;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .shop--content--itemBottom--access--map {
    width: 23.4375vw;
    padding: 1.5625vw 0;
  }
}
@media screen and (max-width: 767px) {
  .shop--content--itemBottom--access--map {
    width: 61.5384615385vw;
    padding: 5.1282051282vw 0;
  }
}
.shop--content--itemBottom--access--map::before {
  content: "→";
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  font-family: "Economica", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  color: #fff;
  transition: 0.3s;
}
@media screen and (min-width: 768px) {
  .shop--content--itemBottom--access--map::before {
    font-size: max(1.71875vw, 16px);
  }
}
@media screen and (max-width: 767px) {
  .shop--content--itemBottom--access--map::before {
    font-size: 3.0769230769vw;
  }
}
.shop--content--itemBottom--access--map:hover::before {
  right: 1%;
}
.shop--content--itemBottom--access--map p {
  text-align: center;
  font-family: "Economica", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  color: #fff;
  line-height: 1;
  letter-spacing: 0.2em;
}
@media screen and (min-width: 768px) {
  .shop--content--itemBottom--access--map p {
    font-size: max(1.71875vw, 16px);
  }
}
@media screen and (max-width: 767px) {
  .shop--content--itemBottom--access--map p {
    font-size: 3.0769230769vw;
  }
}
.shop--content--itemBottom--img--1 {
  background-image: url("/img/shop-img-2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: fit-content;
  aspect-ratio: 400/585;
  flex-shrink: 0;
}
@media screen and (min-width: 768px) {
  .shop--content--itemBottom--img--1 {
    width: 31.25vw;
    margin-left: 4.6875vw;
  }
}
@media screen and (max-width: 767px) {
  .shop--content--itemBottom--img--1 {
    width: 56.4102564103vw;
    margin-left: auto;
  }
}
.shop--content--itemBottom--img--2 {
  background-image: url("/img/shop-img-3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: fit-content;
  aspect-ratio: 400/600;
  flex-shrink: 0;
}
@media screen and (min-width: 768px) {
  .shop--content--itemBottom--img--2 {
    width: 31.25vw;
    margin-left: 7.8125vw;
  }
}
@media screen and (max-width: 767px) {
  .shop--content--itemBottom--img--2 {
    width: 56.4102564103vw;
  }
}
.shop--content--itemBottom--img--3 {
  background-image: url("/img/shop-img-4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: fit-content;
  aspect-ratio: 360/240;
  flex-shrink: 0;
}
@media screen and (min-width: 768px) {
  .shop--content--itemBottom--img--3 {
    width: 28.125vw;
    margin: auto 0 auto 19.53125vw;
  }
}
@media screen and (max-width: 767px) {
  .shop--content--itemBottom--img--3 {
    width: 56.4102564103vw;
    margin-left: auto;
  }
}

/* -----------------------
  more
----------------------- */
.more {
  background: linear-gradient(90deg, #ebe6c8 50%, #FFF 50%);
}
@media screen and (min-width: 768px) {
  .more {
    padding: 6.25vw 0;
  }
}
@media screen and (max-width: 767px) {
  .more {
    padding: 7.6923076923vw;
  }
}
.more--inner {
  background-image: url("/img/more.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.more--inner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.more--inner--in {
  position: relative;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .more--inner--in {
    display: flex;
    flex-direction: column;
    gap: 2.34375vw;
    padding: 7.03125vw 0 9.765625vw;
  }
}
@media screen and (max-width: 767px) {
  .more--inner--in {
    display: flex;
    flex-direction: column;
    gap: 5.1282051282vw;
    padding: 15.3846153846vw 0 17.9487179487vw;
  }
}
.more--inner--in--logo {
  aspect-ratio: 1/1;
  background-image: url("/img/logo.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .more--inner--in--logo {
    width: 7.8125vw;
  }
}
@media screen and (max-width: 767px) {
  .more--inner--in--logo {
    width: 15.3846153846vw;
  }
}
.more--inner--in--text p {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  color: #FFF;
  font-weight: 100;
  letter-spacing: 0.4em;
  line-height: 2;
}
@media screen and (min-width: 768px) {
  .more--inner--in--text p {
    font-size: max(2.5vw, 22px);
  }
}
@media screen and (max-width: 767px) {
  .more--inner--in--text p {
    font-size: 4.6153846154vw;
  }
}
.more--inner--in--btn {
  background: #FFF;
  position: relative;
}
@media screen and (min-width: 768px) {
  .more--inner--in--btn {
    width: 23.4375vw;
    padding: 1.5625vw 0;
  }
}
@media screen and (max-width: 767px) {
  .more--inner--in--btn {
    width: 64.1025641026vw;
    padding: 3.8461538462vw 0;
  }
}
.more--inner--in--btn::before {
  content: "→";
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  font-family: "Economica", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  color: #000;
  transition: 0.3s;
}
@media screen and (min-width: 768px) {
  .more--inner--in--btn::before {
    font-size: max(1.71875vw, 16px);
  }
}
@media screen and (max-width: 767px) {
  .more--inner--in--btn::before {
    font-size: 3.0769230769vw;
  }
}
.more--inner--in--btn:hover::before {
  right: 1%;
}
.more--inner--in--btn p {
  text-align: center;
  font-family: "Economica", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  color: #000;
  line-height: 1;
  letter-spacing: 0.2em;
}
@media screen and (min-width: 768px) {
  .more--inner--in--btn p {
    font-size: max(1.71875vw, 16px);
  }
}
@media screen and (max-width: 767px) {
  .more--inner--in--btn p {
    font-size: 3.8461538462vw;
  }
}

/* -----------------------
  footer
----------------------- */
footer {
  display: flex;
}
@media screen and (min-width: 768px) {
  footer {
    flex-wrap: wrap;
    padding: 8.59375vw 5.46875vw 9.375vw 1.5625vw;
  }
}
@media screen and (max-width: 767px) {
  footer {
    display: flex;
    flex-direction: column;
    gap: 10.2564102564vw;
    padding: 17.9487179487vw 0 20.5128205128vw;
  }
}
footer .footer--content--logo {
  aspect-ratio: 330/60;
  background-image: url("/img/footer-logo.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  footer .footer--content--logo {
    width: 25.78125vw;
  }
}
@media screen and (max-width: 767px) {
  footer .footer--content--logo {
    width: 53.8461538462vw;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  footer .footer--content--text {
    margin-top: 3.90625vw;
  }
}
@media screen and (max-width: 767px) {
  footer .footer--content--text {
    margin-top: 7.6923076923vw;
  }
}
footer .footer--content--text p {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  color: #000;
  line-height: 1;
  letter-spacing: 0.2em;
}
@media screen and (min-width: 768px) {
  footer .footer--content--text p {
    font-size: max(1.25vw, 12px);
    margin-bottom: 1.5625vw;
  }
}
@media screen and (max-width: 767px) {
  footer .footer--content--text p {
    text-align: center;
    font-size: 3.0769230769vw;
    line-height: 3;
  }
}
footer .footer--SNS {
  display: flex;
}
@media screen and (min-width: 768px) {
  footer .footer--SNS {
    gap: 2.34375vw;
    margin-left: auto;
  }
}
@media screen and (max-width: 767px) {
  footer .footer--SNS {
    justify-content: center;
    gap: 6.4102564103vw;
  }
}
footer .footer--SNS a {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  height: fit-content;
  border-radius: 50%;
  background-color: #4D4D4D;
}
@media screen and (min-width: 768px) {
  footer .footer--SNS a {
    width: 3.90625vw;
  }
}
@media screen and (max-width: 767px) {
  footer .footer--SNS a {
    width: 12.8205128205vw;
  }
}
@media screen and (min-width: 768px) {
  footer .footer--SNS a:nth-child(4) {
    display: none;
  }
}
footer .footer--SNS a .SNS--img {
  aspect-ratio: 1/1;
  width: 50%;
}
footer .footer--SNS a .SNS--img.img--1 {
  background-image: url('data:image/svg+xml;utf-8,<svg viewBox="0 0 22 28" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11 2.00297C13.3202 1.93839 15.5711 2.79725 17.2586 4.39095C18.946 5.98465 19.932 8.1829 20 10.503C20 13.223 19.36 14.193 14.36 21.003C13.36 22.313 12.28 23.823 11 25.593C9.72 23.823 8.61 22.313 7.65 21.003C2.65 14.193 2 13.223 2 10.503C2.07061 8.18379 3.05739 5.98709 4.74425 4.39395C6.43111 2.8008 8.68057 1.94105 11 2.00297ZM11 15.823C11.9825 15.7955 12.9351 15.479 13.7387 14.9131C14.5423 14.3472 15.1613 13.5571 15.5184 12.6414C15.8754 11.7257 15.9547 10.725 15.7463 9.76452C15.5378 8.80402 15.0509 7.92626 14.3464 7.24093C13.6419 6.5556 12.751 6.09311 11.7851 5.91126C10.8192 5.72941 9.82115 5.83627 8.91564 6.21847C8.01014 6.60068 7.23737 7.24128 6.6939 8.06022C6.15044 8.87916 5.86039 9.84011 5.86 10.823C5.88368 12.166 6.43726 13.4452 7.40007 14.3817C8.36288 15.3183 9.65686 15.8364 11 15.823ZM11 0.00297397C8.14946 -0.0614382 5.38989 1.00819 3.32741 2.97692C1.26492 4.94566 0.0681693 7.65252 0 10.503C0 14.733 1.55 15.913 9.87 27.433C10.0013 27.6089 10.1718 27.7517 10.3679 27.85C10.5641 27.9484 10.7805 27.9996 11 27.9996C11.2195 27.9996 11.4359 27.9484 11.6321 27.85C11.8282 27.7517 11.9987 27.6089 12.13 27.433C20.46 15.913 22 14.733 22 10.503C21.9676 9.09115 21.6572 7.69955 21.0868 6.40769C20.5164 5.11583 19.697 3.94902 18.6755 2.97393C17.6539 1.99884 16.4503 1.23458 15.1333 0.72481C13.8163 0.215043 12.4118 -0.0302408 11 0.00297397ZM11 13.823C10.4139 13.7936 9.84935 13.5931 9.37612 13.2461C8.9029 12.8991 8.54182 12.421 8.33758 11.8709C8.13334 11.3208 8.09492 10.7229 8.22706 10.1511C8.35921 9.57941 8.65612 9.059 9.08104 8.65431C9.50596 8.24962 10.0402 7.97844 10.6177 7.87432C11.1952 7.77021 11.7905 7.83774 12.33 8.06855C12.8695 8.29937 13.3295 8.68333 13.653 9.1729C13.9765 9.66248 14.1493 10.2362 14.15 10.823C14.129 11.6382 13.7857 12.4118 13.1952 12.9741C12.6047 13.5365 11.8152 13.8418 11 13.823Z" fill="%23fff"/></svg>');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
footer .footer--SNS a .SNS--img.img--2 {
  background-image: url('data:image/svg+xml;utf-8,<svg viewBox="0 0 26 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 0V20H26V0H0ZM24 17.12L18 10.38L24 3.93V17.12ZM2 3.93L8.22 10.59L2 16.82V3.93ZM13 12.78L2.93 2H23.07L13 12.78ZM9.52 12L12.27 14.94C12.3635 15.0399 12.4766 15.1196 12.6022 15.174C12.7277 15.2285 12.8631 15.2566 13 15.2566C13.1369 15.2566 13.2723 15.2285 13.3978 15.174C13.5234 15.1196 13.6365 15.0399 13.73 14.94L16.67 11.8L22.21 18H3.52L9.52 12Z" fill="%23FFF"/></svg>');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
footer .footer--SNS a .SNS--img.img--3 {
  background-image: url('data:image/svg+xml;utf-8,<svg viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.9828 5.88C10.7664 5.88 9.57737 6.24069 8.56601 6.91646C7.55465 7.59223 6.76639 8.55273 6.30091 9.6765C5.83543 10.8003 5.71364 12.0368 5.95094 13.2298C6.18824 14.4228 6.77397 15.5186 7.63406 16.3787C8.49415 17.2388 9.58998 17.8245 10.783 18.0618C11.9759 18.2991 13.2125 18.1773 14.3363 17.7119C15.46 17.2464 16.4205 16.4581 17.0963 15.4468C17.7721 14.4354 18.1328 13.2464 18.1328 12.03C18.1341 11.222 17.9759 10.4217 17.6673 9.67494C17.3587 8.92819 16.9058 8.2497 16.3344 7.67836C15.7631 7.10701 15.0846 6.65406 14.3378 6.34546C13.5911 6.03686 12.7908 5.87868 11.9828 5.88ZM11.9828 16.03C11.1916 16.03 10.4183 15.7954 9.76049 15.3559C9.10269 14.9164 8.59 14.2916 8.28725 13.5607C7.9845 12.8298 7.90529 12.0256 8.05963 11.2496C8.21397 10.4737 8.59493 9.76098 9.15434 9.20157C9.71375 8.64216 10.4265 8.2612 11.2024 8.10686C11.9783 7.95252 12.7826 8.03173 13.5135 8.33448C14.2444 8.63723 14.8691 9.14992 15.3086 9.80772C15.7482 10.4655 15.9828 11.2389 15.9828 12.03C15.9828 13.0909 15.5613 14.1083 14.8112 14.8584C14.061 15.6086 13.0436 16.03 11.9828 16.03ZM19.8228 5.63C19.8228 5.91523 19.738 6.19403 19.5794 6.43105C19.4207 6.66807 19.1952 6.85263 18.9315 6.96132C18.6678 7.07001 18.3777 7.09793 18.0981 7.04155C17.8185 6.98518 17.562 6.84703 17.361 6.64464C17.16 6.44226 17.0237 6.18474 16.9692 5.90475C16.9148 5.62476 16.9447 5.33492 17.0553 5.07197C17.1658 4.80903 17.3519 4.58483 17.59 4.42781C17.8282 4.27079 18.1075 4.18802 18.3928 4.19C18.5814 4.18999 18.7682 4.22731 18.9423 4.2998C19.1165 4.37229 19.2746 4.47852 19.4075 4.61237C19.5404 4.74622 19.6455 4.90504 19.7168 5.07969C19.7881 5.25434 19.8241 5.44137 19.8228 5.63ZM23.9028 7.08C23.9522 5.20961 23.2623 3.39513 21.9828 2.03C20.6333 0.755431 18.8388 0.059177 16.9828 0.09C14.9828 -0.03 9.06277 -0.03 7.08277 0.09C5.19316 0.0370586 3.35947 0.734577 1.98277 2.03C0.710935 3.38124 0.0151299 5.17456 0.042769 7.03C-0.017231 9.03 -0.0172315 15.03 0.0627685 17.03C0.0265518 18.8832 0.715486 20.6773 1.98277 22.03C3.33229 23.3046 5.12676 24.0008 6.98277 23.97C8.98277 24.09 14.9028 24.09 16.8828 23.97C17.8187 23.9984 18.7511 23.8416 19.6263 23.5087C20.5015 23.1758 21.3023 22.6733 21.9828 22.03C23.2528 20.6776 23.9483 18.8851 23.9228 17.03C24.0328 15.03 24.0328 9.11 23.9228 7.13L23.9028 7.08ZM21.3428 19.08C21.1386 19.5956 20.8309 20.0639 20.4388 20.456C20.0467 20.8482 19.5784 21.1558 19.0628 21.36C17.4828 21.99 13.7328 21.85 11.9828 21.85C10.2328 21.85 6.48277 21.98 4.91277 21.36C4.39532 21.159 3.92538 20.8524 3.53285 20.4599C3.14032 20.0674 2.83379 19.5974 2.63277 19.08C2.00277 17.5 2.15277 13.76 2.15277 12.01C2.15277 10.26 2.01277 6.51 2.63277 4.94C2.83695 4.42439 3.14459 3.95609 3.53672 3.56395C3.92885 3.17182 4.39716 2.86418 4.91277 2.66C6.49277 2.03 10.2428 2.17 11.9828 2.17C13.7228 2.17 17.4828 2.04 19.0628 2.66C19.5784 2.86418 20.0467 3.17182 20.4388 3.56395C20.8309 3.95609 21.1386 4.42439 21.3428 4.94C21.9628 6.52 21.8228 10.26 21.8228 12.01C21.8228 13.76 21.9828 17.53 21.3428 19.1V19.08Z" fill="%23FFF"/></svg>');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
footer .footer--SNS a .SNS--img.img--4 {
  background-image: url('data:image/svg+xml;utf-8,<svg viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.86797 21.5584C0.558151 21.6925 0.3053 21.9312 0.15359 22.2328C0.00188015 22.5344 -0.039043 22.8797 0.0379703 23.2084L1.45797 29.3884C1.53063 29.7049 1.70884 29.9872 1.96328 30.189C2.21773 30.3907 2.53326 30.4998 2.85797 30.4984C6.48245 30.4984 10.0714 29.7845 13.42 28.3975C16.7686 27.0105 19.8112 24.9775 22.3741 22.4146C24.937 19.8517 26.97 16.8091 28.357 13.4605C29.7441 10.1119 30.458 6.5229 30.458 2.89841C30.4594 2.5737 30.3503 2.25817 30.1485 2.00373C29.9468 1.74928 29.6645 1.57107 29.348 1.49841L23.168 0.038411C22.8418 -0.0387384 22.499 0.00110029 22.1992 0.150971C21.8995 0.300842 21.6619 0.551225 21.528 0.858411L18.678 7.52841C18.5516 7.81123 18.5233 8.12817 18.5975 8.42891C18.6718 8.72966 18.8444 8.99697 19.088 9.18841L22.688 12.1384C20.5113 16.7855 16.7847 20.5298 12.148 22.7284L9.19797 19.1184C9.00173 18.8782 8.73272 18.7083 8.43148 18.6343C8.13025 18.5604 7.81314 18.5864 7.52797 18.7084L0.86797 21.5584Z" fill="%23FFF"/></svg>');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
footer .copyRight {
  width: 100%;
}
footer .copyRight p {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  color: #000;
  line-height: 1;
  letter-spacing: 0.2em;
}
@media screen and (min-width: 768px) {
  footer .copyRight p {
    font-size: max(1.25vw, 12px);
    margin-bottom: 1.5625vw;
  }
}
@media screen and (max-width: 767px) {
  footer .copyRight p {
    text-align: center;
    font-size: 3.0769230769vw;
  }
}

/* -----------------------
  example
----------------------- */
/* -----------------------
  example-2
----------------------- */

/*# sourceMappingURL=style.css.map */
