@use "../global" as *;


.to__top{
  display: block;
  background: #F5797F;
  color: #FFFBFB;
  @include hira;
  font-weight: 600;
  line-height: 100%;
  text-align: center;
  position: fixed;
  
  @include pc{
    border-radius: calc(( 3 / 1280) * 100vw);
    width: calc(( 94 / 1280) * 100vw);
    padding: calc(( 13 / 1280) * 100vw) 0 calc(( 11 / 1280) * 100vw);
    font-size: calc(( 10 / 1280) * 100vw);
    letter-spacing: calc(( 0.4 / 1280) * 100vw);
    right: calc(( 20 / 1280) * 100vw);
    bottom: calc(( 20 / 1280) * 100vw);
    
  }

  @include sp{
    border-radius: calc(( 3 / 390) * 100vw);
    width: calc(( 94 / 390) * 100vw);
    padding: calc(( 13 / 390) * 100vw) 0 calc(( 11 / 390) * 100vw);
    font-size: calc(( 10 / 390) * 100vw);
    letter-spacing: calc(( 0.4 / 390) * 100vw);
    right: calc(( 20 / 390) * 100vw);
    bottom: calc(( 20 / 390) * 100vw);
  }
}