@use "../functions" as *;

/* -----------------------
  footer
----------------------- */

.footer {

  @include pc {
    border-top: 1px solid $F-1a1a1a;
  }

  .footer__inner {

    @include pc {
      width: p(1114);
      margin: 0 auto;
    }

    @include sp {
      border-top: 1px solid $F-1a1a1a;
      width: s(350);
      margin: 0 auto;
    }
  }

  .footer__top {
    background-color: $B-ffffff;

    @include pc {
      padding: p(25) 0 0;
    }

    @include sp {
      padding: s(32) 0 0;
    }
  }

  .footer__top-inner {
    display: flex;
    align-items: center;

    @include pc {
      justify-content: space-between;
    }

    @include sp {
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      gap: s(28);
    }
  }

  .footer__logo {
    @include inter;
    @include wt700;
    color: $F-1a1a1a;
    line-height: 1.907;

    @include pc {
      font-size: p(21.503);
    }

    @include sp {
      font-size: s(21.503);
    }
  }

  .footer__list {
    display: flex;
    align-items: center;

    @include pc {
      gap: p(40);
    }

    @include sp {
      gap: s(40);
    }
  }

  .footer__link {
    @include zen-kaku;
    @include wt700;
    color: $F-1a1a1a;
    line-height: 1.85;
    letter-spacing: 0.06em;

    @include pc {
      font-size: p(14.089);
    }

    @include sp {
      font-size: s(14.089);
    }
  }

  .footer__bottom {

    @include pc {
      padding: p(58) 0 p(28);
    }

    @include sp {
      padding: s(60) 0 s(28);
    }
  }

  .footer__bottom-inner {
    @include pc {
      text-align: left;
    }

    @include sp {
      width: 100%;
      text-align: center;
    }
  }

  .footer__copyright {
    @include noto-sans;
    @include wt400;
    color: $F-6b6b6b;
    line-height: 1.849;
    letter-spacing: 0.1em;

    @include pc {
      font-size: p(12.983);
    }

    @include sp {
      font-size: s(12.983);
    }
  }
}