
// font-family: Zen Kaku Gothic New;
@mixin zen-kaku-gothic {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-style: normal;
}

// font-family: Afacad;
@mixin afacad {
  font-family: "Afacad", sans-serif;
  font-style: normal;
}

// font-family: Bona Nova SC;
@mixin bona {
  font-family: "Bona Nova SC", serif;
  font-style: normal;
}

// font-family: Noto Sans JP;
@mixin noto-sans {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
}

// font-family: Noto Serif JP;
@mixin noto-serif {
  font-family: "Noto Serif JP", serif;
  font-style: normal;
}

// font-family: Zen Maru Gothic;
@mixin zen-maru-gothic {
  font-family: "Zen Maru Gothic", serif;
  font-style: normal;
}

// font-family: A-OTF Ryumin Pr6N;
@mixin pr6n {
  font-family: "a-otf-ryumin-pr6n", serif;
  font-style: normal;
}


// font-weight:;
@mixin wt100 {
  font-weight: 100;
}
@mixin wt200 {
  font-weight: 200;
}
@mixin wt300 {
  font-weight: 300;
}
@mixin wt400 {
  font-weight: 300;
}
@mixin wt500 {
  font-weight: 500;
}
@mixin wt600 {
  font-weight: 600;
}
@mixin wt700 {
  font-weight: 700;
}
@mixin wt800 {
  font-weight: 800;
}
@mixin wt900 {
  font-weight: 900;
}
