

// フォントカラー
$F-2480BA: #2480BA;
$F-ffffff: #ffffff;
$F-333333: #333333;
$F-01B8FF: #01B8FF;
$F-126FA7: #126FA7;
$F-C3E3F8: #C3E3F8;
$F-126FA7: #126FA7;


// 背景カラー
$B-E6F8FF: #E6F8FF;
$B-FFFFFF: #FFFFFF;

// パーツカラー
$P-888888: #888888;
$P-0EB9FD: #0EB9FD;
$P-EDF7F6: #EDF7F6;
$P-2480BA: #2480BA;
$P-EDF7F6: #EDF7F6;
$P-FFFFFF: #FFFFFF;
$P-0064A8: #0064A8;
$P-E6F8FF: #E6F8FF;
$P-E6F8FF: #E6F8FF;