@use "../functions" as *;

/* -----------------------
  header
----------------------- */
.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;

  @include pc{
    padding: p(32);

  }

  @include sp{}

  .burger{
    aspect-ratio: 61/34;
    cursor: pointer;
    position: relative;
    z-index: 9999;
    margin-left: auto;


    @include pc{
      width: p(65);
    }
    
    @include sp{}

    &.active{
      aspect-ratio: 40/45;
  
      @include pc{
        width: p(40);
      }
      
      @include sp{}

      .burger--icon{
        @include iconContain($close);
      }
    }

    &--icon{
      width: 100%;
      height: 100%;
      @include iconContain($open);
      transition: all 0.3s;
    }
  }

  .menu{
    position: fixed;
    top: 0;
    right: 0;
    background: #FFFFFF;
    overflow-y: scroll;
    
    @include pc{
      border-radius: p(100) 0px 0px p(100);
      width: p(730);
      height: p(650);
      max-height: 100vh;
      padding: p(53) 0 p(58);
    }
    
    @include sp{}

    .nav{
      
      @include pc{}
      
      @include sp{}
      
      .logo{
        aspect-ratio: 199/74;
        margin: 0 auto;
        
        @include pc{
          width: p(199);
        }
        
        @include sp{}

        &--img{
          width: 100%;
          height: 100%;
          object-fit: contain;
          object-position: center;
        }

      }

      .list{
        width: fit-content;

        @include pc{
          margin: p(30) auto p(72);
          @include column(p(30));
        }
        
        @include sp{}

        li{

          @include pc{
          }
          
          @include sp{}

          a{
            display: block;
            width: fit-content;
            margin: 0 auto;
            font-weight: bold;
            line-height: 150%;
            color: $F-534646;
            padding: 0 1rem;
            position: relative;

            &::before{
              content: '';
              position: absolute;
              bottom: 0;
              left: 50%;
              translate: -50% 0;
              display: block;
              width: 100%;
              transition: all 0.3s;
              
              @include pc{
                height: p(3);
              }
              
              @include sp{}
            }
            
            @include pc{
              font-size: pm(20,14);
            }
            
            @include sp{}
          }
        }
      }

      
    }
  }
}