

// フォントカラー
$F-333333: #333333;
$F-ffffff: #ffffff;
$F-E9E19C: #E9E19C;
$F-EDA571: #EDA571;
$F-292929: #292929;
$F-7C7C7C: #7C7C7C;
$F-9D9D9D: #9D9D9D;
$F-515552: #515552;
$F-F9E474: #F9E474;
$F-6B6B6B: #6B6B6B;
$F-D6D6D6: #D6D6D6;




// 背景カラー
$B-E9E19C: #E9E19C;
$B-C0C0C0: #C0C0C0;
$B-EDA571: #EDA571;
$B-9D9D9D: #9D9D9D;
$B-ffffff: #ffffff;

$B-fefefe: #fefefe;
