// フォントカラー
$F-main: #505050;
$F-sub: #F49047;
$F-white: #FFF;


// 背景カラー
$B-main: #FFF;
$B-sub: #FFFEF1;


// パーツカラー
$P-ff0000: #ff0000;

// プランカラー
$plan-base: #51493F;
$plan-sub: #C9C9C9;
$plan-beginner: #9C9C9C;
$plan-pro: #42AFA4;
$plan-master: #AF4254;