
<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8" />
<meta name="description" content="店舗集客のお悩みはMEOで解決！SEO対策よりも低予算・短期間でサイトの流入を見込めます。MEOドットコムなら1000店舗以上の豊富な導入実績があり、初期費用なし・完全成功報酬型なのでリスクもありません！ネット・電話で全国の店舗様に対応可能です。専属担当者が付きますので分からないこともすぐ相談可能。対応業種は「飲食・宿泊・健康・美容・医療・リフォーム・スポーツ・教室」等多岐に渡ります！まずはお問い合わせください" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" href="./assets/images/favicon.png" />
<link rel="apple-touch-icon" href="./assets/images/webclip.png"> 
<meta property="og:title" content="低予算でネットで店舗の集客を増やすなら｜MEOドットコム" />
<meta property="og:description" content="店舗集客のお悩みはMEOで解決！SEO対策よりも低予算・短期間でサイトの流入を見込めます。MEOドットコムなら1000店舗以上の豊富な導入実績があり、初期費用なし・完全成功報酬型なのでリスクもありません！ネット・電話で全国の店舗様に対応可能です。専属担当者が付きますので分からないこともすぐ相談可能。対応業種は「飲食・宿泊・健康・美容・医療・リフォーム・スポーツ・教室」等多岐に渡ります！まずはお問い合わせください" />
<meta property="og:url" content="http://www.fam-t.co.jp/meo.com/" />
<meta property="og:image" content="http://www.fam-t.co.jp/meo.com/assets/images/OGP.png" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="低予算でネットで店舗の集客を増やすなら｜MEOドットコム" />
<meta property="og:locale" content="ja_JP" />
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="低予算でネットで店舗の集客を増やすなら｜MEOドットコム" />
<meta name="twitter:url" content="http://www.fam-t.co.jp/meo.com/" />
<meta name="twitter:description" content="店舗集客のお悩みはMEOで解決！SEO対策よりも低予算・短期間でサイトの流入を見込めます。MEOドットコムなら1000店舗以上の豊富な導入実績があり、初期費用なし・完全成功報酬型なのでリスクもありません！ネット・電話で全国の店舗様に対応可能です。専属担当者が付きますので分からないこともすぐ相談可能。対応業種は「飲食・宿泊・健康・美容・医療・リフォーム・スポーツ・教室」等多岐に渡ります！まずはお問い合わせください" />
<meta name="twitter:image" content="http://www.fam-t.co.jp/meo.com/assets/images/OGP.png" />
<title> 低予算でネットで店舗の集客を増やすなら｜MEOドットコム</title>
<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  
  ga('create', 'UA-140432516-1', 'auto');
  ga('send', 'pageview');
  </script>
  <!-- End Google Analytics -->
  <!-- 5/20追加 BowNow-->
  <script id="_bownow_ts">
    var _bownow_ts = document.createElement('script');
    _bownow_ts.charset = 'utf-8';
    _bownow_ts.src = 'https://contents.bownow.jp/js/UTC_6483aebef2c7c42a01e8/trace.js';
    document.getElementsByTagName('head')[0].appendChild(_bownow_ts);
    </script>
      <!-- BowNowここまで-->
<link href="assets/stylesheets/bundlea69a18ecbabee598ef27.css" rel="stylesheet"></head>
<body>
<div class="l-wrap">

<header class="l-header">
  <ul class="l-header-inner__pc jsc-elem-head u-hidden-u_pc">
    <li>
      <div class="c-header-logo__pc jsc-btn-scroll" data-scroll="top">
        <img src="./assets/images/logo.svg" alt="logo">
      </div>
    </li>
    <li>
      <a class="jsc-btn-scroll" data-scroll="when">MEOとは</a>
    </li>
    <li>
      <a class="jsc-btn-scroll" data-scroll="merit">MEOのメリット</a>
    </li>
    <li>
      <a class="jsc-btn-scroll" data-scroll="reason">選ばれる理由</a>
    </li>
    <li>
      <a class="jsc-btn-scroll" data-scroll="increase">導入効果</a>
    </li>
    <li>
      <a class="jsc-btn-scroll" data-scroll="business">対象業種</a>
    </li>
    <li>
      <a class="jsc-btn-scroll" data-scroll="fee">料金</a>
    </li>
    <li>
      <a class="jsc-btn-scroll" data-scroll="step">ご利用の流れ</a>
    </li>
    <li>
      <div class="c-header-btn__pc jsc-btn-scroll" onClick="ga('send','event','cv','click','header_contact_btn');" data-scroll="contact">
        <img src="./assets/images/btn_contact_pc.png" alt="無料相談">
      </div>
    </li>
  </ul>
  <div class="l-header-inner__sp jsc-elem-head u-hidden-o_pc">
    <div class="c-header-info u-fs-12">
      <p>モデル店舗キャンペーン実施中</p>
    </div>
    <ul class="l-header-gnai__sp">
      <li class="c-header-ham__open">
        <div class="jsc-click-open">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </li>
      <li>
        <div class="c-header-logo__sp jsc-btn-scroll" data-scroll="top">
          <img src="./assets/images/logo.svg" alt="logo">
        </div>
      </li>
      <li>
        <div class="c-header-btn__sp jsc-btn-scroll" onClick="ga('send','event','cv','click','header_contact_btn');" data-scroll="contact">
          <img src="./assets/images/btn_contact_sp.svg"  alt="無料相談">
        </div>
      </li>
    </ul>
    <div class="l-header-menu">
      <div class="c-header-menu__top">
        <div class="c-header-ham__close">
          <span></span>
          <span></span>
        </div>
        <div class="c-header-btn-contact__sp jsc-btn-scroll" onClick="ga('send','event','cv','click','hambarger_contact_btn');" data-scroll="contact">
          <img src="./assets/images/btn_contact_pc.png" alt="無料相談">
        </div>
      </div>
      <ul class="c-header-menu-navi">
        <li>
          <a class="jsc-btn-scroll" data-scroll="when">MEOとは</a>
        </li>
        <li>
          <a class="jsc-btn-scroll" data-scroll="merit">MEOのメリット</a>
        </li>
        <li>
          <a class="jsc-btn-scroll" data-scroll="reason">選ばれる理由</a>
        </li>
        <li>
          <a class="jsc-btn-scroll" data-scroll="increase">導入効果</a>
        </li>
        <li>
          <a class="jsc-btn-scroll" data-scroll="business">対象業種</a>
        </li>
        <li>
          <a class="jsc-btn-scroll" data-scroll="fee">料金</a>
        </li>
        <li>
          <a class="jsc-btn-scroll" data-scroll="step">ご利用の流れ</a>
        </li>
      </ul>
    </div>
  </div>
</header>

<!-- KV -->
<div class="p-kv-bg jsc-elem-to" data-scroll="top">
  <div class="p-kv">
    <div class="p-kv_text">
      <div class="p-kv_balloonImg">
        <img src="./assets/images/kv_balloon.png" alt="完全成功報酬" />
      </div>
      <h1 class="u-fs-53-32">業界最高水準の<br />上位表示で<br />集客UP</h1>
      <p class="u-fs-16-14">
        集客がうまくいかない…。<br />MEOドットコムはそんなお悩みを解決します！
      </p>
    </div>
    <div class="p-kv_siteImg">
      <img src="./assets/images/kv_img.png" alt="MEOモデル" />
      <div class="p-kv_stampImg__pc">
        <img src="./assets/images/icon_stamp_01.png" alt="ribbon" />
      </div>
    </div>
  </div>
  <div class="p-kv_stampImg">
    <img src="./assets/images/icon_stamp_01.png" alt="ribbon" />
  </div>
</div>

<section class="c-section jsc-elem-point">
  <h2 class="c-title">こんなお悩みありませんか？</h2>
  <div class="p-trouble_content">
    <ul class="p-trouble_list">
      <li>
        <p class="p-trouble-text">
          ポータルサイトの<br class="u-hidden-o_sp" /><span
            >費用対効果がイマイチ</span
          >
        </p>
      </li>
      <li>
        <p class="p-trouble-text">
          <span>周辺に競合が多く</span>、<br
            class="u-hidden-o_sp"
          />集客がうまくいってない
        </p>
      </li>
      <li>
        <p class="p-trouble-text">
          SEO対策よりも<br class="u-hidden-o_sp" /><span
            >訴求効果の高い施策</span
          >を探している
        </p>
      </li>
    </ul>
    <ul class="p-trouble_list u-mt-22__sp">
      <li>
        <p class="p-trouble-text">
          <span>スマートフォンユーザーの集客</span>が<br
            class="u-hidden-o_sp"
          />うまくいっていない
        </p>
      </li>
      <li>
        <p class="p-trouble-text">
          <span>成果報酬型</span>の広告や集客ツールを<br
            class="u-hidden-o_sp"
          />探している
        </p>
      </li>
      <li>
        <p class="p-trouble-text">
          お店を知っている人が少なく、<br class="u-hidden-o_sp" /><span
            >なかなか見つけてもらえない</span
          >
        </p>
      </li>
    </ul>
  </div>
</section>
<div class="p-solution jsc-elem-to">
  <div class="p-solution-img u-hidden-u_sp">
    <img src="./assets/images/Solution.png" alt="MEOで解決できます" />
  </div>
  <div class="p-solution-img u-hidden-o_sp">
    <img src="./assets/images/Solution_sp.png" alt="MEOで解決できます" />
  </div>
</div>
<section class="c-section jsc-elem-to" data-scroll="when">
  <h2 class="c-title">MEOとは？</h2>
  <p class="c-text">
    MEOは、Map
    EngineOptimization（マップ・エンジン・オプティマイゼーション）の略称で、<br
      class="u-hidden-u_sp"
    />Googleの検索結果で上位表示されるように最適化することです。<br
      class="u-hidden-u_sp"
    />「地域名＋業種」で検索した場合、その地域に該当する店舗情報が検索結果の上位3枠に表示されます。
  </p>
  <div class="p-when-content">
    <div class="p-when-search">
      <img src="./assets/images/when_search.png" alt="検索" />
    </div>
    <div class="p-when-arrow u-hidden-u_sp">
      <img src="./assets/images/icon_arrow_left.svg" alt="arrow" />
    </div>
    <div class="p-when-arrow u-hidden-o_sp">
      <img src="./assets/images/icon_arrow_bottom_sp.svg" alt="arrow" />
    </div>
    <div class="p-when-saito">
      <img src="./assets/images/when_saito.png" alt="MEOの例" />
    </div>
  </div>
</section>
<section class="c-section_bg">
  <h2 class="c-title">MEOの必要性</h2>
  <p class="c-text">
    今までチラシやグルメ雑誌でお店を調べていましたが、インターネットの高速化とスマートフォンの普及により、<br
      class="u-hidden-u_sp"
    />お店をその場ですぐに検索できるようになりました。<br
      class="u-hidden-u_sp"
    />スマートフォン利用者数は半数を超え、さらに検索エンジンのシェアはグーグルが7割を占めている現在、<br
      class="u-hidden-u_sp"
    />MEO対策をすることによってインターネット利用者の一番大きな市場に対して集客の対策ができます。<br
      class="u-hidden-u_sp"
    />そのため、MEO対策をすることは店舗集客で必要不可欠になってきました。
  </p>
  <div class="p-necessary-content">
    <div class="p-necessary-img">
      <img
        src="./assets/images/necessary_01.png"
        class="u-hidden-u_sp"
        alt="インターネット利用機器の状況（個人）"
      />
      <img
        src="./assets/images/necessary_01__sp.png"
        class="u-hidden-o_sp"
        alt="インターネット利用機器の状況（個人）"
      />
    </div>
    <div class="p-necessary-img">
      <img
        src="./assets/images/necessary_02.png"
        class="u-hidden-u_sp"
        alt="モバイル検索エンジン市場"
      />
      <img
        src="./assets/images/necessary_02__sp.png"
        class="u-hidden-o_sp"
        alt="モバイル検索エンジン市場"
      />
    </div>
  </div>
</section>
<section class="c-section jsc-elem-to" data-scroll="merit">
  <h2 class="c-title">MEOのメリット</h2>
  <ul class="p-merit">
    <li class="p-merit-item">
      <div>
        <img src="./assets/images/merit_01.png" alt="検索上位に表示される" />
      </div>
      <p class="c-title-merit">検索上位に表示される</p>
      <p class="c-text-merit">
        ユーザーは表示順位を重要視し、上位表示に対してはメジャーブランドという認識を持つので、好印象を与えることができます。またMEOの表示枠は<span>SEOよりも上になっているので、上位表示された場合はSEOよりもたくさんの人に見てもらうことができ</span>、SEOよりも集客効果を発揮しやすいです。
      </p>
    </li>
    <li class="p-merit-item">
      <div>
        <img src="./assets/images/merit_02.png" alt="比較対象が減る" />
      </div>
      <p class="c-title-merit">比較対象が減る</p>
      <p class="c-text-merit">
        <span>拠点を構える実店舗のみが対象</span
        >となるので、競合が少なくなります。また上位表示枠は3件と限られているので、上位表示された場合は、他施策と比べても比較検討される数は少なく、選ばれる可能性が高くなります。
      </p>
    </li>
    <li class="p-merit-item">
      <div>
        <img src="./assets/images/merit_03.png" alt="SEOよりMEO！" />
      </div>
      <p class="c-title-merit">SEOよりMEO！</p>
      <p class="c-text-merit">
        MEOはSEOやリスティング広告、各種媒体のWeb集客に比べて比較的<span>低予算</span>で始めることができ、<span>短期間で効果が出やすい</span>です。また広告ではないためユーザーからの信頼も高く、クリック率もいいと言えます。
      </p>
    </li>
    <li class="p-merit-item">
      <div>
        <img src="./assets/images/merit_04.png" alt="予約や来店に繋げやすい" />
      </div>
      <p class="c-title-merit">予約や来店に繋げやすい</p>
      <p class="c-text-merit">
        表示店舗をタップすると、<span>店舗情報やウェブサイトの閲覧、グーグルマップで店舗までの経路検索、電話で問い合わせが簡単にできる</span>ので、　ユーザーは予約や来店といったアクションに移しやすくなっています。
      </p>
    </li>
    <li class="p-merit-item">
      <div>
        <img src="./assets/images/merit_05.png" alt="実店舗に最適" />
      </div>
      <p class="c-title-merit">実店舗に最適</p>
      <p class="c-text-merit">
        Googleにはベニスアップデートという、ユーザーの位置情報を自動的に検知し、<span>周辺地域の情報を検索結果に反映してくれる機能</span>があります。これにより検索ワードに地域名を入れなくても、位置情報に応じて現在地に最適化された検索結果が表示されます。
      </p>
    </li>
    <li class="p-merit-item">
      <div>
        <img src="./assets/images/merit_06.png" alt="外国人観光客にも対応可" />
      </div>
      <p class="c-title-merit">外国人観光客にも対応可</p>
      <p class="c-text-merit">
        GoogleMapは<span>ユーザーが使用している言語で地域情報を提供</span>してくれるので、旅行者にとって優しく使いやすいサービスです。また<span>海外でもGoogleMapを使用しているユーザーは多く</span>、来日した際にもGoogleMapを使用すると考えられるので、外国人観光客に向けて対策するにはMEOは最適であると言えます。
      </p>
    </li>
  </ul>
</section>
<section class="c-section_bg jsc-elem-to" data-scroll="reason">
  <h2 class="c-title">当社が選ばれる3つの理由</h2>
  <ul class="p-reason-list">
    <li class="p-reason-list__item">
      <div class="p-reason-img">
        <img src="./assets/images/sono1.svg" alt="その１" />
      </div>
      <p class="p-reason-subText">初期費用なし！リスクなし！</p>
      <p class="p-reason-text">完全<br class="u-hidden-u_sp" />成功報酬</p>
    </li>
    <li class="p-reason-list__item">
      <div class="p-reason-img">
        <img src="./assets/images/sono2.svg" alt="その２" />
      </div>
      <p class="p-reason-subText">導入実績<span>1000</span>店舗以上</p>
      <p class="p-reason-text">豊富な実績</p>
    </li>
    <li class="p-reason-list__item">
      <div class="p-reason-img">
        <img src="./assets/images/sono3.svg" alt="その３" />
      </div>
      <p class="p-reason-subText">
        <span>電話</span>or<span>オンライン</span>で
      </p>
      <p class="p-reason-text">全国<br class="u-hidden-u_sp" />対応可能</p>
    </li>
  </ul>
</section>
<section class="c-section">
  <h2 class="c-title">他社MEOサービスとの比較</h2>
  <div class="p-service-tebleWrap">
    <div class="p-service-teble">
      <div class="p-service-teble__row__top">
        <div class="p-service-teble__title"></div>
        <div class="p-service-teble__meo">
          <img src="./assets/images/logo_black.svg" alt="logo" />
        </div>
        <div class="p-service-teble__title">
          <p>A社</p>
        </div>
        <div class="p-service-teble__title">
          <p>B社</p>
        </div>
      </div>
      <div class="p-service-teble__row">
        <div class="p-service-teble__item__heading__1line">
          <p>費用</p>
        </div>
        <div class="p-service-teble__meo__fee">
          <p>
            成功報酬<br class="u-hidden-o_sp" />
            600円〜/日
          </p>
        </div>
        <div class="p-service-teble__item__fee">
          <p>
            成功報酬<br class="u-hidden-o_sp" />
            1,000円/日
          </p>
        </div>
        <div class="p-service-teble__item__fee">
          <p>
            成功報酬<br class="u-hidden-o_sp" />
            1,200円/日
          </p>
        </div>
      </div>
      <div class="p-service-teble__row">
        <div class="p-service-teble__item__heading">
          <p>対策<br class="u-hidden-o_sp" />キーワード数</p>
        </div>
        <div class="p-service-teble__meo">
          <p>4</p>
        </div>
        <div class="p-service-teble__item">
          <p>4</p>
        </div>
        <div class="p-service-teble__item">
          <p>4</p>
        </div>
      </div>
      <div class="p-service-teble__row">
        <div class="p-service-teble__item__heading">
          <p>順位<br class="u-hidden-o_sp" />チェックツール</p>
        </div>
        <div class="p-service-teble__meo">
          <p>独自ツール</p>
        </div>
        <div class="p-service-teble__item">
          <p>なし</p>
        </div>
        <div class="p-service-teble__item">
          <p>あり</p>
        </div>
      </div>
      <div class="p-service-teble__row">
        <div class="p-service-teble__item__heading__1line">
          <p>専属担当者</p>
        </div>
        <div class="p-service-teble__meo">
          <p>あり</p>
        </div>
        <div class="p-service-teble__item">
          <p>なし</p>
        </div>
        <div class="p-service-teble__item">
          <p>なし</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="c-section_bg jsc-elem-to" data-scroll="increase">
  <h2 class="c-title">
    MEO対策後は<br class="u-hidden-o_sp" />上位表示回数が増加
  </h2>
  <div class="p-increase-flexWrap">
    <div class="p-increase-flex">
      <div class="p-increase-flex-item">
        <img
          src="./assets/images/increase_01.png"
          class="u-hidden-u_sp"
          alt="新宿にある飲食店様"
        />
        <img
          src="./assets/images/increase_01__sp.png"
          class="u-hidden-o_sp"
          alt="新宿にある飲食店様"
        />
      </div>
      <div class="p-increase-flex-item">
        <img
          src="./assets/images/increase_02.png"
          class="u-hidden-u_sp"
          alt="銀座にあるマッサージ店様"
        />
        <img
          src="./assets/images/increase_02__sp.png"
          class="u-hidden-o_sp"
          alt="銀座にあるマッサージ店様"
        />
      </div>
    </div>
    <div class="p-increase-flex">
      <div class="p-increase-flex-item">
        <img
          src="./assets/images/increase_03.png"
          class="u-hidden-u_sp"
          alt="新宿にある飲食店様"
        />
        <img
          src="./assets/images/increase_03__sp.png"
          class="u-hidden-o_sp"
          alt="新宿にある飲食店様"
        />
      </div>
      <div class="p-increase-flex-item">
        <img
          src="./assets/images/increase_04.png"
          class="u-hidden-u_sp"
          alt="銀座にあるマッサージ店様"
        />
        <img
          src="./assets/images/increase_04__sp.png"
          class="u-hidden-o_sp"
          alt="銀座にあるマッサージ店様"
        />
      </div>
    </div>
  </div>
</section>
<section class="c-section">
  <h2 class="c-title">
    「地域名+業種」などの<br class="u-hidden-o_sp" />間接検索が急増
  </h2>
  <p class="c-text">
    店名以外の、駅名、業種等での検索数が大幅にアップしています。
  </p>
  <div class="p-display">
    <img
      src="./assets/images/transition.png"
      class="u-hidden-u_sp"
      alt="合計表示回数の推移"
    />
    <img
      src="./assets/images/transition__sp.png"
      class="u-hidden-o_sp"
      alt="合計表示回数の推移"
    />
  </div>
</section>
<section class="c-section_bg">
  <h2 class="c-title">1ヶ月のユーザー行動の変化</h2>
  <div class="p-change">
    <ul class="p-change-flex">
      <li class="p-change-item">
        <img src="./assets/images/change_01.png" class="u-hidden-u_sp" alt="PV" />
        <img
          src="./assets/images/change_01__sp.png"
          class="u-hidden-o_sp"
          alt="PV"
        />
      </li>
      <li class="p-change-item">
        <img
          src="./assets/images/change_02.png"
          class="u-hidden-u_sp"
          alt="来客数"
        />
        <img
          src="./assets/images/change_02__sp.png"
          class="u-hidden-o_sp"
          alt="来客数"
        />
      </li>
      <li class="p-change-item">
        <img
          src="./assets/images/change_03.png"
          class="u-hidden-u_sp"
          alt="問い合わせ"
        />
        <img
          src="./assets/images/change_03__sp.png"
          class="u-hidden-o_sp"
          alt="問い合わせ"
        />
      </li>
    </ul>
  </div>
</section>
<section class="c-section">
  <h2 class="c-title">お客様の声</h2>
  <div class="p-voice u-hidden-u_sp">
    <div class="p-voice-item">
      <div class="p-voice-item__img__01">
        <img src="./assets/images/voice_01.jpg" alt="お客様の声_01" />
      </div>
      <div class="p-voice-item__textWrap__01">
        <p class="p-voice-item__title">
          代官山 イタリアンレストランオーナー A様
        </p>
        <p class="p-voice-item__text">
          店舗の予算が限られている中でSEOやポータルサイトで集客をするには限界はあると感じていたので、MEO対策に切り替えることにしました。MEOドットコムの対策は<span>初期費用なし</span>だったので、気軽に始めることができました。またSEOやポータルサイトと違い、<span>完全成功報酬</span>なので費用対効果は高く、効率的な集客することができています。
        </p>
      </div>
    </div>
    <div class="p-voice-item">
      <div class="p-voice-item__textWrap__02">
        <p class="p-voice-item__title">
          自由が丘 ネイルサロンオーナー M様
        </p>
        <p class="p-voice-item__text">
          集客目的でMEO対策を始めましたが、施策を行っていく中で、店舗のブランドをしっかり固めることができ、<span>ブランディング効果</span>もありました。そのおかげもあり、ここで働きたいと<span>採用のお問い合わせもいただける</span>ようになり、集客以外の部分でも大いに効果を感じることができました。
        </p>
      </div>
      <div class="p-voice-item__img__02">
        <img src="./assets/images/voice_02.jpg" alt="お客様の声_02" />
      </div>
    </div>
  </div>
  <div class="p-voice u-hidden-o_sp">
    <div class="p-voice-item">
      <div class="p-voice-item__img__01">
        <img src="./assets/images/voice_01.jpg" alt="お客様の声_01" />
      </div>
      <div class="p-voice-item__textWrap__01">
        <p class="p-voice-item__title">
          代官山 イタリアンレストランオーナー A様
        </p>
        <p class="p-voice-item__text">
          店舗の予算が限られている中でSEOやポータルサイトで集客をするには限界はあると感じていたので、MEO対策に切り替えることにしました。MEOドットコムの対策は<span>初期費用なし</span>だったので、気軽に始めることができました。またSEOやポータルサイトと違い、<span>完全成功報酬</span>なので費用対効果は高く、効率的な集客することができています。
        </p>
      </div>
    </div>
    <div class="p-voice-item">
      <div class="p-voice-item__img__02">
        <img src="./assets/images/voice_02.jpg" alt="お客様の声_02" />
      </div>
      <div class="p-voice-item__textWrap__02">
        <p class="p-voice-item__title">
          自由が丘 ネイルサロンオーナー M様
        </p>
        <p class="p-voice-item__text">
          集客目的でMEO対策を始めましたが、施策を行っていく中で、店舗のブランドをしっかり固めることができ、<span>ブランディング効果</span>もありました。そのおかげもあり、ここで働きたいと<span>採用のお問い合わせもいただける</span>ようになり、集客以外の部分でも大いに効果を感じることができました。
        </p>
      </div>
    </div>
  </div>
</section>
<section class="c-section_bg">
  <h2 class="c-title">施策内容</h2>
  <div class="p-measure">
    <div class="p-measure-flex">
      <div class="p-measure-item">
        <p class="p-measure-title">内部対策</p>
        <p class="p-measure-text">
          各種設定で店名・紹介文・マップカテゴリー・
          店舗URL・掲載写真などを整備し、店舗情報を充実させていきます。
        </p>
      </div>
      <div class="p-measure-icon">
        <img src="./assets/images/icon_plus.svg" alt="プラス" />
      </div>
      <div class="p-measure-item">
        <p class="p-measure-title">外部対策</p>
        <p class="p-measure-text">
          電話番号や住所などの店舗の情報を関連サイトやブログに載せてもらう外部対策を行い、Googleからの評価を高めていきます。
        </p>
      </div>
    </div>
    <div class="p-measure-icon_arrow">
      <img src="./assets/images/icon_arrow_bottom.svg" alt="arrow" />
    </div>
    <h3 class="c-title-bottom">継続的な上位表示が可能に！</h3>
  </div>
</section>
<section class="c-section jsc-elem-to" data-scroll="business">
  <h2 class="c-title">対象業種</h2>
  <div class="p-business">
    <div class="p-business-grid">
      <div class="p-business-grid__item">
        <p class="p-business-grid__title">飲食</p>
        <p class="p-business-grid__text">カフェ / 焼肉 / 寿司 / ラーメン</p>
      </div>
      <div class="p-business-grid__item">
        <p class="p-business-grid__title">宿泊</p>
        <p class="p-business-grid__text">ホテル / 旅館 / 民泊</p>
      </div>
      <div class="p-business-grid__item">
        <p class="p-business-grid__title">健康</p>
        <p class="p-business-grid__text">整体 / マッサージ / ジム</p>
      </div>
      <div class="p-business-grid__item">
        <p class="p-business-grid__title">美容</p>
        <p class="p-business-grid__text">美容室 / ネイル / エステサロン</p>
      </div>
      <div class="p-business-grid__item">
        <p class="p-business-grid__title">医療</p>
        <p class="p-business-grid__text">歯医者 / 皮膚科 / 内科</p>
      </div>
      <div class="p-business-grid__item">
        <p class="p-business-grid__title">リフォーム</p>
        <p class="p-business-grid__text">DIY / 雑貨店 / 暮らしのサポート</p>
      </div>
      <div class="p-business-grid__item">
        <p class="p-business-grid__title">スポーツ</p>
        <p class="p-business-grid__text">ゴルフ場 / サッカー場 / 野球場</p>
      </div>
      <div class="p-business-grid__item">
        <p class="p-business-grid__title">学び</p>
        <p class="p-business-grid__text">学習塾 / 料理教室 / カメラ教室</p>
      </div>
    </div>
    <p class="p-business-sub">etc.</p>
  </div>
  <div class="c-title-bottom__sub">
    <p>
      下記の業種以外にも幅広い業種で対応可能です。まずはお気軽にお問い合わせください。
    </p>
  </div>
</section>
<section class="c-section_bg jsc-elem-to" data-scroll="fee">
  <h2 class="c-title">料金</h2>
  <div class="p-fee">
    <div class="p-fee-img u-hidden-u_sp">
      <img src="./assets/images/money_pc.png" alt="料金" />
    </div>
    <div class="u-hidden-o_sp">
      <img src="./assets/images/money_sp.png" alt="料金" />
    </div>
    <div class="p-fee-textWrap">
      <div class="p-fee-text">
        <p>対策キーワード数</p>
        <p><span>4キーワード</span></p>
      </div>
      <div class="p-fee-text">
        <p>契約期間</p>
        <p><span>12ヶ月間。</span>その後は毎月自動更新。</p>
      </div>
      <div class="p-fee-text">
        <p>支払い方法</p>
        <p>
          成果が発生した日を毎月月末に算出、翌月28日一括払い。
        </p>
      </div>
    </div>
    <div class="p-fee-icon">
      <img src="./assets/images/icon_stamp_02.png" alt="スタンプ" />
    </div>
  </div>
  <div class="c-title-bottom__sub">
    <p>
      金額はエリア・業種により異なります。まずはお気軽にお問い合わせください。
    </p>
  </div>
</section>
<section class="c-section jsc-elem-to" data-scroll="step">
  <h2 class="c-title">ご利用の流れ</h2>
  <ul class="p-step">
    <li class="p-step-item">
      <div class="p-step-img">
        <img
          src="./assets/images/step_01.png"
          class="u-hidden-u_sp"
          alt="お問い合わせ"
        />
        <img
          src="./assets/images/step_01__sp.png"
          class="u-hidden-o_sp"
          alt="お問い合わせ"
        />
      </div>
      <div>
        <p class="p-step-title">お問い合わせ</p>
        <p class="p-step-text">
          Web商談で<br class="u-hidden-u_sp" />全国対応可能
        </p>
      </div>
    </li>
    <li class="p-step-arrow">
      <img
        src="./assets/images/icon_arrow_step.svg"
        alt="arrow"
        class="u-hidden-u_sp"
      />
      <img
        src="./assets/images/icon_arrow_step_bottom.svg"
        alt="arrow"
        class="u-hidden-o_sp"
      />
    </li>
    <li class="p-step-item">
      <div class="p-step-img">
        <img
          src="./assets/images/step_02.png"
          class="u-hidden-u_sp"
          alt="お問い合わせ"
        />
        <img
          src="./assets/images/step_02__sp.png"
          class="u-hidden-o_sp"
          alt="お問い合わせ"
        />
      </div>
      <div>
        <p class="p-step-title">ご依頼・ご提案</p>
        <p class="p-step-text">
          お客様にあった<br class="u-hidden-u_sp" />
          キーワードを<br class="u-hidden-u_sp" />
          選定します
        </p>
      </div>
    </li>
    <li class="p-step-arrow">
      <img
        src="./assets/images/icon_arrow_step.svg"
        alt="arrow"
        class="u-hidden-u_sp"
      />
      <img
        src="./assets/images/icon_arrow_step_bottom.svg"
        alt="arrow"
        class="u-hidden-o_sp"
      />
    </li>
    <li class="p-step-item">
      <div class="p-step-img">
        <img
          src="./assets/images/step_03.png"
          class="u-hidden-u_sp"
          alt="お問い合わせ"
        />
        <img
          src="./assets/images/step_03__sp.png"
          class="u-hidden-o_sp"
          alt="お問い合わせ"
        />
      </div>
      <div>
        <p class="p-step-title">お見積もり</p>
        <p class="p-step-text">
          成果が出た後の<br class="u-hidden-u_sp" />
          金額シュミレーションを<br class="u-hidden-u_sp" />
          お出しします
        </p>
      </div>
    </li>
    <li class="p-step-arrow">
      <img
        src="./assets/images/icon_arrow_step.svg"
        alt="arrow"
        class="u-hidden-u_sp"
      />
      <img
        src="./assets/images/icon_arrow_step_bottom.svg"
        alt="arrow"
        class="u-hidden-o_sp"
      />
    </li>
    <li class="p-step-item">
      <div class="p-step-img">
        <img
          src="./assets/images/step_04.png"
          class="u-hidden-u_sp"
          alt="お問い合わせ"
        />
        <img
          src="./assets/images/step_04__sp.png"
          class="u-hidden-o_sp"
          alt="お問い合わせ"
        />
      </div>
      <p class="p-step-title">ご契約</p>
    </li>
    <li class="p-step-arrow">
      <img
        src="./assets/images/icon_arrow_step.svg"
        alt="arrow"
        class="u-hidden-u_sp"
      />
      <img
        src="./assets/images/icon_arrow_step_bottom.svg"
        alt="arrow"
        class="u-hidden-o_sp"
      />
    </li>
    <li class="p-step-item">
      <div class="p-step-img">
        <img
          src="./assets/images/step_05.png"
          class="u-hidden-u_sp"
          alt="お問い合わせ"
        />
        <img
          src="./assets/images/step_05__sp.png"
          class="u-hidden-o_sp"
          alt="お問い合わせ"
        />
      </div>
      <p class="p-step-title">運用開始</p>
    </li>
  </ul>
</section>
<section class="c-section_bg jsc-elem-to" data-scroll="contact">
  <div class="p-contact-contact">
    <div class="p-contact-contact__inner">
      <h2 class="c-title">お問い合わせ</h2>
      <div id="contact">
        <form class="p-contact-contact__form" action="#">
          <p class="p-contact-title">お名前</p>
          <p
            class="p-contact-contact__input p-contact-contact__input_margin"
            v-bind:class="{'is-error': !form.name.validation && touched}"
            data-error="お名前を入力してください"
          >
            <input
              type="text"
              maxlength="50"
              v-model="form.name.val"
              placeholder="お名前"
            />
          </p>
          <p class="p-contact-title p-contact-title_margin">会社名(任意)</p>
          <p
            class="p-contact-contact__input p-contact-contact__input_margin"
            v-bind:class="{'is-error': !form.company.validation && touched}"
            data-error="企業名を入力してください"
          >
            <input
              type="text"
              maxlength="50"
              v-model="form.company.val"
              placeholder="株式会社FAM"
            />
          </p>
          <p class="p-contact-title p-contact-title_margin">メールアドレス</p>
          <p
            class="p-contact-contact__input p-contact-contact__input_margin"
            v-bind:class="{'is-error': !form.email.validation && touched}"
            data-error="メールアドレスを入力してください"
          >
            <input
              type="email"
              maxlength="50"
              v-model="form.email.val"
              placeholder="sample@fam.jp"
            />
          </p>
          <p class="p-contact-title p-contact-title_margin">電話番号</p>
          <p
            class="p-contact-contact__input p-contact-contact__input_margin"
            v-bind:class="{'is-error': !form.tel.validation && touched}"
            data-error="電話番号を入力してください"
          >
            <input
              type="tel"
              maxlength="13"
              v-model="form.tel.val"
              placeholder="09012345678"
            />
          </p>
          <p class="p-contact-title p-contact-title_margin">お問い合わせ内容</p>
          <p
            class="p-contact-contact__textarea p-contact-contact__input_margin"
            v-bind:class="{'is-error': !form.content.validation && touched}"
            data-error="詳細を入力してください"
          >
            <textarea
              type="textArea"
              v-model="form.content.val"
              maxlength="500"
              placeholder="ご希望のキーワードなどございましたら、こちらにご記入ください。"
            ></textarea>
          </p>
          <p class="p-contact-title p-contact-title_margin">
            個人情報の取扱いについて
          </p>
          <div class="p-contact-title_puraWrap p-contact-contact__input_margin">
            <div class="p-contac-pura_textWrap">
              <p class="p-contac-pura_text">
                株式会社FAM（以下、「当社」といいます。）は、本ウェブサイト上で提供するサービス（以下、「本サービス」といいます。）におけるプライバシー情報の取扱いについて、以下のとおりプライバシーポリシー（以下、「本ポリシー」といいます。）を定めます。<br /><br />
                第1条（プライバシー情報）<br />
                プライバシー情報のうち「個人情報」とは、個人情報保護法にいう「個人情報」を指すものとし、生存する個人に関する情報であって、当該情報に含まれる氏名、生年月日、住所、電話番号、連絡先その他の記述等により特定の個人を識別できる情報を指します。<br />
                プライバシー情報のうち「履歴情報および特性情報」とは、上記に定める「個人情報」以外のものをいい、ご利用いただいたサービスやご購入いただいた商品、ご覧になったページや広告の履歴、ユーザーが検索された検索キーワード、ご利用日時、ご利用の方法、ご利用環境、郵便番号や性別、職業、年齢、ユーザーのIPアドレス、クッキー情報、位置情報、端末の個体識別情報などを指します。<br /><br />
                第２条（プライバシー情報の収集方法）<br />
                当社は、ユーザーが利用登録をする際に氏名、生年月日、住所、電話番号、メールアドレス、銀行口座番号、クレジットカード番号、運転免許証番号などの個人情報をお尋ねすることがあります。また、ユーザーと提携先などとの間でなされたユーザーの個人情報を含む取引記録や、決済に関する情報を当社の提携先（情報提供元、広告主、広告配信先などを含みます。以下、｢提携先｣といいます。）などから収集することがあります。<br />
                当社は、ユーザーについて、利用したサービスやソフトウエア、購入した商品、閲覧したページや広告の履歴、検索した検索キーワード、利用日時、利用方法、利用環境（携帯端末を通じてご利用の場合の当該端末の通信状態、利用に際しての各種設定情報なども含みます）、IPアドレス、クッキー情報、位置情報、端末の個体識別情報などの履歴情報および特性情報を、ユーザーが当社や提携先のサービスを利用しまたはページを閲覧する際に収集します。<br /><br />
                第３条（個人情報を収集・利用する目的）<br />
                当社が個人情報を収集・利用する目的は、以下のとおりです。<br />
                （1）ユーザーに自分の登録情報の閲覧や修正、利用状況の閲覧を行っていただくために、氏名、住所、連絡先、支払方法などの登録情報、利用されたサービスや購入された商品、およびそれらの代金などに関する情報を表示する目的<br />
                （2）ユーザーにお知らせや連絡をするためにメールアドレスを利用する場合やユーザーに商品を送付したり必要に応じて連絡したりするため、氏名や住所などの連絡先情報を利用する目的<br />
                （3）ユーザーの本人確認を行うために、氏名、生年月日、住所、電話番号、銀行口座番号、クレジットカード番号、運転免許証番号、配達証明付き郵便の到達結果などの情報を利用する目的<br />
                （4）ユーザーに代金を請求するために、購入された商品名や数量、利用されたサービスの種類や期間、回数、請求金額、氏名、住所、銀行口座番号やクレジットカード番号などの支払に関する情報などを利用する目的<br />
                （5）ユーザーが簡便にデータを入力できるようにするために、当社に登録されている情報を入力画面に表示させたり、ユーザーのご指示に基づいて他のサービスなど（提携先が提供するものも含みます）に転送したりする目的<br />
                （6）代金の支払を遅滞したり第三者に損害を発生させたりするなど、本サービスの利用規約に違反したユーザーや、不正・不当な目的でサービスを利用しようとするユーザーの利用をお断りするために、利用態様、氏名や住所など個人を特定するための情報を利用する目的<br />
                （7）ユーザーからのお問い合わせに対応するために、お問い合わせ内容や代金の請求に関する情報など当社がユーザーに対してサービスを提供するにあたって必要となる情報や、ユーザーのサービス利用状況、連絡先情報などを利用する目的<br />
                （8）上記の利用目的に付随する目的<br /><br />
                第４条（個人情報の第三者提供）<br />
                当社は、次に掲げる場合を除いて、あらかじめユーザーの同意を得ることなく、第三者に個人情報を提供することはありません。ただし、個人情報保護法その他の法令で認められる場合を除きます。
                （1）法令に基づく場合<br />
                （2）人の生命、身体または財産の保護のために必要がある場合であって、本人の同意を得ることが困難であるとき<br />
                （3）公衆衛生の向上または児童の健全な育成の推進のために特に必要がある場合であって、本人の同意を得ることが困難であるとき<br />
                （4）国の機関もしくは地方公共団体またはその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって、本人の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき<br />
                （5）予め次の事項を告知あるいは公表をしている場合<br />
                利用目的に第三者への提供を含むこと<br />
                第三者に提供されるデータの項目 第三者への提供の手段または方法<br />
                本人の求めに応じて個人情報の第三者への提供を停止すること<br />
                前項の定めにかかわらず、次に掲げる場合は第三者には該当しないものとします。<br />
                （1）当社が利用目的の達成に必要な範囲内において個人情報の取扱いの全部または一部を委託する場合<br />
                （2）合併その他の事由による事業の承継に伴って個人情報が提供される場合<br />
                （3）個人情報を特定の者との間で共同して利用する場合であって、その旨並びに共同して利用される個人情報の項目、共同して利用する者の範囲、利用する者の利用目的および当該個人情報の管理について責任を有する者の氏名または名称について、あらかじめ本人に通知し、または本人が容易に知り得る状態に置いているとき<br /><br />
                第５条（個人情報の開示）<br />
                当社は、本人から個人情報の開示を求められたときは、本人に対し、遅滞なくこれを開示します。ただし、開示することにより次のいずれかに該当する場合は、その全部または一部を開示しないこともあり、開示しない決定をした場合には、その旨を遅滞なく通知します。なお、個人情報の開示に際しては、１件あたり１，０００円の手数料を申し受けます。<br />
                （1）本人または第三者の生命、身体、財産その他の権利利益を害するおそれがある場合<br />
                （2）当社の業務の適正な実施に著しい支障を及ぼすおそれがある場合<br />
                （3）その他法令に違反することとなる場合<br />
                前項の定めにかかわらず、履歴情報および特性情報などの個人情報以外の情報については、原則として開示いたしません。<br /><br />
                第６条（個人情報の訂正および削除）<br />
                ユーザーは、当社の保有する自己の個人情報が誤った情報である場合には、当社が定める手続きにより、当社に対して個人情報の訂正または削除を請求することができます。<br />
                当社は、ユーザーから前項の請求を受けてその請求に応じる必要があると判断した場合には、遅滞なく、当該個人情報の訂正または削除を行い、これをユーザーに通知します。<br /><br />
                第７条（個人情報の利用停止等）<br />
                当社は、本人から、個人情報が、利用目的の範囲を超えて取り扱われているという理由、または不正の手段により取得されたものであるという理由により、その利用の停止または消去（以下、「利用停止等」といいます。）を求められた場合には、遅滞なく必要な調査を行い、その結果に基づき、個人情報の利用停止等を行い、その旨本人に通知します。ただし、個人情報の利用停止等に多額の費用を有する場合その他利用停止等を行うことが困難な場合であって、本人の権利利益を保護するために必要なこれに代わるべき措置をとれる場合は、この代替策を講じます。<br /><br />
                第８条（プライバシーポリシーの変更）<br />
                本ポリシーの内容は、ユーザーに通知することなく、変更することができるものとします。<br />
                当社が別途定める場合を除いて、変更後のプライバシーポリシーは、本ウェブサイトに掲載したときから効力を生じるものとします。<br /><br />
                第９条（お問い合わせ窓口）<br />
                本ポリシーに関するお問い合わせは、下記の窓口までお願いいたします。<br /><br />
                社名： 株式会社FAM<br />
                Eメールアドレス：meo.com@fam-t.co.jp
              </p>
            </div>
            <p>
              <label
                class="p-contact-title_pura"
                v-bind:class="{'is-error': !checkBox && touched}"
                data-error="同意するにチェックを入れてください"
              >
                <input
                  type="checkbox"
                  name="check"
                  id="checkbox"
                  v-model="checkBox"
                /><span class="p-contact-pura__box"></span>
              </label>
            </p>
          </div>
          <a
            class="p-contact-btn"
            onClick="ga('send','event','cv','click','contact_btn');"
            v-bind:class="{ 'is-active': checkBox && validation }"
            v-on:click="test();"
            id="submit"
            >送信する
          </a>
        </form>
      </div>
    </div>
  </div>
</section>

<footer class="l-footer">
  <div class="l-footer-inner">
    <div class="l-footer-left">
      <div class="l-footer-logo">
        <img src="/meo.com/assets/images/logo_black.svg" alt="logo">
      </div>
      <div class="l-footer-company u-fs-12">
        <a href="http://www.fam-t.co.jp/about.html" target="_blank">運営会社</a>
      </div>
    </div>
    <p class="l-footer-copy u-fs-10">&copy;2019 FAM All rights reserved.</p>
  </div>
</footer>
</div><!-- l-wrap -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script type="text/javascript" src="assets/javascripts/bundlea69a18ecbabee598ef27.js"></script></body>
</html>
