@use "../../functions"as *;
@use "../J_functions"as *;

/* -----------------------
  C_CVT
----------------------- */

.C_CVT {
  @include imgCover("CVT_BK.jpg");
  position: relative;

  @include pc {
    padding: pm(160) 0 pm(100);
    background-position: center top 35%;
  }

  @include sp {
    padding: s(71) 0 s(17);
    background-position: left 30% bottom 30%;
    background-size: 150%;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.80);
  }

  .btn__wapper {
    position: relative;
    z-index: 2;
    width: fit-content;
    margin: 0 auto;

    .arch-text {
      position: absolute;

      @include pc {
        bottom: calc(100% - pm(12));
        left: pm(14);
      }

      @include sp {
        bottom: calc(100% - s(7));
        left: s(2);
      }

      .TX {

        img {
          @include pc {
            width: pm(549);
          }

          @include sp {
            width: s(314);
          }
        }
      }
    }

    .cta-parson {
      position: absolute;
      z-index: 10;

      &.cta-parson-01 {
        @include imgContain("cta-parson01.png");

        @include pc {
          width: p(246);
          height: p(260);
          top: p(-173);
          right: p(-23);

        }
        @include sp{
          width: s(110);
          height: s(116);
          top: s(-56);
          right: s(-30);
        }
        @media screen and (min-width: 768px) and (max-width: 930px) {
          top: p(-190);
        }
      }

      &.cta-parson-02 {
        @include imgContain("cta-parson02.png");
        aspect-ratio: 1/1;

        @include pc {
          width: p(198);
          left: 0;
          bottom: p(-77);
        }
        @include sp{
          width: s(91);
          bottom:s(-51);
          left: s(-17);
        }
        @media screen and (min-width: 768px) and (max-width: 930px) {
          bottom: p(-120);
        }
      }

    }
  }

  &.C_CVT_last {
    @include sp {
      padding: s(100) 0 s(20);
      background-position: left 30% bottom 30%;
      background-size: 150%;
    }

    .arch-text {
      @include sp {
        bottom: calc(100% - s(-13));
      }
    }
  }
}