@use "../../functions" as *;
@use "../J_functions" as *;

/* -----------------------
  C_farmer-contents 
----------------------- */

.C_farmer-contents {

  .inner--contents {
    position: relative;

    @include pc {
      padding-bottom: p(40);
    }

    @include sp {
      padding-bottom: s(30);
    }

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      @include iconContain($farm-bk);
      aspect-ratio: 1012 / 801;
      z-index: 1;

      @include pc {
        width: p(1012);
        top: 50%;
      }

      @include sp {
        width: s(430);
        top: 31%;
      }
    }

    &--inner {
      position: relative;
      z-index: 2;

      .text {

        .TX {
          @include vdl;
          line-height: 177.2%;

          @include pc {
            font-size: pm(24);
            letter-spacing: pm(2.4);
          }

          @include sp {
            font-size: s(24);
            letter-spacing: s(2.4);
          }
        }
      }

      .img--wrap {

        .img__frame {

          .img {
            border: solid #FFF;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

            @include pc {
              border-width: p(10);
            }

            @include sp {
              border-width: s(4);
            }
          }
        }
      }

      // top
      .contents--item__top {
        display: flex;

        @include pc {
          margin-bottom: p(118);
          align-items: center;
          justify-content: space-between;
        }

        @include sp {
          margin-bottom: s(44);
          flex-direction: column;
          gap: s(36);
        }

        .text {
          .TX {
            transform: rotate(-4.741deg);
          }
        }

        .img--wrap {

          .img__frame {

            @include sp {
              width: fit-content;
              margin-left: auto;
            }

            .img {
              @include imgCover("C_farmer-contents-item-01.jpg");
              aspect-ratio: 491 / 310;
              transform: rotate(4.518deg);

              @include pc {
                width: p(491);
              }

              @media screen and (max-width: 900px) and (min-width: 768px) {
                width: p(400);
              }

              @include sp {
                width: s(203);
              }
            }
          }
        }
      }

      // middle
      .contents--item__middle {
        display: flex;

        @include pc {
          flex-direction: row-reverse;
          gap: p(37);
          margin-bottom: p(161);
        }

        @include sp {
          margin-bottom: s(114);
          flex-direction: column;
          gap: s(29);
        }

        .text {

          @include pc {
            padding-top: p(59)
          }

          @include sp {
            width: fit-content;
            margin-left: auto;
          }

          .TX {
            transform: rotate(2.628deg);
          }
        }

        .img--wrap {
          position: relative;
          width: fit-content;

          .img__frame {
            position: relative;
            z-index: 3;

            .img {
              transform: rotate(-5.337deg);
              @include imgCover("C_farmer-contents-item-02-1.jpg");
              aspect-ratio: 395 / 523;
              position: relative;

              @include pc {
                width: p(395);
              }

              @media screen and (max-width: 900px) and (min-width: 768px) {
                width: p(320);
              }

              @include sp {
                width: s(183);
              }
            }

            &:nth-child(2) {
              position: absolute;

              @include pc {
                top: calc(100% - p(130));
                left: 94%;
                z-index: 1;
              }

              @include sp {
                top: calc(100% - s(80));
                left: 94%;
                z-index: 4;
              }

              .img {
                transform: rotate(7.836deg);
                @include imgCover("C_farmer-contents-item-02-2.jpg");
                aspect-ratio: 354 / 236;

                @include pc {
                  width: p(354);
                }

                @media screen and (max-width: 900px) and (min-width: 768px) {
                  width: p(260);
                }

                @include sp {
                  width: s(163);
                }

                &::before,
                &::after {
                  content: "";
                  position: absolute;
                  transform: rotate(-162.16deg);
                  aspect-ratio: 77.167 / 98.591;
                  @include imgContain("C_farmer-contents-item-berry.png");
                  right: 15%;

                  @include pc {
                    top: -41%;
                    width: p(77.167);
                  }

                  @media screen and (max-width: 900px) and (min-width: 768px) {
                    width: p(50);
                  }

                  @include sp {
                    top: -35%;
                    width: s(32);
                  }
                }

                &::after {
                  transform: rotate(-5.8deg) scale(1, -1);
                  right: 30%;

                  @include pc {
                    top: -70%;
                    width: p(62);
                  }

                  @media screen and (max-width: 900px) and (min-width: 768px) {
                    width: p(40);
                  }

                  @include sp {
                    top: -65%;
                    width: s(26);
                  }
                }
              }
            }
          }
        }
      }

      // bottom
      .contents--item__bottom {

        .text {

          @include sp {
            text-align: center;
          }

          .TX {
            transform: rotate(-5.357deg);

            &-color {
              color: #E1231D;
              display: inline-block;
              position: relative;

              @include pc {
                font-size: pm(42);
                letter-spacing: pm(4.2);
                margin-left: calc(pm(20) * -1);
                padding-top: pm(10);
              }

              @include sp {
                font-size: s(27);
                letter-spacing: s(2.7);
                padding-top: s(10);
                white-space: nowrap;
                position: relative;
                left: 50%;
                transform: translateX(-50%);
              }

              .star-icon {
                display: block;
                position: absolute;

                @include pc {
                  width: p(25);
                  height: p(47);
                  top: 0;
                  bottom: 0;
                  margin-block: auto;
                }

                @include sp {
                  width: s(23);
                  height: s(27);
                }

                &::before,
                &::after {
                  content: "";
                  position: absolute;
                  @include iconContain($star-icon);
                  display: block;
                  animation: rotate_star linear infinite;

                  @keyframes rotate_star {

                    0%,
                    100% {
                      transform: scaleX(1);
                    }

                    50% {
                      transform: scaleX(-1);
                    }
                  }
                }

                &:first-child {

                  @include pc {
                    left: p(-10);
                  }

                  @include sp {
                    top: s(-10);
                    left: s(5);
                  }

                  &::before {
                    aspect-ratio: 19/20;
                    animation-duration: 1s;
                    top: 0;
                    right: 0;

                    @include pc {
                      width: p(19);
                    }

                    @include sp {
                      width: s(13);
                    }
                  }

                  &::after {
                    aspect-ratio: 22/24;
                    animation-duration: 1.5s;
                    bottom: 0;
                    left: 0;

                    @include pc {
                      width: p(22);
                    }

                    @include sp {
                      width: s(11);
                    }
                  }
                }

                &:last-child {

                  @include pc {
                    right: p(-10);
                  }

                  @include sp {
                    bottom: s(-20);
                    right: s(10);
                  }

                  &::before {
                    aspect-ratio: 19/20;
                    animation-duration: 1.5s;
                    top: 0;
                    right: 0;

                    @include pc {
                      width: p(19);
                    }

                    @include sp {
                      width: s(11);
                    }
                  }

                  &::after {
                    aspect-ratio: 22/24;
                    animation-duration: 1s;
                    bottom: 0;
                    left: 0;

                    @include pc {
                      width: p(22);
                    }

                    @include sp {
                      width: s(13);
                    }
                  }
                }
              }
            }

            &-span {

              @include sp{
                display: inline-block;
                text-align: left;
                width: 100%;
              }

              &-inner {
                @include sp{
                  display: block;
                  text-align: left;
                  padding-left: s(100);
                }
              }
            }
          }
        }
      }
    }
  }

  .inner--img {
    @include imgCover("C_farmer-contents-inner-img.jpg");
    position: relative;

    @include pc {
      height: p(489);
      background-position: center top 33%;
    }

    @include sp {
      height: s(243);
      background-position: top 40% left 70%;
      background-size: 150%;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      @include pc {
        background: linear-gradient(174deg, #F7F6F3 20%, rgba(255, 255, 255, 0.00) 46.78%);
      }

      @include sp {
        background: linear-gradient(174deg, #F7F6F3 10%, rgba(255, 255, 255, 0.00) 46.78%);
      }
    }
  }
}