@use "../../functions" as *;
@use "../J_functions" as *;

/* -----------------------
  C_voice
----------------------- */

.C_voice {
  background-color: #FFF;
  position: relative;
  overflow: hidden;

  @include pc {
    padding-block: p(100);
  }

  @include sp {
    padding-block: s(60);
  }

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    aspect-ratio: 1;
    left: 50%;
    transform: translate(-50%, -50%);
    background: radial-gradient(#FF8584 0%, #FFF 70%);
    opacity: 0;
    transition: opacity 0.5s ease-in-out 1s;

    @include pc {
      top: 50%;
      width: 90%;
    }

    @include sp {
      top: 55%;
      width: 200%;
    }
  }

  &.show {
    &::before {
      opacity: 1;
    }
  }

  &::after {
    content: "";
    position: absolute;
    z-index: 2;
    transform: translate(-50%, -50%);
    aspect-ratio: 1;

    @include pc {
      @include imgContain("C_voice-BK.png");
      width: 100%;
      top: 50%;
      left: 47%;
    }

    @include sp {
      @include imgContain("C_voice-BK-sp.png");
      width: 246%;
      top: 50%;
      left: 56%;
    }
  }

  &--inner {
    position: relative;
    z-index: 3;

    .C_all-title {
      &.is_i-see {
        .title-wrap {
          .TL {
            @media screen and (max-width: 900px) and (min-width: 768px) {
              font-size: pm(34);
            }

            &_big {
              @media screen and (max-width: 900px) and (min-width: 768px) {
                font-size: pm(50);
              }
            }
          }
        }
      }
    }

    .voice__contents {

      @include pc {
        margin-top: p(191);
        @include column(p(230));
      }

      @include sp {
        margin-top: s(107);
        @include column(s(82));
      }

      .voice__item {
        display: flex;

        @include pc {
          align-items: center;
          gap: p(21);
        }

        @include sp {
          flex-direction: column;
        }

        .voice__icon {
          position: relative;
          width: fit-content;

          @include pc {
            flex-shrink: 0;
          }

          img {
            position: absolute;
          }

          .img {

            @include pc {
              width: p(180);
              height: p(180);
            }

            @include sp {
              width: s(113);
              height: s(113);
            }
          }
        }

        .voice__text {
          width: 100%;
          background: #FFF6F6;

          @include pc {
            border-radius: p(11);
          }

          @include sp {
            border-radius: s(11);
            margin-top: s(-9);
          }

          .TX {
            @include maru;
            @include wt400;
            line-height: 1.5;

            @include pc {
              font-size: pm(16);
            }

            @include sp {
              font-size: s(16);
            }
          }
        }

        &:nth-child(even) {

          @include pc {
            flex-direction: row-reverse;
          }

          .voice__icon {
            @include sp {
              margin-left: auto;
            }
          }
        }

        &:nth-child(1) {

          .voice__icon {

            img {

              @include pc {
                width: pm(541.43);
                bottom: 105%;
                left: 70%;
              }

              @include sp {
                width: s(231);
                bottom: 47%;
                left: 95%;
              }
            }

            .img {
              @include imgContain("C_voice__icon-img-01.png");
            }
          }

          .voice__text {

            @include pc {
              padding: p(27) p(31) p(17);
            }

            @include sp {
              padding: s(18) s(4) s(17) s(13);
            }
          }
        }

        &:nth-child(2) {

          .voice__icon {

            img {

              @include pc {
                width: pm(597.43);
                bottom: 98%;
                right: 90%;
              }

              @include sp {
                width: s(265);
                bottom: 42%;
                right: 86%;
              }
            }

            .img {
              @include imgContain("C_voice__icon-img-02.png");
            }
          }

          .voice__text {

            @include pc {
              padding: p(33) p(20) p(34) p(50);
            }

            @include sp {
              padding: s(23) s(13) s(25);
            }
          }
        }
      }
    }
  }
}