
$pc: 768px; // PC
$sp: 767px;  // スマホ

@mixin pc {
  @media screen and (min-width: ($pc)) {
    @content;
  }
}
@mixin sp {
  @media  screen and (max-width: ($sp)) {
    @content;
  }
}

// どセンター
@mixin center{
  display: flex;
  justify-content: center;
  align-items: center;
}


// 縦並び間空き
@mixin column($gap){
  display: flex;
  flex-direction: column;
  gap: $gap;
}
// ↓CSSでは
// @include column( calc(( 50 / 1280) * 100vw) );


// background
@mixin img($img){
  background-image: url('/img/#{$img}');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
// ↓CSSでは
// @include img('example.jpg');


// backgroundIcon
@mixin icon($img){
  background-image: $img;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
// ↓CSSでは
// @include icon($dot);


// フォント
// font-family: Hiragino Kaku Gothic Pro;
@mixin hira {
  font-family: "hiragino-kaku-gothic-pron", sans-serif;
  font-weight: 300;
  font-style: normal;
  line-height: normal;
}

// font-family: Kapakana;
@mixin kapa {
  font-family: 'Kapakana', sans-serif;
  font-style: normal;
  line-height: normal;
}

// font-family: Hina Mincho;
@mixin hina {
  font-family: 'Hina Mincho', serif;
  font-style: normal;
  line-height: normal;
}

// font-family: Noto Serif JP;
@mixin serif {
  font-family: 'Noto Serif JP', serif;
  font-style: normal;
  line-height: normal;
}


// 関数の使い方
// @mixin test($sidePadding : calc(( 98 / 1280) * 100vw) , $sidemargin : 0 0 0 auto ){
//   .test--btn{
//     padding: calc(( 6 / 1280) * 100vw) $sidePadding calc(( 2 / 1280) * 100vw);
//     margin: $sidemargin;
//   }
// }


// @mixin img($img){
//   background-image: url('/img/#{$img}');
//   background-size: contain;
//   background-position: center;
//   background-repeat: no-repeat;
// }
// ↓CSSでは
// @include img('example.jpg');