@use "../functions" as *;

/* -----------------------
  C_ContactConfirm
----------------------- */

.C_ContactConfirm {

  .content {

    @include sp{
      padding: 0 s(20);
    }

    .TX {
      color: $F-333;

      @include pc {
        font-size: p(20);
      }

      @include sp {
        font-size: s(16);
      }
    }
  }
}