@use "../functions" as *;

/* -----------------------
  C_Form
----------------------- */

.C_Form {
  margin: 0 auto;

  @include pc {
    width: p(880);
  }

  @include sp {
    width: s(350);
  }

  .form {

    .lists {

      @include pc {}

      @include sp {}

      li {
        border-bottom: solid $P-C0C0C0;

        @include pc {
          padding: p(23) p(12);
          border-bottom-width: p(1);
        }

        @include sp {}

        &:last-child {
          border-bottom: none;
        }

        &.last_list {
          padding: 0;

          @include pc{
            padding-top: p(40);
          }
          
          @include sp{}

          .Confirm{

            @include pc{
              @include column(p(47));
            }
            
            @include sp{}

            .Agreement_area{
              margin: 0 auto;
              width: fit-content;

              .Agreement{

                @include pc{}
                
                @include sp{}
              }
            }

            .Btn_area{
              width: fit-content;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }
}