@use "../functions" as *;

/* -----------------------
  C_MainFooter
----------------------- */

.C_MainFooter {
  background: $B-1E1E1E;
  color: $F-FFF;
  text-align: center;

  @include pc {
    padding-top: p(27);
  }

  @include sp {
    padding-top: s(27);
  }

  &__container {

    &--title {

      @include pc {
        margin-bottom: p(3);
      }

      @include sp {
        margin-bottom: s(3);
      }

      .TL {

        a {
          @include ntr;
          line-height: 2.1;
          color: $F-FFF;

          @include pc {
            font-size: p(30);
          }

          @include sp {
            font-size: s(30);
          }
        }
      }
    }

    &--address {

      @include pc {
        margin-bottom: p(10);
      }

      @include sp {
        margin-bottom: s(10);
      }

      .TX {
        @include wt300;
        line-height: 1.57;

        @include pc {
          font-size: pm(14);
        }

        @include sp {
          font-size: s(14);
        }

        span {
          display: block;
          @include wt300;

          @include pc {
            font-size: pm(13);
          }

          @include sp {
            font-size: s(13);
          }
        }
      }
    }

    &--map {
      width: fit-content;
      margin: 0 auto;
      border-bottom: solid $F-FFF;

      @include pc {
        padding-bottom: p(3);
        margin-bottom: p(23);
        border-bottom-width: p(1);
      }

      @include sp {
        padding-bottom: s(3);
        margin-bottom: s(23);
        border-bottom-width: s(1);
      }

      a {
        color: $F-FFF;
        @include julius;

        @include pc {
          font-size: pm(13);
        }

        @include sp {
          font-size: s(13);
        }
      }
    }

    &--tel {

      @include pc {
        margin-bottom: p(60);
      }

      @include sp {
        margin-bottom: s(51);
      }

      a {
        color: $F-FFF;

        @include pc {
          font-size: p(20);
        }

        @include sp {
          font-size: s(20);
        }
      }
    }

    &--nav {
      border-bottom: solid $F-FFF;

      @include pc {
        width: fit-content;
        margin: 0 auto;
        padding-bottom: p(16);
        border-bottom-width: p(1);
      }

      @include sp {
        width: 100%;
        padding-bottom: s(45);
        border-bottom-width: s(1);
      }

      .lists {
        display: flex;

        @include pc {
          gap: p(62);
        }

        @include sp {
          flex-wrap: wrap;
          row-gap: s(34);
          padding-left: s(28);
        }

        li {

          @include sp {
            width: calc(100% / 3);
            text-align: left;
          }

          a {
            color: $F-FFF;
            @include letterS(1.5);

            @include pc {
              font-size: pm(15);
            }

            @include sp {
              font-size: s(15);
            }
          }
        }
      }
    }
  }

  .CopyRight {

    @include pc {
      padding: p(25) 0 p(21);
    }

    @include sp {
      padding: s(24) s(20) s(21);
    }

    .TX {
      text-align: center;
      @include julius;

      @include pc {
        font-size: p(13);
      }

      @include sp {
        font-size: s(13);
      }

      &.reCAPTCHA {

        @include pc {
          margin-top: p(10);
        }

        @include sp {
          margin-top: s(10);
        }

        a {
          color: $F-FFF;
        }
      }
    }
  }
}