@use "../functions" as *;

/* -----------------------
  C_RecruitBtn
----------------------- */

.C_RecruitBtn {
  display: block;
  position: relative;
  overflow: hidden;
  --transition-duration: 0.5s;

  @include pc {
    height: p(377);
    @include column(p(10));
  }

  @include sp {
    height: s(400);
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    inset: auto;
    width: 100%;
    height: 100%;
    @include imgCover('C_RecruitBtnーbg.jpg');
    transition: all var(--transition-duration);
    z-index: 1;

    @include pc {
      background-position: top 27% center;
    }

    @include sp {
      background-size: 225%;
      background-position: top 40% left 22%;
    }
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(30, 30, 30, 0.80);
    transition: all var(--transition-duration);
    z-index: 2;
  }

  &:hover {

    &::after {
      transform: scale(1.1);
    }

    &::before {
      background-color: rgba(30, 30, 30, 0.30);
    }

    .C_RecruitBtn--inner {
      .TX {
        letter-spacing: 0.2em;
      }

      .TL {
        letter-spacing: 0.15em;
      }
    }
  }

  &--inner {
    position: absolute;
    @include p-center;
    text-align: center;
    z-index: 3;
    width: 100%;

    @include pc {
      @include column(p(10));
    }

    @include sp {
      @include column(s(10));
    }

    .TX {
      color: $F-D7D7D7;
      @include wt300;
      @include letterS(1.3);
      transition: all var(--transition-duration);

      @include pc {
        font-size: pm(13);
      }

      @include sp {
        font-size: s(13);
      }
    }

    .TL {
      color: #FFF;
      @include julius;
      transition: all var(--transition-duration);

      @include pc {
        font-size: p(50);
      }

      @include sp {
        font-size: s(50);
      }
    }
  }
}