@use "../functions" as *;

/* -----------------------
  C_RecruitBtn
----------------------- */

.C_RecruitBtn {
  display: block;
  position: relative;
  @include imgCover('C_RecruitBtnーbg.jpg');

  @include pc {
    height: p(377);
    background-position: top 27% center;
    @include column(p(10));
  }

  @include sp {
    height: s(400);
    background-size: 225%;
    background-position: top 40% left 22%;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(30, 30, 30, 0.80);
    transition: all 0.3s;
  }

  &:hover {
    &::before {
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
    }
  }

  &--inner {
    position: absolute;
    @include p-center;
    text-align: center;
    z-index: 3;
    width: 100%;

    @include pc{
      @include column(p(10));
    }
    
    @include sp{
      @include column(s(10));
    }

    .TX {
      color: $F-D7D7D7;
      @include wt300;
      @include letterS(1.3);

      @include pc {
        font-size: pm(13);
      }

      @include sp {
        font-size: s(13);
      }
    }

    .TL {
      color: #FFF;
      @include julius;
      
      @include pc {
        font-size: p(50);
      }

      @include sp {
        font-size: s(50);
      }
    }
  }
}