@use "../functions" as *;

/* -----------------------
  C_Topics
----------------------- */

.C_Topics {

  @include pc {
    padding: p(160) 0;
  }

  @include sp {
    padding: s(60) s(20) s(200);
  }

  &--inner {
    margin: 0 auto;

    @include pc {
      width: p(889);
      @include column(p(60));
    }

    @include sp {
      @include column(s(30));
    }

    .container {

      .lists {

        li {
          border-bottom: solid $P-E1E1E1;

          @include pc {
            padding: p(17) p(50);
            border-bottom-width: pm(0.5, 0.5);
          }

          @include sp {
            padding: s(30) 0 s(15);
            border-bottom-width: s(0.5);
          }

          &:first-child {
            padding-top: unset;
          }

          &:last-child {

            @include pc {
              padding-bottom: unset;
              border-bottom: none;
            }
          }

          &:nth-child(3n+1){
            .iCatch {
              @include imgCover("C_Topics-01.jpg");
            }
          }

          &:nth-child(3n+2){
            .iCatch {
              @include imgCover("C_Topics-02.jpg");
            }
          }

          &:nth-child(3n){
            .iCatch {
              @include imgCover("C_Topics-03.png");
            }
          }

          a {

            .content {
              display: flex;

              @include pc {
                align-items: center;
                gap: p(51);
              }

              @include sp {
                flex-direction: column;
                gap: s(17);
              }

              .iCatch {
                background-size: cover;
                background-position: center;
                flex-shrink: 0;

                @include pc {
                  width: pm(119);
                  height: pm(60);
                }

                @include sp {
                  width: s(119);
                  height: s(60);
                }
              }

              .title {

                @include pc {
                  @include column(p(8));
                }

                @include sp {
                  @include column(s(8));
                }

                .date {
                  color: $F-1E1E1E;
                  @include julius;

                  @include pc {
                    font-size: pm(16);
                  }

                  @include sp {
                    font-size: s(16);
                  }
                }

                .TL {
                  color: $F-838383;
                  display: -webkit-box;
                  -webkit-box-orient: vertical;
                  overflow: hidden;

                  @include pc {
                    font-size: pm(16);
                    -webkit-line-clamp: 1;
                  }

                  @include sp {
                    font-size: s(16);
                    -webkit-line-clamp: 2;
                  }
                }
              }
            }
          }
        }
      }
    }

    .page_nation {
      width: 300px;
      height: 50px;
      background-color: black;

      @include pc {
        margin-left: p(50)
      }

      @include sp {}

      ;
    }
  }
}