@use "../global" as *;

/* -----------------------
  C_title
----------------------- */

.C_title{
  width: fit-content;
  margin: 0 auto;
  text-align: center;

  p{
    @include zen;
    line-height: 175%;
    letter-spacing: 0.08em;
    color: $CTitleGray;

    @include pc{
      font-size: max(calc(( 16 / 1280) * 100vw),12px);
    }

    @include sp{
      font-size: calc(( 12 / 390) * 100vw);
    }
  }

  h2{
    @include zen;
    line-height: 125%;
    color: $CTitleBlack;
    
    
    @include pc{
      font-size: max(calc(( 30 / 1280) * 100vw),20px);
    }
    @include sp{
      font-size: calc(( 20 / 390) * 100vw);
    }
  }
}